// ############ Pathes ############

$path-fonts: '../fonts/';
$path-img: '/images/rugby2019/';

// ############ Fonts ############
$roboto: 'Roboto';
$webbelliscup: 'webbelliscup';
$arkipelago: 'arkipelago';

$font-primary: $webbelliscup, sans-serif;
$font-secondary: $roboto, sans-serif;
$font-tertiary: $arkipelago, cursive;
$font-heading: $font-secondary;

// ############ Colors ############
$white: #fff;
$gray-100: #fcfcfc;
$gray-200: #fafafa;
$gray-250: #f9f9f9;
$gray-300: #f3f3f3;
$gray-350: #f1f1f1;
$gray-375: #eee;
$gray-400: #e8e8e8;
$gray-450: #d6d6d6;
$gray-500: #97989a;
$gray-600: #6c6c6c;
$gray-700: #565656;
$gray-900: #1d1d1d;
$black: #000;
$blue: #53c8e9;
$blue-dark: #079;
$blue-light: #59c8e7;
$blue-2: #3bd8c2;
$blue-2-dark: #11827a;
$blue-3: #56ccf2;
$red: #f6436d;
$red-dark: #8e0322;
$red-light: #f2466f;
$red-2: #f13b54;
$red-3: #fc0000;
$purple: #993dba;
$purple-dark: #450d63;
$purple-light: #9843B7;
$purple-2: #452761;
$purple-2-light: #7c4993;
$pink: #c33a8c;

$primary: $pink;
$secondary: $gray-500;
$success: $blue-2;
$info: $blue;
$warning: $purple;
$danger: $red;
$light: $gray-100;
$dark: $gray-900;

// ############ Default ############

// Html 
$default-font-family: $font-primary;
$default-font-size: 16px;
$default-line-height: 1;
$default-font-weight: 400;
$default-font-style: normal;
$default-color: rgba($dark, .65);

// Body
$body-bg: $gray-100;

// Headings
$h2-color: rgba($dark, 0.9);

// Paragraphs
$p-color: rgba($dark, 0.65);

// Image caption
$image-caption-color: rgba($dark, 0.3);

// Page content wrap
$page-content-wrap-color: $gray-600;

// ############ Modals ############

// Filters
$modal-filters-heading-color: rgba($dark, 0.65);

// ############ Sections ############

// Main
$section-main-bg: $secondary url("#{$path-img}main-bg.jpg") center/cover;
$section-main-color: $white;

// Footer
$footer-bg-image: url("#{$path-img}footer-bg.png"), linear-gradient(250.26deg, $red-2 2.06%, $pink 59.34%);
$footer-bg-image-m: url("#{$path-img}footer-bg-m.png"), linear-gradient(263.97deg, $red-2 2.06%, $pink 59.34%);
$footer-bg-color: $pink;
$footer-color: $white;

// Packages
$packages-contact-color: rgba($dark, 0.25);

// Copyright
$copiryght-color: rgba($dark, 0.25);

// ############ Components ############

// Buttons

// Search buttons
$btn-search-border-color: $gray-400;
$btn-search-border-color: $gray-400;
$btn-search-bg: rgba($dark, 0.05) url("#{$path-img}icons/loupe.svg") left 10px center/16px no-repeat;
$btn-search-bg-color-hover: rgba($dark, 0.1);

// Select buttons
$btn-select-border-color: $gray-300;
$btn-select-bg-image: url("#{$path-img}icons/arrow.svg");
$btn-select-bg-color: $white;
$btn-select-color: rgba($dark, 0.7);

// Reset buttons
$btn-reset-border-color: $gray-300;
$btn-reset-bg-color: $white;
$btn-reset-color: rgba($red-2, 0.8);

// Filters button
$btn-filters-border-color: $gray-400;
$btn-filters-bg: $white url("#{$path-img}icons/filters.svg") no-repeat left 20px top 10px/18px;
$btn-filters-color: rgba($dark, 0.35);

// Filter button
$btn-filter-border-color: $gray-375;
$btn-filter-bg-color: $white;
$btn-filter-color: rgba($dark, 0.35);
$btn-filter-active-border-color: darken($btn-filter-border-color, 40%);
$btn-filter-active-color: rgba($dark, 0.8);
$btn-filter-active-box-shadow-color: rgba($btn-filter-active-border-color, 0.2);
$btn-filter-border-color-desktop: $gray-300;
$btn-filter-padding-y-desktop: 8px;
$btn-filter-color-desktop: rgba($black, 0.6);
$btn-filter-bg-hover-desktop: rgba($dark, 0.05);
$btn-filter-active-border-color-desktop: rgba($dark, 0.1);

// Filter button pool A
$btn-filter-pool-a-active-color: $blue;
$btn-filter-pool-a-active-border-color: darken($blue, 10%);
$btn-filter-pool-a-active-box-shadow-color: rgba($blue, 0.2);

// Filter button pool B
$btn-filter-pool-b-active-color: $red;
$btn-filter-pool-b-active-border-color: darken($red, 10%);
$btn-filter-pool-b-active-box-shadow-color: rgba($red, 0.2);

// Filter button pool C
$btn-filter-pool-c-active-color: $blue-2;
$btn-filter-pool-c-active-border-color: darken($blue-2, 10%);
$btn-filter-pool-c-active-box-shadow-color: rgba($blue-2, 0.2);

// Filter button pool D
$btn-filter-pool-d-active-color: $purple;
$btn-filter-pool-d-active-border-color: darken($purple, 10%);
$btn-filter-pool-d-active-box-shadow-color: rgba($purple, 0.2);

// Gradient button
$btn-gradient-bg-image: linear-gradient(180deg, $red-2 0%, $pink 100%);

// Form control
$form-control-color: rgba($dark, 0.7);
$form-control-placeholder-color: rgba($dark, 0.35);

// Dropdown
$dropdown-show-more-color: $blue-3;
$dropdown-scroll-color: $blue-3;

// Custom scrollbar
$custom-scrollbar-bg: rgba($dark, 0.1);
$custom-scrollbar-color: $blue-3;

// Datepicker
$datepicker-border-color: $gray-400;
$datepicker-bg: $white;
$datepicker-box-shadow-color: rgba($dark, 0.05);
$datepicker-title-color: rgba($dark, 0.65);
$datepicker-th-color: rgba($dark, 0.75);
$datepicker-td-disabled-color: rgba($dark, 0.20);
$datepicker-td-color: rgba($dark, 0.45);
$datepicker-td-active-color: rgba($white, 0.9);
$datepicker-td-active-bg: $blue-3;

// Nav tabs
$nav-tabs-bg: $body-bg;
$nav-tabs-color: $dark;
$nav-tabs-border-bg: linear-gradient(90deg, rgba($black, .19), rgba($black, .06));
$nav-tabs-border-active-bg: $red-2;
$nav-tabs-border-active-shadow: 0px -4px 15px rgba($red-2, 0.55);
$nav-tabs-border-active-white: $body-bg;
$nav-tabs-copy-box-shadow: 0px 4px 10px rgba($black, 0.1);

// Modal
$modal-content-box-shadow: 0px -3px 10px rgba($dark, 0.1);
$modal-title-color: rgba($dark, 0.35);
$modal-footer-box-shadow: 0px -2.70435px 9.01449px rgba($dark, 0.1);

// Collapse
$collapse-title-bg-color: $purple-2;
$collapse-title-bg-image: url("#{$path-img}collapse-title-bg-pattern.png"), linear-gradient(90deg, $purple-2 13.87%, rgba($purple-2-light, 0.81) 118.81%);
$collapse-title-color: $white;
$collapse-title-box-shadow: 0px 0px 30.7315px rgba($dark, 0.05);
$collapse-border-color: $gray-450;
$collapse-text-background-color: $light;
$collapse-text-color: rgba($dark, 0.9);

// Match
$match-color: rgba($dark, 0.75);
$match-pool-color: rgba($white, 0.9);
$match-pool-text-shadow: 0px 4px 15px rgba($black, 0.2);
$match-pool-bg-image: url("#{$path-img}match-bg-pattern.png");
$match-pool-a-bg-color: $blue-light;
$match-pool-b-bg-color: $red-light;
$match-pool-c-bg-color: $blue-2;
$match-pool-d-bg-color: $purple-light;
$match-pool-not-known-bg-color: $gray-500;
$match-bg-color: $white;
$match-border: 1px solid rgba($dark, 0.1);

// Pool
$pool-border-color: rgba($black, 0.15);
$pool-bg-color: $white;
$pool-a-title-color: $blue;
$pool-a-country-color: $blue-dark;
$pool-b-title-color: $red;
$pool-b-country-color: $red-dark;
$pool-c-title-color: $blue-2;
$pool-c-country-color: $blue-2-dark;
$pool-d-title-color: $purple;
$pool-d-country-color: $purple-dark;

// Video
$video-duration-icon-bg-color: #9b3cbc;
$video-duration-bg-color: #490d67;
$video-duration-color: $white;
$video-title-color: rgba($black, 0.8);
$video-time-color: rgba($black, 0.5);

// Package
$package-border-radius: 5px;
$package-border-color: $gray-350;
$package-bg-color: $white;
$package-date-bg-color: rgba($dark, 0.3);
$package-date-color: rgba($white, 0.8);
$package-color: rgba($dark, 0.75);
$package-price-text-color: rgba($dark, 0.5);
$package-flight-text-color: rgba($dark, 0.4);

// Cards
$card-border-radius: 5px;
$card-inner-border-radius: 5px;
$card-border-color: rgba($dark, 0.1);
$list-group-border-color: $gray-250;
$card-header-color: $light;
$card-body-color: $light;
$card-list-group-color: rgba($dark, 0.75);