<template>
    <div class="container">
        <date-range-picker
                :autoApply=true
                :endDate="endDate"
                :locale-data="locale"
                :ranges=false
                :startDate="startDate"
                @update="updated"
                maxDate="2019-11-02"
                minDate="2019-09-20"
                opens="right"

        >
        </date-range-picker>
    </div>
</template>

<script>
    import {EventBus} from '../event.js';
    import DateRangePicker from 'vue2-daterange-picker'
    import 'vue2-daterange-picker/dist/lib/vue-daterange-picker.min.css'
    //import moment from 'moment'
    export default {
        name: 'DateRanger',
        components: {DateRangePicker},
        props: [
            'startDate',
            'endDate',
        ],
        data() {
            return {
                locale: {
                    direction: 'ltr', //direction of text
                    format: 'DD-MMM', //fomart of the dates displayed
                    separator: ' - ', //separator between the two ranges
                    firstDay: 1, //ISO first day of week - see moment documenations for details
                },
                ranges: {},
            }
        },
        methods: {
            updated(value) {
                //this.startDate=value.startDate
                //this.endDate=value.endDate
                this.$emit('update', value)
            },
        },
        mounted() {
        }
    }
</script>
