<template>
    <div class="d-flex flex-column align-items-center sponsor">
        <div class="sponsor__logo"></div>
        <div class="sponsor__text">The Webb Ellis Cup is protected by TM © Rugby World Cup Limited 2015. All rights
            reserved.
        </div>
    </div>
</template>

<script>
    export default {
        name: 'sponsor',
    }
</script>