<template>
    <div>
        <div class="shadow-wrapper category-holder">
            <div :class="`cat-${getCategoryBackground(catType)}`"
                 class="d-flex justify-content-between align-items-center shadow-container category">
                <!-- CATEGORY TYPE -->
                <div class="d-flex justify-content-center align-items-center category__title-block">
                    <div class="category__title">category</div>
                    <div :style="{ backgroundImage: `url('${categoryLetter}')` }" class="category__type"></div>
                </div>
                <!-- LINE -->
                <div class="downhill-line d-none d-md-block"></div>
                <!-- MATCH -->
                <div class="match__block d-none d-md-block">
                    <div class="match__date mb-5">
                        {{category.date | moment("DD MMMM YYYY")}},
                        (GMT+9) {{category.date | moment("HH:mm")}}
                    </div>
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant1_flag}')`}"
                                 class="match__participant-flag"></div>
                            <div class="match__participant-country">{{category.participant1_name}}</div>
                        </div>
                        <div class="vs mb-4">V</div>
                        <div class="d-flex flex-column justify-content-center align-items-center">
                            <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant2_flag}')`}"
                                 class="match__participant-flag"></div>
                            <div class="match__participant-country">{{category.participant2_name}}</div>
                        </div>
                    </div>
                </div>
                <div class="match__block-short d-md-none">
                    <div class="d-flex justify-content-start align-items-center mb-3">
                        <span class="title-icon ticket"></span>
                        <span>{{category.participant1_name}} v {{category.participant2_name}} - {{packageInfo.title}}</span>
                    </div>
                    <!--          <div class="d-flex justify-content-start align-items-center">-->
                    <!--            <span class="title-icon ticket"></span>-->
                    <!--            <span>New Zealand v South Africa2222</span>-->
                    <!--          </div>-->
                </div>
                <!-- LINE -->
                <div class="downhill-line deg-10 d-none d-md-block"></div>
                <!-- SELECTION -->
                <div class="d-flex align-items-center select-block">
                    <div class="category__price" v-if="catType!='D'">
                        +RM {{currentPrice}}
                    </div>
                    <button
                            :class="categorySelected?'checked':''"
                            @click="selectCategory()"
                            class="btn btn-gradient-select btn-gradient"
                            type="button">Select
                    </button>
                </div>
                <!-- CATEGORY INFO -->
                <a :href="'#categoryDetailsModal' + catType+category.id"
                   class="d-flex justify-content-center align-items-center category__info"
                   data-toggle="modal">i
                </a>
            </div>
        </div>

        <!-- START CATEGORY MODAL -->
        <div :id="'categoryDetailsModal' + catType+category.id" aria-hidden="true"
             aria-labelledby="categoryDetailsModalLabel" class="modal fade category-popup" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header flex-column justify-content-center align-items-center">
                        <button aria-label="Close" class="close-button" data-dismiss="modal" type="button">
                        </button>
                        <div class="title text-uppercase">category {{catType}}</div>
                        <div class="participants">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant1_flag}')`}"
                                     class="match__participant-flag"></div>
                                <div class="match__participant-country">{{category.participant1_name}}</div>
                            </div>
                            <div class="vs mb-4">V</div>
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${category.participant2_flag}')`}"
                                     class="match__participant-flag"></div>
                                <div class="match__participant-country">{{category.participant2_name}}</div>
                            </div>
                        </div>
                    </div>
                    <div :class="`tokyo-${getCategoryBackground(catType)}`" class="modal-body">
                        <div>
                            {{category.date | moment("ddd DD MMMM YYYY")}}, (GMT+9) {{category.date | moment("HH:mm")}}
                        </div>
                        <div class="stadium-img">
                            <img class="img-fluid" :src="stadiumImg" :alt="category.venue + ' - ' + catType">
                        </div>
                        <div>{{category.venue}}</div>
                    </div>
                </div>
            </div>
        </div>
        <!--    END CATEGORY MODAL-->
        <!-- START CONFIRM MODAL -->
        <div :id="'categoryConfirmModal' + catType+category.id" aria-hidden="true"
             aria-labelledby="categoryConfirmModalLabel" class="modal fade category-popup" role="dialog" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header flex-column justify-content-center align-items-center"
                         style="height: 200px">
                        <button aria-label="Close" class="close-button" data-dismiss="modal" type="button">
                        </button>
                    </div>
                    <div class="modal-body confirm-category" style="height: auto;padding: 20px 50px;">
                        You can only select tickets from one category. Un-select your tickets first and then order
                        tickets from a different category.
                    </div>
                </div>
            </div>
        </div>
        <!--    END CONFIRM MODAL-->
    </div>
</template>

<script>
    import {EventBus} from '../../event.js';
    import {mapGetters} from 'vuex';

    export default {
        name: 'category',
        props: {
            category: {
                type: Object,
                default: () => ({})
            },
            catType: {
                required: true,
            },
            categorySelected: {
                type: Boolean,
                default: false,
            },
        },
        data() {
            return {}
        },
        computed: {
            ...mapGetters([
                'imagesPath',
                'packageInfo',
            ]),
            currentPrice() {
                let delta = 0;

                switch (this.catType) {
                    case 'B':
                        delta = (this.category.cat_B - this.category.cat_D)
                        return delta + delta * this.packageInfo.margin / 100;
                    case 'C':
                        delta = (this.category.cat_C - this.category.cat_D)
                        return delta + delta * this.packageInfo.margin / 100;
                    case 'D':
                        return this.category.cat_D;
                }
                return 0
            },
            stadiumImg() {
                const stad = this.category.venue.split(',')[0].replace(/ /g, '_');
                return `/images/rugby2019/stadiums/${stad}_${this.catType}.png`
            },
            categoryLetter() {
                switch (this.catType) {
                    case 'B':
                        return `${this.imagesPath}B.png`;
                        break;
                    case 'C':
                        return `${this.imagesPath}C.png`;
                        break;
                    case 'D':
                        return `${this.imagesPath}D.png`;
                        break;
                }
            },
        },
        methods: {
            getCategoryBackground(type) {
                return type.toLowerCase();
            },

            selectCategory() {
                EventBus.$emit('categorySelected', {
                    'catType': this.catType,
                    'selected': this.categorySelected,
                    'id': this.category.id
                })
            }
        },
    }
</script>