<template>
    <div>
        <div :class="{'with-details': flightDetails}" class="shadow-wrapper">
            <div class="d-flex justify-content-between align-items-center shadow-container flight flex-wrap">
                <!-- DEPARTURE -->
                <div class="d-flex flex-column justify-content-center info-block">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <span class="title-icon up"></span>
                        <span>Departure</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div>
                            <div class="from-to">From</div>
                            <div class="flight__point">{{packageInfo.flight.city_origin.abbr}}</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flight__path">
                            <div class="flight__circle"></div>
                            <div class="flight__line"></div>
                            <i class="fa fa-angle-right"></i>
                            <div class="flight__circle"></div>
                        </div>
                        <div>
                            <div class="from-to">To</div>
                            <div class="flight__point">{{ finalDestination.abbr }}</div>
                        </div>
                    </div>
                    <div class="flight__airport">{{packageInfo.flight.city_origin.airport}}</div>
                    <div class="flight__transit d-none d-md-block" v-if="packageInfo.flight.transit">
                        1h 20 minutes layover in {{packageInfo.flight.transit_city_origin.abbr}}
                    </div>
                    <div class="flight__date">{{packageInfo.flight.date_origin_1 | moment("ddd, MMM DD, YYYY")}}</div>
                    <div class="flight__time">{{packageInfo.flight.date_origin_1 | moment("HH:mm")}}</div>
                </div>
                <!-- LINE -->
                <div class="downhill-line deg-15"></div>
                <!-- RETURN -->
                <div class="d-flex flex-column justify-content-center info-block">
                    <div class="d-flex justify-content-center align-items-center mb-4">
                        <span class="title-icon down"></span>
                        <span>Return</span>
                    </div>
                    <div class="d-flex align-items-center mb-2">
                        <div>
                            <div class="from-to">From</div>
                            <div class="flight__point">{{ finalDestination.abbr }}</div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center flight__path">
                            <div class="flight__circle"></div>
                            <div class="flight__line"></div>
                            <i class="fa fa-angle-right"></i>
                            <div class="flight__circle"></div>
                        </div>
                        <div>
                            <div class="from-to">To</div>
                            <div class="flight__point">{{packageInfo.flight.city_origin.abbr}}</div>
                        </div>
                    </div>
                    <div class="flight__airport">{{packageInfo.flight.city_destination.airport}}</div>
                    <div class="flight__transit d-none d-md-block" v-if="packageInfo.flight.transit">+1 Transit</div>
                    <div class="flight__date">{{packageInfo.flight.date_destination_1 | moment("ddd, MMM DD, YYYY")}}
                    </div>
                    <div class="flight__time">{{packageInfo.flight.date_destination_1 | moment("HH:mm")}}</div>
                </div>
                <!-- LINE -->
                <div class="downhill-line deg-10 d-none d-md-block"></div>
                <!-- SELECTION -->
                <div class="d-flex align-items-center select-block">
                    <div class="btn-wrap d-flex align-items-center">
                        <button
                                :disabled="flightSelected"
                                @click="selectFlight"
                                class="btn btn-gradient-select btn-gradient"
                                type="button">Select
                        </button>
                    </div>
                    <div @click="showFlightDetails()" class="d-flex align-items-center">
                        <span class="info">Flight Info</span>
                        <i :class="{'fa-angle-down': !flightDetails, 'fa-angle-up': flightDetails}" class="fa"></i>
                    </div>
                </div>
            </div>
        </div>

        <!-- FLIGHT DETAILS -->
        <div class="flight-details-wrapper" v-if="flightDetails">
            <div class="d-flex align-items-center flight-details-tabs">
                <div :class="{'active': infoSection == tab.section }"
                     :key="tab.section"
                     @click="showInfoSection(tab.section)"
                     class="tab"
                     v-for="tab in detailsTabs">{{tab.title}}
                </div>
            </div>

            <div class="tab-content">
                <div v-if="infoSection == 'departure'">
                    <div v-if="!packageInfo.flight.transit">
                        <flight-details :details="packageInfo.flight"
                                        :details-from="packageInfo.flight.city_origin"
                                        :details-to="packageInfo.flight.city_destination"
                                        :details-transit="packageInfo.flight.transit"
                                        :dt-end="packageInfo.flight.date_origin_2"
                                        :dt-start="packageInfo.flight.date_origin_1"
                                        :final-destination="finalDestination"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.origin_number"
                                        :package-info-flight="packageInfo.flight"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        section="departure"
                        >

                        </flight-details>
                    </div>
                    <div v-else>
                        <flight-details :details-from="packageInfo.flight.city_origin"
                                        :details-to="packageInfo.flight.city_destination"
                                        :details-transit="packageInfo.flight.transit.city.name"
                                        :dt-start="packageInfo.flight.date_origin_1"
                                        :dt-end="packageInfo.flight.date_origin_2"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.origin_number"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        section="return"
                        >

                        </flight-details>
                        <div class="flight-transit text-center">
                            Transit for 1 hour 30 minutes in {{packageInfo.flight.transit_city_origin.abbr}}
                        </div>
                        <flight-details :details-from="packageInfo.flight.city_destination"
                                        :details-to="finalDestination"
                                        :details-transit="packageInfo.flight.city_transit"
                                        :dt-start="packageInfo.flight.transit.date_origin_1"
                                        :dt-end="packageInfo.flight.transit.date_origin_2"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.transit.origin_number"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        section="return"
                        >

                        </flight-details>
                    </div>
                </div>
                <div v-if="infoSection == 'return'">
                    <div v-if="!packageInfo.flight.transit">
                        <flight-details :details-from="packageInfo.flight.city_destination"
                                        :details-transit="packageInfo.flight.transit"
                                        :details-to="packageInfo.flight.city_origin"
                                        :dt-end="packageInfo.flight.date_destination_2"
                                        :dt-start="packageInfo.flight.date_destination_1"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.destination_number"
                                        :details="packageInfo.flight"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        :final-destination="finalDestination"
                                        section="return"
                    >

                    </flight-details>
                    </div>
                    <div v-else>
                        <flight-details :details-from="finalDestination"
                                        :details-to="packageInfo.flight.city_destination"
                                        :details-transit="packageInfo.flight.transit.city.name"
                                        :dt-end="packageInfo.flight.transit.date_destination_2"
                                        :dt-start="packageInfo.flight.transit.date_destination_1"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.transit.destination_number"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        section="return"
                        >

                        </flight-details>
                      <div class="flight-transit text-center">
                          Transit for 1 hour 30 minutes in {{packageInfo.flight.transit_city_origin.abbr}}
                      </div>
                        <flight-details :details-from="packageInfo.flight.city_destination"
                                        :details-to="packageInfo.flight.city_origin"
                                        :details-transit="packageInfo.flight.city_transit"
                                        :dt-start="packageInfo.flight.date_destination_1"
                                        :dt-end="packageInfo.flight.date_destination_2"
                                        :flight-names="flightNames"
                                        :flight-number="packageInfo.flight.destination_number"
                                        :transit="packageInfo.flight.transit ? packageInfo.flight.transit : null"
                                        section="return"
                        >

                        </flight-details>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>
    import moment from 'moment';
    import {EventBus} from "../../event";
    import {mapGetters} from 'vuex';

    export default {
        name: 'flight',
        props: {
            flightSelected: false,
            flightNames: null,
        },
        data() {
            return {
                flightDetails: false,
                flightCityFullName: '',
                infoSection: 'departure',
                detailsTabs: [
                    {title: 'DEPARTURE FLIGHT', section: 'departure'},
                    {title: 'RETURN FLIGHT', section: 'return'}
                ],
                // finalDestination: null,
            }
        },
        computed: {
            ...mapGetters([
                'packageInfo',
            ]),
            // flightDuration () {
            //   var dateFrom = moment(this.detailsFrom.date);
            //   var dateTo = moment(this.detailsTo.date);
            //   return moment.utc(dateTo.diff(dateFrom)).format('H') + ' hours ' + moment.utc(dateTo.diff(dateFrom)).format('mm') + ' minutes';
            // },
            finalDestination() {
                if (this.packageInfo.flight.transit) {
                    return this.packageInfo.flight.transit_city_destination;
                } else {
                    return this.packageInfo.flight.city_destination;
                }
            },
        },
        methods: {
            showFlightDetails() {
                this.flightDetails = !this.flightDetails;
            },

            showInfoSection(section) {
                this.infoSection = section;
            },

            selectFlight() {
                EventBus.$emit('flightSelected');
            },

            getFinalDestinationByTransportationId(city_destination) {
                axios.get('/packagebuilder/transportation/transit/' + city_destination)
                    .then(function (response) {
                        console.log(response.data)
                        return response.data;
                    })
            },

            checkOrGetFinalDestinationByCities(cityOrigin, cityDestination) {
                let self = this;
                let result = [];
                axios.get('/rugby-world-cup-2019/packagebuilder/transportation/transit/check/' + cityOrigin + '/' + cityDestination)
                    .then(function (response) {
                        // console.log(response.data[0]);
                        self.finalDestination = response.data[0];
                    })
            }
        },
        mounted() {
            EventBus.$on('searchChanged', data => {
                this.flightDetails = false
            });
            // this.getFinalDestinationByTransportationId(packageInfo.flight.city_destination.id);
            console.log('packageInfo', packageInfo);
        }
    }
</script>