<template>
    <div class="order-summary-window">
        <form :action="url" :method="method">
            <!--            <input type="hidden" :value="csrf_token" id="_token" name="_token">-->
            <!--            <input type="hidden" :value="JSON.stringify(this.$store.state.data4post)" id="data" name="data" v-if="'post'==method.toLowerCase()">-->
            <input id="data" type="hidden" v-if="'post'==method.toLowerCase()"
                   value='{"event_code":"S47GRW","customer_fullname":"Artem","customer_email":"artem.agafonov@faceit-team.com","customer_phone":"+380506202605","booking_id":"ZpMcba","booking_desc":"Package name is A","items":[{"item_id":1,"qty":2,"total_price":6},{"item_id":2,"qty":1,"total_price":1}]}'>
            <div class="order-window-desktop">

                <div class="summary-block d-none d-sm-block">
                    <div class="header">
                        <span class="title">ORDER SUMMARY</span>
                    </div>
                    <div class="event-title" v-if="eventTitle">{{eventTitle}}</div>
                    <div class="body2">
                        <div class="d-flex header2" v-if="showFlight2">
                            <div class="" style="width:30px;"><i class="fa fa-plane" style="color: #53C8E9;"></i></div>
                            <div class="title">Flight</div>
                        </div>
                        <div class="d-flex" v-if="showFlight2">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item">
                                    {{(packageInfo.flight)?packageInfo.flight.city_origin.abbr:''}}-{{(packageInfo.flight)?packageInfo.flight.city_destination.abbr:''}},
                                    {{(packageInfo.flight)?packageInfo.flight.date_origin_1:''| moment("DD/MM/YYYY")}}
                                </div>
                                <div class="item d-flex justify-content-between">
                                    <div>
                                        {{(packageInfo.flight)?packageInfo.flight.city_destination.abbr:''}}-{{(packageInfo.flight)?packageInfo.flight.city_origin.abbr:''}},
                                        {{(packageInfo.flight)?packageInfo.flight.date_destination_1:''|
                                        moment("DD/MM/YYYY")}}
                                    </div>
                                    <div>x{{travelers}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body2">
                        <div class="d-flex header2" v-if="this.$store.state.data4post.hotel !=''&&singleRooms">
                            <div class="" style="width:30px;"><i class="fa fa-hotel" style="color: #53C8E9;"></i></div>
                            <div class="title">Hotel</div>
                        </div>
                        <div class="d-flex" v-if="this.$store.state.data4post.hotel !=''&&singleRooms">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item">
                                    {{(packageInfo.hotel)?packageInfo.hotel.days:''}}-Days,
                                    {{(packageInfo.hotel)?packageInfo.hotel.night:''}}-Nights, Single Room,
                                </div>
                                <div class="item d-flex justify-content-between">
                                    <div>{{(packageInfo.hotel)?packageInfo.hotel.hotel_name:''}}</div>
                                    <div>x{{singleRooms}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex header2" v-if="this.$store.state.data4post.hotel !=''&&doubleRooms">
                            <div class="" style="width:30px;"><i class="fa fa-hotel" style="color: #53C8E9;"></i></div>
                            <div class="title">Hotel</div>
                        </div>
                        <div class="d-flex" v-if="this.$store.state.data4post.hotel !=''&&doubleRooms">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item">
                                    {{(packageInfo.hotel)?packageInfo.hotel.days:''}}-Days,
                                    {{(packageInfo.hotel)?packageInfo.hotel.night:''}}-Nights, Double Room,
                                </div>
                                <div class="item d-flex justify-content-between">
                                    <div>{{(packageInfo.hotel)?packageInfo.hotel.hotel_name:''}}</div>
                                    <div>x{{doubleRooms}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body2">
                        <div class="row header2" v-if="data4post.tickets&&data4post.tickets.length">
                            <div class="col-1"><i class="fa fa-ticket" style="color: #53C8E9AA;"></i></div>
                            <div class="col-10 title">Event Tickets</div>
                        </div>
                        <div class="d-flex" v-if="tickets4postDcount">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item d-flex justify-content-between">
                                    <div>Category D</div>
                                    <div>x{{tickets4postDcount}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" v-if="tickets4postCcount">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item d-flex justify-content-between">
                                    <div>Category C</div>
                                    <div>x{{tickets4postCcount}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex" v-if="tickets4postBcount">
                            <div style="width:30px;">&nbsp;</div>
                            <div class="details-list">
                                <div class="item d-flex justify-content-between">
                                    <div>Category B</div>
                                    <div>x{{tickets4postBcount}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="body2">
                        <div class="total-block">
                            <span>Total</span>
                            <span class="total">RM {{totalAmount | currency}}</span>
                        </div>

                        <div class="total-block2">
                            <button :disabled="btnCheckoutDisabled" class="btn btn-gradient-select btn-gradient w-100"
                                    type="submit">Checkout
                            </button>
                        </div>
                    </div>
                </div>
                <div id="section-total-mobile-pre"></div>
                <div class="summary-block-mobile" id="section-total-mobile">
                    <div class="title" v-html="eventTitleShort"></div>
                    <div class="d-flex flex-column">
                        <span class="from">From only</span>
                        <span class="price">RM {{totalAmount | currencyShort}} </span>
                    </div>
                    <button :disabled="btnCheckoutDisabled" class="btn btn-gradient-select btn-gradient " type="submit">
                        Get Tickets
                    </button>
                </div>
            </div>
        </form>
    </div>
</template>

<script>
    import {EventBus} from '../../event.js';
    import {mapGetters} from 'vuex';

    export default {
        name: 'OrderSummary',
        props: {
            eventTitle: {
                type: String,
                default: ""
            },
            url: {
                type: String,
                required: true
            },
            method: {
                type: String,
                default: "get"
            },
        },
        data() {
            return {
                flight: null,
                fromSearch: null,
                showFlight: true,
            }
        },
        computed: {
            ...mapGetters([
                'packageInfo',
                'data4post',
                'singleRooms',
                'doubleRooms',
                'rooms',
                'travelers',
                'totalAmount',
                'tickets',
                'tickets4postBcount',
                'tickets4postCcount',
                'tickets4postDcount',
                'tickets4postUniqCount',
            ]),
            eventTitleShort: function () {
                let res = ""
                let arr = this.eventTitle.split(" ")
                if (arr.length > 1) {
                    res = arr[0] + "<br>" + arr[1]
                }
                return res
            },
            btnCheckoutDisabled: function () {
                if (!this.tickets)
                    return true;
                // return (this.tickets4postBcount || this.tickets4postCcount || this.tickets4postDcount)===0
                return (this.tickets4postUniqCount !== this.tickets.length)
            },
            csrf_token: function () {
                return $('meta[name="csrf-token"]').attr('content');
            },
            showFlight2: function () {
                return this.$store.state.data4post.flight != ''
            },
        },
        methods: {
            handleScroll(event) {
                if ($('#section-total-mobile-pre').offset() && $('#section-total-mobile-pre').offset().top >= (window.scrollY + window.innerHeight - 70)) {
                    $('#section-total-mobile').addClass('order-window-mobile-fixed');
                } else {
                    $('#section-total-mobile').removeClass('order-window-mobile-fixed');
                }
            },
        },
        beforeMount() {
            this.orderDetails = this.detailsShow

        },
        mounted() {
            // EventBus.$on('searchChanged', data => {
            // if(!data)
            //     return;
            //this.fromSearch=data
            //this.flight={'departure_name':'KUL-HND','return_name':'HND-KUL','departure_dt':'2019-09-19 18:36','return_dt':'2019-09-22 18:57','price':'3020'}
            // })
        },
        created() {
            window.addEventListener('scroll', this.handleScroll);
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
    }
</script>