.btns-wrap {
    margin: 20px 0;

    .btn {
        margin: 5px;

        @media (min-width: $sm) {
            margin: 0;
        }

        & + .btn {
            margin: 5px;

            @media (min-width: $sm) {
                margin: 0 0 0 10px;
            }
        }
    }
}

.btn {
    transition: color $transition-time, background $transition-time, border-color $transition-time;
    box-sizing: border-box;
    border-radius: 3px;

    &:hover,
    &:active,
    &:active:hover,
    &:active:focus,
    &:focus {
        outline: none;
        box-shadow: none;
    }

    &.disabled {
        background: #d2d2d2;
        border-color: #d2d2d2;
        color: #fff;
        pointer-events: none;
    }
}

.btn-primary {
    background: $primary;
    border-color: $primary;
    color: #fff;

    &:hover,
    &:active,
    &:active:hover,
    &:active:focus,
    &:focus {
        background: $primary-hover;
        border-color: $primary-hover;
        color: #fff;
    }
}

.btn-primary_gradient {
    border: none;
    background: linear-gradient(180deg, #F13B54 0%, #C33A8C 100%);
    box-shadow: 0 0 30px rgba(241, 59, 84, .3);
    color: #fff;

    &:hover,
    &:focus {
        background: linear-gradient(0deg, #F13B54 0%, #C33A8C 100%);
        box-shadow: 0 0 30px rgba(241, 59, 84, .3);
        color: #fff;
    }
}

.btn-outline-primary {
    color: $primary;
    border: 1px solid $primary;
    background: transparent;

    &:hover,
    &:focus {
        background: $primary-hover;
        border-color: $primary-hover;
        color: #fff;
    }
}

.btn-primary-blur {
    background: rgba(241, 59, 84, .7);
    border-color: rgba(241, 59, 84, .5);
    color: #fff;

    &:hover,
    &:focus {
        background: $primary-hover;
        border-color: $primary-hover;
        color: #fff;
    }
}

.btn-grey {
    background: #6c6c6c;
    border-color: #6c6c6c;
    box-shadow: 0 5px 15px rgba(29, 29, 29, .2);
    color: #fff;

    &:hover,
    &:focus {
        background: #525252;
        border-color: #525252;
        box-shadow: 0 5px 15px rgba(29, 29, 29, .2);
        color: #fff;
    }
}

.btn-light-grey {
    background: #d2d2d2;
    border-color: #d2d2d2;
    color: #fff;

    &:hover,
    &:focus{
        background: #9b9b9b;
        border-color: #9b9b9b;
        color: #fff;
    }
}

.btn-light-grey.active {
    background: #6c6c6c;
    border-color: #6c6c6c;
    box-shadow: 0 5px 15px rgba(29, 29, 29, .2);
    color: #fff;

    &:hover,
    &:focus {
        background: #525252;
        border-color: #525252;
        box-shadow: 0 5px 15px rgba(29, 29, 29, .2);
        color: #fff;
    }
}

.btn-xl {
    min-width: 160px;
    padding: 8px 30px;
    font-size: 18px;

    @media (min-width: $lg) {
        min-width: 180px;
        font-size: 24px;
    }
}

.btn-lg {
    min-width: 130px;
    padding: 12px 30px;
    font-size: 16px;

    @media (min-width: $lg) {
        min-width: 150px;
        padding: 12px 30px;
        font-size: 18px;
    }
}

.btn-lg-small {
    min-width: 130px;
    font-size: 16px;

    @media (min-width: $lg) {
        min-width: 150px;
        font-size: 18px;
    }
}

.label {
    display: inline-block;
    min-width: 115px;
    padding: 6px 10px;
    border: none;
    border-radius: 3px;
    box-shadow: none;
    color: #fff;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: .02em;
    text-transform: none;
    box-sizing: border-box;

    &.label-published {
        background: #3ffff3;
    }

    &.label-suspended {
        background: #eb5757;
    }

    &.label-deleted {
        background: #1d1d1d;
    }

    &.label-draft {
        background: #f3a156;
    }

    &.label-closed {
        background: #b26219;
    }

    &.label-cancelled {
        background: #dfd61a;
    }

    &.label-private {
        background: #66eaaa;
    }
}

.link-back {
    color: #6c6c6c;
    font-size: 17px;
    font-weight: 700;
}

.btn-link {

    &:hover {
        text-decoration: none;
    }

    &:focus {
        outline: none;
    }
}

.btn-link-grey {
    font-weight: 500;
    font-size: 15px;
    letter-spacing: .027em;
    color: #b0b0b0;

    &:hover,
    &:focus,
    &.focus {
        color: #b0b0b0;
    }
}

.del-btn {
    position: absolute;
    right: 0;
    bottom: 0;
    font-weight: 700;
}

.btn-link-dark-grey {
    color: #999;

    &:hover {
        color: #999;
    }
}