.k-animation-container,
.k-animation-container *,
.k-animation-container :after,
.k-block .k-header,
.k-dialog .k-window-content,
.k-list-container,
.k-widget,
.k-widget *,
.k-widget :before {
    box-sizing: border-box;
}

.k-autocomplete {
    width: 100%;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

.h2 {
    color: #6c6c6c;
    font: 700 18px 'Roboto', sans-serif;
    margin: 0 0 15px;
}

.h-100 {
    height: 100%;
}

.m-0 {
    margin: 0;
}

.mx-0 {
    margin-right: 0;
    margin-left: 0;
}

.my-0 {
    margin-top: 0;
    margin-bottom: 0;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.align-items-start {
    align-items: flex-start;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.justify-content-center {
    justify-content: center;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mt-20 {
    margin-top: 20px;
}

.mt-30 {
    margin-top: 30px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Roboto', sans-serif;
}

.text-sky-blue {
    color: $sky-blue;

    &:hover,
    &:focus {
        outline: none;
        color: $sky-blue;
        text-decoration: underline;
    }
}

.content-wrapper {
    background: #fcfcfc;
    height: 100%;
}

a.text-primary,
.text-primary {
    color: $primary;

    &:hover,
    &:focus {
        color: $primary-hover
    }
}

.lead-sm {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .078em;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.lead-sm {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .078em;
}

.lead {
    font-size: 20px;
    font-weight: 400;
}

fieldset {
    border: 1px solid #d2d2d2;
    padding: 30px 15px 20px;

    @media (min-width: $lg) {
        padding: 50px 38px 40px;
    }

    & + fieldset {
        margin-top: 40px;
    }

    legend {
        width: auto;
        margin: 0;
        padding: 0 8px;
        border: none;
        font-weight: 700;
        font-size: 18px;
        color: #6c6c6c;
        letter-spacing: .016em;
        text-transform: uppercase;

        @media (min-width: $lg) {
            font-size: 24px;
        }
    }
}

.sortable-list {
    max-width: $content-max-width;
    padding-left: 15px;

    @media (min-width: $xxl) {
        padding-left: 0;
    }
}

.accordion-block,
.accordion-block.sortable {
    margin-bottom: 30px;
}

.sortable {
    position: relative;
    margin-bottom: 60px;

    &.hint {
        max-width: $content-max-width;

        .right-handler:before,
        .right-handler:after {
            content: none;
        }
    }

    &.placeholder {
        opacity: .5;
    }

    .del-btn {
        bottom: -25px;
    }
}

.right-handler {
    position: absolute;
    left: -20px;
    top: 51px;
    color: #dfdfdf;
    cursor: pointer;

    &:hover {

        &:after,
        &:before {
            opacity: 1;
            visibility: visible;
            transition: opacity $transition-time 1s, visibility $transition-time 1s;
        }
    }

    &:before,
    &:after {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
    }

    &:before {
        content: '';
        top: -9px;
        border: 10px solid transparent;
        border-top: 7px solid #f13b54;
    }

    &:after {
        content: 'Drag to reorder';
        top: -36px;
        padding: 5px;
        background: $primary;
        color: #fff;
        font-size: 14px;
        white-space: nowrap;
    }

    .k-icon {
        font-size: 20px;
    }
}

.handler {
    cursor: pointer;
}

.sortable-block {

    .right-handler {
        top: 20px;
    }
}

.accordion-block {

    .right-handler {
        top: 12px;
    }
}

.accordion-header {

    .accordion-title {
        margin: 0;
        padding: 11px 80px 11px 20px;
        line-height: 1;
        font-weight: 500;
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: .016em;
    }
}

.accordion-panel {
    position: relative;
    border: 1px solid #d2d2d2;
    border-radius: 4px;
    background: #fff;
    box-sizing: border-box;
    transition: box-shadow $transition-time;

    &.open {
        box-shadow: 0 0 30px #f4f4f4;
    }

    .top-checkbox-wrap {
        position: absolute;
        right: 14px;
        top: 5px;
        margin: 0;
    }
}

.accordion-panel-content {
    display: none;
    margin-top: 25px;
    padding: 0 20px 11px;
}

.accordion-btn {
    margin-top: 10px;
}

.hint {

    .accordion-panel-content {
        display: none;
    }
}

.round-status {
    display: inline-block;
    margin-right: 8px;
    width: 13px;
    height: 13px;
    border-radius: 50%;

    &.active, &.Active {
        background: #56f3b1;
    }

    &.suspend, &.Suspend {
        background: #eb5757;
    }

    &.pending, &.Pending {
        background: #edee70;
    }

    &.deleted, &.Deleted {
        background: #000000;
    }
}

.remark {
    margin-bottom: 20px;
    font-style: italic;
    font-size: 14px;
    text-align: center;
    letter-spacing: .014em;
    color: #b0b0b0;
}

.k-icon {
    vertical-align: middle;
}

.k-icon {
    vertical-align: middle;
}