.k-upload {
    display: none;
}

.drop-zone {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0;
    overflow: hidden;
    border-radius: $input-border-radius;
    text-align: center;
    letter-spacing: .021em;
    color: #bbb;
    font-size: 18px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    @media (min-width: $lg) {
        font-size: 24px;
        padding: 0;
    }

    &.dz-clickable {
        border: 1px dashed #d2d2d2;
        cursor: pointer;
    }

    &.horizontal {
        display: flex;
        flex-direction: column;

        @media (min-width: $xl) {
            flex-direction: row;
        }

        .fa {
            margin-right: 14px;

            @media (min-width: $xl) {
                margin-right: 28px;
            }
        }
    }

    &.vertical {
        flex-direction: column;

        .fa {
            display: block;
            margin-bottom: 14px;

            @media (min-width: $lg) {
                margin-bottom: 28px;
            }
        }
    }

    .fa {
        font-size: 24px;
        vertical-align: middle;

        @media (min-width: $lg) {
            font-size: 42px;
        }
    }

    &-desktop {
        width: 250px;
        height: 93px;

        @media (min-width: $sm) {
            width: 427px;
            height: 158px;
        }

        @media (min-width: $xl) {
            width: 602px;
            height: 222px;
            flex-direction: row;
        }

        .fa {

            @media (min-width: $xl) {
                margin-right: 28px;
            }
        }
    }

    &-mobile {
        width: 200px;
        height: 300px;
    }

    &-organizer {
        width: 300px;
        height: 300px;

        @media (min-width: $sm) {
            width: 300px;
            height: 300px;
        }

        .fa {
            margin-bottom: 18px;
        }
    }

    &-button {
        border: none;
        display: inline;
        background-color: transparent;
        text-decoration: underline;
    }

    &-ticket {
        width: 250px;
        height: 93px;

        @media (min-width: $sm) {
            width: 427px;
            height: 158px;
        }

        @media (min-width: $xl) {
            width: 602px;
            height: 222px;
        }
    }

    &-artist {
        width: 200px;
        height: 200px;

        @media (min-width: $xl) {
            width: 500px;
            height: 500px;
        }
    }

    &-gallery {
        width: 200px;
        height: 200px;

        @media (min-width: $xl) {
            width: 500px;
            height: 500px;
        }
    }

    &-small-icon {
        width: 95px;
        height: 73px;
        font-size: 12px;
    }
}

.crop-zone {
    position: relative;

    &__image {
        max-width: 100%;
    }

    &__actions {
        position: absolute;
        bottom: 10px;
        right: 20px;
        z-index: 10
    }

    .k-button {
        border-color: #000;
    }

    .fa {
        margin-right: 0;
        font-size: inherit;
    }
}

.croppie-container {

    .cr-viewport,
    .cr-resizer,
    .cr-boundary {

        @media (max-width: $lg) {
            max-width: 100% !important;
        }
    }

    .cr-slider-wrap {
        z-index: 2;
        width: 50%;
    }
}

.crop-zone {
    display: none;
}

.image-loaded .cr-slider-wrap {
    display: block;
}

.drop-zone.image-loaded {

    .drop-zone-placeholder {
        display: none;
    }

    .crop-zone {
        display: block;
    }
}

.drop-croppie-placeholder {
    padding: 5px 10px;
}

.drop-zone-controls {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    right: 21px;
    background: rgba(0, 0, 0, .85);
    box-shadow: 0 0 30px rgba(29, 29, 29, .05);
    border-radius: 3px;

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px;
        height: 50px;
        width: 50px;
        cursor: pointer;

        &:not(:last-child) {
            border-right: 1px solid rgba(255, 255, 255, 0.2);
        }

        .k-icon {
            color: #fff;
            font-size: 20px;
        }
    }
}

.drop-zone-seating-layout {
    min-height: 300px;
}

