.custom-checkboxes-list {

    .custom-checkbox-wrap {
        margin-bottom: 15px;
    }
}

.custom-checkbox-wrap {

    .custom-checkbox-label {
        width: auto;
        color: #8e8e8e;
        text-transform: none;
        font-weight: 400;

        &:before {
            margin-right: 12px;
        }
    }
}

.custom-checkbox {
    vertical-align: top;
    margin: 0;
    width: 18px;
    height: 18px;

    &:not(checked) {
        position: absolute;
        opacity: 0;
        visibility: hidden;

        & + .custom-checkbox-label:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            background: #fff;
            border: 1px solid #d2d2d2;
            border-radius: 3px;
            font: 100 19px WebComponentsIcons;
            color: $primary;
            text-align: center;
            line-height: 18px;
            cursor: pointer;
        }
    }

    &:checked {

        & + .custom-checkbox-label:before {
            content: '\e118';
        }
    }
}

.custom-checkbox-label {
    margin: 0;
    width: 18px;
    height: 18px;
    cursor: pointer !important;
}

.custom-radio {
    vertical-align: top;
    margin: 0;
    width: 18px;
    height: 18px;

    &:not(checked) {
        position: absolute;
        opacity: 0;

        & + .custom-radio-label:before {
            content: '';
            display: inline-block;
            vertical-align: middle;
            width: 18px;
            height: 18px;
            padding: 2px;
            margin-right: 10px;
            background: #fff;
            border: 1px solid #d2d2d2;
            border-radius: 50%;
        }
    }

    &:checked {

        & + .custom-radio-label:before {
            background: $sky-blue;
            background-clip: content-box;
        }
    }
}

.custom-radio-label {
    margin: 0 0 5px;
    height: 18px;
    cursor: pointer !important;
    font-weight: 400;

    .secondary-text {
        color: #b0b0b0;
    }
}

.form-group {
    position: relative;
    margin-bottom: 40px;

    &-low {
        margin-bottom: 10px;
    }

    &.has-error {

        .control-label {
            color: #6c6c6c;
        }

        .form-control,
        .k-multiselect .k-multiselect-wrap {
            border-color: $primary;
            color: $primary;

            &::-webkit-input-placeholder {
                color: $primary;
            }
            &:-moz-placeholder {
                color: $primary;
            }

            &.k-state-hover,
            &.k-state-hover:hover,
            &.k-state-focused {
                border-color: $primary;
            }

            /*kendo placeholder*/
            .k-readonly {
                color: $primary;
                opacity: 1;
            }
        }

        .error-block {
            display: block;
        }

        .constant-value-wrap {
            border-color: $primary;
        }

        .k-picker-wrap .k-select:after,
        .k-dropdown-wrap .k-select:after,
        .select-wrap:after {
            border-color: $primary;
        }
    }

    &-with-top-checkbox {
        padding-top: 15px;
    }

    .control-label {
        display: block;
        margin-bottom: 10px;
        color: #6c6c6c;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;

        &-horizontal {
            margin-right: 8px;
            margin-bottom: 0;
            font-weight: 400;
            font-size: 18px;
            color: #bbb;
        }

        &.with-sublabel {
            margin-bottom: 4px;
        }

        .bold {
            font-weight: 700;
        }
    }

    .control-sublabel {
        margin-bottom: 5px;
        font-size: 14px;
        letter-spacing: 1px;
        font-style: italic;
        color: #b0b0b0;
        text-transform: none;

        .bold {
            font-weight: 700;
        }
    }

    .error-block {
        display: none;
        margin: 4px 0;
        color: $primary;
        font-weight: 700;
        font-size: 12px;
        letter-spacing: .02em;
    }
}

input.k-textbox {
    line-height: 1;
}

.k-autocomplete {

    &.k-state-hover,
    &.k-state-focused {
        box-shadow: none;
    }

    .k-i-loading {
        right: 10px;
    }
}

.k-autocomplete .form-control,
.form-control {
    min-height: $input-min-height;
    padding: 5px 20px;
    border: 1px solid #d2d2d2;
    border-radius: $input-border-radius;
    color: #565656;
    box-sizing: border-box;
    box-shadow: none;

    &::-webkit-input-placeholder {
        color: #bbb;
    }
    &:-moz-placeholder {
        color: #bbb;
    }

    &:focus {
        outline: none;
        border-color: #d2d2d2;
        box-shadow: none;
    }

    &:-webkit-autofill {
        -webkit-box-shadow: inset 0 0 0 50px #fff !important;
        -webkit-text-fill-color: #565656 !important;
        color: #565656 !important;
    }

    &[type=number] {
        padding-right: 3px;
    }

    @media (min-width: $lg) {
        font-size: 18px;
    }


    &.k-widget {
        background: none;
        border: none;
    }

    &-small {
        max-width: 242px;
    }

    &.k-multiselect {
        height: auto;
    }
}

textarea.form-control {
    min-height: 213px;
    padding: 20px;
    resize: none;
}

.select-wrap {
    position: relative;

    select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        padding-right: 48px;
        box-sizing: border-box;

        option {
            max-width: 100%;
            box-sizing: border-box;
        }
    }

    &:after {
        content: "\e015";
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
        height: 100%;
        background: rgba(29, 29, 29, .02);
        border-left: 1px solid #d2d2d2;
        border-radius: 0 $input-border-radius $input-border-radius 0;
        color: #999;
        font-size: 20px;
        font-family: WebComponentsIcons;
        pointer-events: none;
    }


    .k-select {
        display: none;
    }
}

.select-wrap-arrow {

    &:after {
        background: transparent;
        border-left: none;
        color: #4a4a4a;
    }
}

.input-group-with-del {
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $md) {
        flex-direction: row;
        align-items: center;
    }

    .select-wrap {
        width: 100%;

        @media (min-width: $lg) {
            margin-right: 27px;
            min-width: 524px;
            width: auto;
        }
    }

    .btn-link {
        margin-top: 8px;

        @media (min-width: $md) {
            margin-top: 0;
        }
    }
}

.input-constant-value-wrap {
    display: flex;
    align-items: center;
    position: relative;

    .constant-value-wrap {
        min-height: 38px;
        line-height: 38px;
        padding-left: 20px;
        border: 1px solid #d2d2d2;
        border-right: none;
        border-radius: $input-border-radius 0 0 $input-border-radius;
        color: #565656;
        font-size: 16px;
        box-sizing: border-box;

        @media (min-width: $lg) {
            font-size: 18px;
        }
    }

    input {
        padding-left: 0;
        border-left: none;
        border-radius: 0 $input-border-radius $input-border-radius 0;
    }
}

.form-bottom-inputs {
    display: flex;
    flex-direction: column;

    @media (min-width: $lg) {
        flex-direction: row;
        align-items: center;
    }

    &>* {

        @media (min-width: $lg) {
            margin-right: 80px;
        }
    }

    label {
        margin-bottom: 0;
    }

    .toggle-switch {
        display: flex;
        align-items: center;
        text-transform: none;
        margin-bottom: 20px;
        color: #8e8e8e;

        @media (min-width: $lg) {
            margin-bottom: 0;
        }

        .slider {
            margin-right: 16px;
        }
    }
}

.top-checkbox-wrap {
    margin: 10px 0;

    @media (min-width: $sm) {
        position: absolute;
        right: 0;
        top: 0;
        margin: 0;
    }

    .custom-checkbox-label {
        display: inline-block;
        width: auto;
        color: #a5a5a5;
        text-transform: none;
        font-size: 14px;
        font-weight: 400;
        letter-spacing: 1px;

        &:before {
            margin-right: 12px;
        }
    }
}

.bottom-checkbox-wrap {
    margin-top: 15px;

    .custom-checkbox-label {
        width: auto;
        color: #a5a5a5;
        text-transform: none;
        letter-spacing: 1px;
        font-weight: 400;

        &:before {
            margin-right: 12px;
        }
    }
}

.toggle-switch {
    display: inline-block;

    &.round {

        .slider {
            border-radius: 50px;

            &:before {
                border-radius: 50px;
                width: calc(50% + 2px);
                height: calc(100% + 2px);
                left: -1px;
                top: -1px;
            }
        }

        input {

            &:checked {

                &+ .slider {

                    &:before {
                        border-radius: 50%;
                        right: -1px;
                    }
                }
            }
        }
    }

    input {
        position: absolute;
        opacity: 0;
        width: 0;
        height: 0;

        &:checked {

            &+ .slider {

                &:before {
                    right: 0;
                    left: auto;
                    border-radius: 0 3px 3px 0;
                }

                .labels {
                    color: #9daab8;

                    &:last-child {
                        color: #fff;
                    }
                }
            }
        }
    }

    .slider {
        display: flex;
        align-items: center;
        position: relative;
        cursor: pointer;
        min-width: 64px;
        height: 32px;
        line-height: 32px;
        background-color: #f9fafb;
        box-shadow: 0 5px 38px rgba(29, 29, 29, .2);
        text-align: center;
        transition: .4s;

        &:before {
            position: absolute;
            content: "";
            width: 50%;
            height: 100%;
            left: 0;
            top: 0;
            background-color: #6c6c6c;
            transition: left .3s, right .3s;
            border-radius: 3px 0 0 3px;
        }

        .labels {
            padding: 0 7px;
            flex-basis: 50%;
            border-radius: 3px 0 0 3px;
            z-index: 1;
            color: #fff;
            font-size: 13px;
            letter-spacing: .042em;

            &:last-child {
                color: #6c6c6c;
                border-radius: 0 3px 3px 0;
            }
        }
    }
}

.datetime-input-wrap {
    flex-wrap: wrap;

    &:not(.countdown-datetime-inputs) {

        .time-input-wrap {
            min-width: 135px;
            margin-top: 15px;
            margin-right: 15px;

            @media (min-width: $xl) {
                margin-top: 0;
            }
        }
    }

    @media (min-width: $xxl) {
        flex-wrap: nowrap;
    }

    .date-input-wrap {
        width: 100%;

        @media (min-width: $sm) {
            min-width: 350px;
        }

        @media (min-width: $xl) {
            width: auto;
            margin-right: 62px;
        }

        .k-datepicker {
            width: 100%;
            max-width: 350px;
        }
    }

    .time-input-wrap {
        min-width: 135px;
        margin-right: 15px;
    }
}

.datetime-chechbox-wrap {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $xxl) {
        flex-direction: row;
        align-items: flex-end;
    }

    .custom-checkbox-wrap {
        margin-top: 10px;
    }
}

.price-inputs-wrap {
    display: flex;
    flex-direction: column;

    @media (min-width: $sm) {
        flex-direction: row;
    }

    .rating-input-wrap {
        min-width: 242px;
        margin-right: 12px;
        margin-bottom: 10px;

        @media (min-width: $sm) {
            margin-bottom: 0;
        }
    }

    .number-input-wrap {
        max-width: 144px;
    }
}

.k-datepicker {
    border: none;

    .k-picker-wrap {
        border: none;

        .form-control {
            border: 1px solid #d2d2d2;
            border-radius: $input-border-radius;
            background: #fff;
        }

        &.k-state-hover {
            box-shadow: none;
            border-color: #f0f0f0;
            background-color: #fafafa;
        }

        &.k-state-focused {
            box-shadow: none;
            border-color: #f0f0f0;
            background-color: #fafafa;
        }

        .k-select {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 0 $input-border-radius $input-border-radius 0;
            box-sizing: border-box;

            .k-icon {
                font-size: 18px;
            }

            .k-i-calendar {
                color: $primary;
                font-family: FontAwesome;

                &:before {
                    content: "\f073";
                }
            }
        }
    }
}

.k-multiselect-clearable {

    &.k-state-hover,
    &.k-state-hover:hover,
    &.k-state-focused {
        box-shadow: none;
        border-color: #d2d2d2;
        background-color: #fff;

        .k-multiselect-wrap {
            box-shadow: none;
        }
    }

    &.k-state-border-down {

        .k-multiselect-wrap {
            border-radius: 4px 4px 0 0;
        }
    }

    &.k-state-border-up {

        .k-multiselect-wrap {
            border-radius: 0 0 4px 4px;
        }
    }

    .k-multiselect-wrap {
        min-height: $input-min-height;
        padding: 0 15px;
        border: 1px solid #d2d2d2;
        border-radius: 4px;
        background: none;
        display: flex;
        align-items: center;

        & > .k-i-close {
            display: none !important;
        }

        .k-input {
            line-height: 1;
            min-height: 0;
        }

        li {
            min-height: inherit;
            margin: 3px 10px 3px 0;
            padding: 2px 30px 2px 17px;
            background: none;
            border: 1px solid #999;
            border-radius: 3px;
            color: #565656;
            line-height: 1.2;
            text-transform: none;

            &:hover,
            &:focus,
            &:active:hover {
                border: 1px solid #999;
                outline: none;
                background: none;
                box-shadow: none;
                color: #565656;
            }

            .k-select {
                margin-right: 12px;
                padding: 0;
                height: 16px;
                el:-webkit-autofill {
                    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
                    -webkit-text-fill-color: #fff !important;
                    color: #fff !important;
                }   top: auto;
                bottom: auto;
            }

            .k-i-close {
                vertical-align: baseline;

                &:before {
                    width: 14px;
                    height: 14px;
                    line-height: 14px;
                    padding: 0;
                    text-align: center;
                    border-radius: 50%;
                    background: #999;
                    color: #fff;
                    font-size: 10px;
                }
            }
        }
    }
}

.k-combobox, .k-dropdown {
    width: 100%;
}

.k-picker-wrap,
.k-dropdown-wrap {
    height: $input-min-height;

    &.k-state-default {
        padding: 0;
        border: none;
        background: #fff;
    }

    &.k-state-hover,
    &.k-state-focused {
        box-shadow: none;
        background: none;
        border: none;
    }

    &.k-state-border-down {

        .form-control {
            border-radius: 4px 4px 0 0;
            border-bottom-color: #d2d2d2;
        }
    }

    &.k-state-border-up {

        .form-control {
            border-radius: 0 0 4px 4px;
            border-top-color: #d2d2d2;
        }
    }

    .k-textbox,
    .k-input {
        @extend .form-control;
        height: 40px;
        line-height: 40px;
        padding: 0 52px 0 5px;
    }

    .k-select {
        width: 48px;

        &:after {
            content: "\e015";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            right: 0;
            top: 0;
            width: 48px;
            height: 100%;
            background: rgba(29, 29, 29, .02);
            border-left: 1px solid #d2d2d2;
            border-radius: 0 4px 4px 0;
            color: #999;
            font-size: 20px;
            font-family: WebComponentsIcons;
            pointer-events: none;
        }

        .k-icon {
            display: none;
        }
    }

    .k-i-close {
        color: #999;
    }
}

.k-notification {
    padding: 10px 30px;
}

.k-editor.k-header {
    background: transparent;
    border: none;

    .k-editor-toolbar-wrap {
        padding-left: 0;

        .k-editor-toolbar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding-right: 70px;
        }

        .k-button-group {
            border: 1px solid #d2d2d2;
            color: #d2d2d2;

            .k-tool {
                height: 40px;
                line-height: 40px;

                &:not(.k-group-end) {
                    border-right: 1px solid #d2d2d2;
                }
            }
        }

        .k-dropdown-wrap {

            .k-input {
                padding: 0 25px 0 0;
                line-height: 40px;
                background: #6c6c6c;
                color: #fff;
                font-size: 15px;
            }

            .k-select {

                &:after {
                    width: 30px;
                    color: #fff;
                    border: none;
                }
            }
        }
    }

    .k-editable-area {
        padding: 15px 0 0;

        iframe {
            border: 1px solid #d2d2d2;
            border-radius: 4px;
            padding: 16px 18px;
        }
    }
}

/*Kendo Editor*/
.k-animation-container {
    z-index: 9000 !important;

    .k-popup.k-list-container {

        &.k-state-border-down {
            box-shadow: none;
            border-radius: 4px 4px 0 0;
            border-bottom-color: #d2d2d2;
        }

        &.k-state-border-up {
            box-shadow: none;
            border-radius: 0 0 4px 4px;
            border-top-color: #e8e8e8;
        }

        li {

            &.k-state-selected {
                background: #6c6c6c;
            }
        }

        .k-nodata {
            min-height: 2.143em;
            line-height: 2.143em;
        }
    }
}

.form-group-small-wrap {
    max-width: 455px;
    margin: 0 auto;
}

.coupled-form-control-wrap {

    .form-group,
    .form-group-animated {

        &:first-of-type {

            .form-control {
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
            }
        }

        &:last-of-type {

            .form-control {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: none;
            }
        }
    }
}

.form-group-animated {
    position: relative;

    &.focused {

        .form-label {
            top: 10px;
            transform: none;
            font-size: 16px;
        }
    }

    .form-label {
        position: absolute;
        left: 16px;
        top: 50%;
        transform: translateY(-50%);
        color: #b0b0b0;
        z-index: 10;
        font-size: 18px;
        font-weight: 400;
        letter-spacing: .02em;
        text-transform: none;
        transition: transform .2s, top .2s, font-size .2s;
    }

    .form-control {
        height: 63px;
        padding-top: 25px;
        padding-left: 16px;

        &:focus {
            padding-left: 14px;
            border-left: 3px solid $primary;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }
}

.number-increment-input-wrap {

    .button {
        display: inline-block;
        background: rgba(241, 59, 84, .7);
        border-color: rgba(241, 59, 84, .5);
        color: #fff;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        border-radius: 4px;
        cursor: pointer;
        font-size: 28px;
        font-weight: 100;

        &.inc {
            margin-right: 3px;
        }

        &.dec {
            margin-left: 3px;
        }
    }

    .form-control {
        width: 50px;
        padding: 0 5px;
        -moz-appearance: textfield;
        text-align: center;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
}