.k-calendar td.k-state-focused {
    box-shadow: none;
}

.k-calendar .k-today {
    background-color: unset;
    border: none;
    box-shadow: none;

    &.k-state-hover {
        box-shadow: 0 1px 0 rgba(255, 255, 255, .2);
        color: #444;
        background-color: #ebebeb;
        border-color: #ebebeb;
    }

    & .k-link {
        color: #000000;
    }
}