.map-zone {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 450px;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 0;
    border: 1px solid #d2d2d2;
    border-radius: $input-border-radius;
    text-align: center;
    letter-spacing: .021em;
    color: #bbb;
    font-size: 18px;

    @media (min-width: $lg) {
        font-size: 24px;
    }
}