.modal {
    background: none;

    &.language-setting {

        .add-link {
            background: none;
            border: none;
            padding: 0;
            font-size: 20px;

            .k-icon {
                margin-right: 14px;
                font-size: 20px;
            }
        }
    }

    &.organizer-details {

        .form-group {

            &:not(:last-child) {
                margin-bottom: 61px;
            }
        }
    }

    &.drop-croppie {

        .modal-footer {
            margin-top: 15px;
        }
    }
}

.modal-backdrop.in {
    opacity: .8;
}

.modal-dialog-centered {
    display: flex;
    align-items: center;
    min-height: calc(100vh - 60px);
}

.modal-dialog-with-logo {
    margin: 30px 10px;

    @media (min-width: $md) {
        margin: 30px auto;
    }

    .modal-content {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: -33px;
            width: 162px;
            height: 96px;
            background: url(#{$path-img}redtix_logo.png) no-repeat center;
            background-size: contain;
            z-index: 1;

            @media (min-width: $lg) {
                left: -65px;
            }
        }
    }

    .modal-body {
        margin: 0 auto;
        padding: 60px 15px;

        @media (min-width: $md) {
            max-width: 535px;
            padding: 60px 0;
        }
    }

    .modal-footer {
        padding-bottom: 30px;

        @media (min-width: $md) {
            padding-bottom: 60px;
        }
    }
}

.modal-content {
    width: 100%;
}

.modal-dialog {

    @media (min-width: $lg) {
        width: 950px;
    }

    &-xs {

        @media (min-width: $lg) {
            max-width: 505px;
        }

        .modal-body {
            padding: 40px 15px 30px;
            font-size: 18px;

            @media (min-width: $sm) {
                padding: 50px 30px 40px;
            }
        }

        .modal-footer {
            padding: 0 15px 30px;

            @media (min-width: $sm) {
                padding: 0 30px 40px;
            }
        }
    }
}

.modal-title {
    color: #484848;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: -.6px;
    line-height: 1;

    @media (min-width: $lg) {
        font-size: 40px;
    }
}

.modal-title-small {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: .016em;
    text-transform: uppercase;
    color: #6c6c6c;
}

.modal-subtitle {
    margin-top: 10px;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: .001em;
    color: #6c6c6c;
}

.modal-header {
    padding: 20px 15px 0;
    border: none;

    @media (min-width: $lg) {
        padding: 40px 57px 0;
    }

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        margin: 0;
        color: #b0b0b0;
        font-size: 33px;
        opacity: 1;
        line-height: 18px;

        &:focus {
            outline: none;
        }

        @media (min-width: $lg) {
            right: 25px;
            top: 25px;
        }
    }
}

.modal-body {
    padding: 20px 15px 35px;

    @media (min-width: $lg) {
        padding: 30px 57px 40px;
    }

    &-sm {

        @media (min-width: $lg) {
            padding: 20px 57px 40px;
        }
    }

    .form-group-block {
        margin-bottom: 70px;
    }
}

.content-title {
    margin: 0 0 20px;
    font-weight: 500;
    font-size: 28px;
    letter-spacing: .02em;
    color: #6c6c6c;

    @media (min-width: $lg) {
        font-size: 34px;
    }
}

.content-sub-title {
    font-size: 18px;
    font-weight: 300;
    letter-spacing: .02em;
    color: #6c6c6c;
}

.modal-footer {
    border: none;
    padding: 0 15px 25px;
    text-align: center;

    @media (min-width: $lg) {
        padding: 0 57px 32px;
    }

    .btn-lg {
        min-width: 130px;
        padding: 13px 30px;
        letter-spacing: .02em;

        @media (min-width: $md) {
            min-width: 170px;
            padding: 17px 30px;
        }
    }

    .btn {
        margin: 5px;

        @media (min-width: $sm) {
            margin: 0;
        }

        &+.btn {
            margin: 5px;

            @media (min-width: $sm) {
                margin: 0 0 0 16px;
            }

            @media (min-width: $lg) {
                margin-left: 28px;
            }
        }
    }
}


/*Kendo windows*/
.k-window-titlebar.k-header {
    background: $primary;
}

.k-editor-dialog {

    .k-tabstrip {
        background: #fff;

        .k-tabstrip-items {
            background: #6c6c6c;

            .k-item {
                background: #6c6c6c;
                border: none;
                margin-bottom: 0;

                &.k-state-active,
                &.k-state-hover {
                    background: #525252;
                }
            }
        }

        .k-picker-wrap,
        .k-dropdown-wrap {

            .k-input {
                padding: 0;
            }

            .k-select {
                width: 22px;

                &:after {
                    width: 22px;
                }
            }
        }

        .k-numeric-wrap {

            &.k-state-default {
                border-color: #d2d2d2;
                border-radius: 4px;
            }

            &.k-state-hover,
            &.k-state-focused {
                box-shadow: none;
            }

            .k-input {
                border-radius: 4px 0 0 4px;
            }
        }
    }

    .k-edit-field {

        input.k-checkbox {
            @extend .custom-checkbox;
        }

        .k-checkbox-label {
            @extend .custom-checkbox-label;
            width: auto;

            &:after {
                content: none;
            }
        }

        .k-textbox {
            border-color: #d2d2d2;
            border-radius: 4px;

            &:hover,
            &:focus {
                border-color: #d2d2d2;
                border-radius: 4px;
                box-shadow: none;
            }
        }

        .k-colorpicker {

            .k-selected-color {
                height: 34px;
                width: 65px;
                border: 1px solid #d2d2d2;
                border-radius: 4px;
            }

            .k-select {
                background: #fbfbfb;
                border: 1px solid #d2d2d2;
                border-left: none;
                border-radius: 0 4px 4px 0;
            }
        }

        .k-picker-wrap,
        .k-dropdown-wrap {
            height: 34px;

            .k-input {
                min-height: 34px;
                height: 34px;
                line-height: 34px;
            }
        }
    }

    .k-edit-buttons {
        text-align: center;
        background: none;
        border: none;

        .k-button {
            margin: 0 5px;
        }

        .k-primary {
            @extend .btn;
            @extend .btn-primary;
            float: none;
        }

        .k-dialog-close {
            @extend .btn;
            @extend .btn-outline-primary;
        }
    }
}
#drop-croppie-modal {
    z-index: 99999;
}

/*ADD IF SEPARATE CSS*/
//.modal-backdrop.in {
//    opacity: .8;
//}

.login-modal {

    .modal-dialog {

        @media (min-width: $lg) {
            max-width: 1166px;
            width: auto;
        }
    }

    .modal-content {
        background: #fcfcfc;
        position: relative;
        border: none;
        border-radius: 0;
        font-family: "Raleway", sans-serif;

        h1,
        h2,
        h3,
        h4,
        h5,
        h6,
        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6 {
            font-family: "Raleway", sans-serif;
        }

        .modal-left-col,
        .modal-right-col {
            flex-basis: 100%;

            @media (min-width: $lg) {
                flex-basis: 50%;
            }
        }

        .modal-left-col {
            padding: 20px 15px 30px;

            @media (min-width: $lg) {
                padding: 39px 73px 113px 54px;
            }

            .logo {
                width: 90px;
                height: auto;
                margin-bottom: 30px;

                @media (min-width: $lg) {
                    margin-bottom: 68px;
                }

                img {
                    max-width: 100%;
                }
            }

            .modal-title {
                margin: 0;
                font-weight: 400;
                font-size: 36px;
                color: #999;
                letter-spacing: normal;
                line-height: 1;

                .highlighted {
                    font-weight: 700;
                    color: $primary;
                }
            }

            .modal-subtitle {
                margin-bottom: 34px;
                margin-top: 0;
                font-size: 24px;
                letter-spacing: .02em;
                line-height: 1.2;
                color: #b0b0b0;
            }

            .regular-title {
                margin-bottom: 10px;
                font-size: 18px;
                letter-spacing: .02em;
                color: #999;
            }

            .login-with-soc {
                margin-bottom: 40px;
            }

            .login-with-soc-list {
                list-style-type: none;
                margin: 0;
                padding: 0;

                li {

                    &:not(:last-child) {
                        position: relative;
                        margin-right: 20px;
                        padding-right: 15px;

                        &:after {
                            content: '';
                            position: absolute;
                            right: 0;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 1px;
                            height: 21px;
                            background: $primary;
                        }
                    }

                    img {
                        max-height: 38px;
                    }
                }
            }

            .email-login {

                .top-block {
                    margin-bottom: 6px;

                    //@media (min-width: $lg) {
                    //    margin-bottom: 36px;
                    //}
                }
            }

            .form-group {
                margin-bottom: 13px;
            }

            .bottom-link {
                display: inline-block;
                margin-bottom: 44px;
                font-size: 14px;
                font-weight: 700;
                letter-spacing: .02em;
            }
        }

        .modal-right-col {
            display: none;

            @media (min-width: $lg) {
                display: block;
                background-size: cover;
                background-position: center top;
                background-repeat: no-repeat;
            }
        }

        .close {
            position: absolute;
            right: 0;
            top: 0;
            padding: 17px 19px 11px;
            font-size: 18px;
            letter-spacing: .02em;
            color: #565656;
            opacity: 1;
            float: none;

            @media (min-width: $lg) {
                background: rgba(255, 255, 255, .75);
                transition: background .3s;

                &:hover {
                    background: #fff;
                }
            }

            &:focus {
                outline: none;
            }

            .k-icon {
                font-size: 20px;
            }
        }
    }
}