.divided-block {
    position: relative;
    flex-direction: column;

    @media (min-width: $xl) {
        flex-direction: row;
    }

    .left-col,
    .right-col {
        padding: 28px 40px;
    }

    .left-col {
        border-bottom: 2px solid rgba(29, 29, 29, .05);
        min-width: 40%;

        @media (min-width: $xl) {
            border-bottom: none;
            border-right: 2px solid rgba(29, 29, 29, .05);
        }
    }

    .right-col {

        @media (min-width: $xl) {
            padding-left: 50px;
            padding-right: 180px;
        }
    }
}

.positioned-top-btn {
    position: absolute;
    right: 15px;
    top: 15px;

    @media (min-width: $xl) {
        right: 37px;
        top: 23px;
    }

    .k-icon {
        color: #b0b0b0;
    }
}

.positioned-bottom-btn {
    position: absolute;
    right: 15px;
    bottom: 15px;

    @media (min-width: $xl) {
        right: 23px;
        bottom: 20px;
    }
}

/*USER PROFILE*/
.user-profile-wrap {
    padding-bottom: 60px;

    @media (min-width: $xl) {
        padding-bottom: 0;
    }

    .left-col {
        flex-direction: column;

        @media (min-width: $xl) {
            flex-direction: row;
            align-items: center;
        }
    }

    .avatar-wrap {
        margin-bottom: 10px;
        border-radius: 50%;

        @media (min-width: $xl) {
            margin-right: 34px;
            margin-bottom: 0;
        }

        img {
            border-radius: 50%;
            min-width: 132px;
            width: 132px;
            height: 132px;
            padding: 4px;
            border: 1px solid #d2d2d2;
        }
    }

    .name {
        margin: 0;
        font-weight: 700;
        line-height: normal;
        font-size: 28px;
        letter-spacing: .02em;
        color: #565656;
    }

    .position {
        color: #999;
        font-weight: 400;
        font-size: 18px;
        letter-spacing: .02em;
    }

    .info-title {
        font-weight: 700;
        font-size: 18px;
        letter-spacing: .015em;
        color: #6c6c6c;
        text-transform: uppercase;
    }
}

/*Missing pages*/
.missingPage {
    padding: 40px 0;

    .img-responsive {
        width: 156px;
        height: 156px;

        @media (min-width: $lg) {
            width: 256px;
            height: 256px;
        }
    }
}