.right-sidebar {
    position: relative;
    right: 0;
    transition: right $transition-time;
    margin: 50px 15px;
    z-index: 200;

    @media (min-width: $lg) {
        margin-left: 40px;
        margin-right: 40px;
    }

    @media (min-width: $xxl) {
        margin: 0;
        position: absolute;
        right: 0;
        top: 46px;
        width: $right-info-sidebar-width;

        &.closed {
            right: -($right-info-sidebar-width - $right-info-sidebar-width-closed);

            .info-sidebar-toggle {

                &:before {
                    content: "\f104";
                }
            }
        }
    }

    .info-sidebar-toggle {
        display: none;

        @media (min-width: $xxl) {
            display: block;
            position: absolute;
            left: -22px;
            top: 51px;
            width: 44px;
            height: 44px;
            background: #fff;
            padding: 0;
            border: 1px solid rgba(29, 29, 29, .1);
            box-shadow: 0 0 30px rgba(29, 29, 29, .1);
            border-radius: 50%;
            line-height: 44px;
            color: #999;
            text-align: center;
            z-index: 1;

            &:before {
                font-family: FontAwesome;
                content: "\f105";
                font-size: inherit;
            }

            &:focus {
                outline: none;
            }
        }
    }

    .box {
        margin-bottom: 30px;
        box-shadow: 0 0 30px rgba(29, 29, 29, .05);
        border-radius: 3px 0 0 3px;
        padding: 20px 15px;

        @media (min-width: $lg) {
            padding: 30px 45px;
        }

        @media (min-width: $xxl) {
            padding: 50px;
        }

        dl {
            margin-bottom: 30px;

            dt {
                margin-bottom: 4px;
                font-size: 14px;
                text-transform: uppercase;
                color: #70777e;
                letter-spacing: .1em;
            }

            dd {
                font-size: 20px;
                letter-spacing: .05em;
                color: #4a4a4a;
            }
        }
    }
}