.table-light {

    table {
        background: #fff;
        border-collapse: collapse;

        .thead {
            border: 1px solid #d2d2d2;
            color: #fff;

            th {
                background: #d2d2d2;
                border: none;
                padding: 11px 14px;
                color: #fff;
                font-weight: 700;
            }
        }

        .tbody {
            color: #999;

            td {
                padding: 11px 14px;
            }
        }

        tr {
            border: 1px solid #e8e8e8;

            th,
            td {
                border: none;
                padding: 11px 14px;
            }
        }
    }
}

.k-grid {

    .thead {

        th {

            &.k-header-bordered {
                padding-right: 24px;

                &:not(:last-child) {
                    position: relative;

                    &:after {
                        content: '';
                        position: absolute;
                        width: 1px;
                        height: 60%;
                        background: #fff;
                        top: 50%;
                        right: 14px;
                        transform: translateY(-50%);
                    }
                }
            }

            &.k-header-with-menu {
                overflow: inherit;
                position: relative;
                padding-right: 58px;
                z-index: 10;

                .role-menu {
                    position: absolute;
                    right: 21px;
                    top: 50%;
                    transform: translateY(-50%);

                    .button-menu {
                        background: none;

                        & > .k-item {

                            & > .k-link {
                                background: none;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }

    .k-grid-norecords-template {
        width: 100%;
    }
}

.table-responsive {
    border: none;
}