
// Body
$body-bg: #f5f8fa;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #3097D1;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger:  #bf5329;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;
$text-color: #636b6f;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;

// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #fff;


$path-img: '../images/';

//Color
$primary: #f13b54;
$primary-hover: #d0374d;
$sky-blue: #56ccf2;

//Common
$transition-time: .3s;
$content-max-width: 935px;

//Sidebar
$sidebar-width: 300px;
$sidebar-collapsed-width: 125px;
$sidebar-width-tablet: 200px;
$sidebar-collapsed-width-tablet: 60px;

//Right info sidebar
$right-info-sidebar-width: 453px;
$right-info-sidebar-width-closed: 48px;

//Tabs content
$tab-content-padding: 40px;
$tab-content-padding-mobile: 15px;

//Input
$input-border-radius: 4px;
$input-min-height: 40px;

//Media
$xxxl: 1640px;
$xxl: 1440px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

//Auth page
$content-padding-x:  15px;
$content-padding-md-x:  60px;