.wrapper {
  min-height: 100vh !important;
  background: #fcfcfc !important;
}

.content-wrapper,
.main-footer,
.main-header .navbar {

  @media (min-width: $md) {
    margin-left: $sidebar-width-tablet;
  }

  @media (min-width: $lg) {
    margin-left: $sidebar-width;
  }
}

.sidebar-mini.sidebar-open {
  overflow: hidden;

  .main-sidebar {
    width: 100% !important;
    left: 0;
    padding-top: 40px;
    min-height: 0;
    height: 100vh;
    background: #fff;
    overflow-y: scroll;

    .sidebar-toggle {
      border: none;
      box-shadow: none;
      right: 0;

      &:before {
        content: "\f104";
      }
    }
  }
}

.sidebar-mini.sidebar-collapse {

  &:not(.sidebar-mini-expand-feature) {

    .sidebar-menu > li:hover {

      & > a > span:not(.pull-right),
      & > .treeview-menu {
        display: none !important;
      }
    }
  }

  .main-sidebar {
    padding-top: 50px;

    @media (min-width: $md) {
      width: $sidebar-collapsed-width-tablet !important;
    }

    @media (min-width: $lg) {
      width: $sidebar-collapsed-width !important;
      padding-top: 90px;
    }

    .sidebar-menu {

      @media (min-width: $lg) {
        margin-left: 50px;
      }

      & > li.active {
        border-right: 5px solid #F13B54;
        padding: 5px 28px 5px 0;

        @media (min-width: $lg) {
          padding: 15px 28px 15px 0;
        }
      }
    }

    .sidebar-toggle {

      &:before {
        content: "\f105";
      }
    }

    .logo {
      margin-bottom: 43px;

      & > .logo-mini {
        display: block;
        font-size: 18px;

        @media (min-width: $lg) {
          margin-left: -15px;
          margin-right: -15px;
        }
      }

      & > .logo-lg {
        display: none;
      }
    }
  }

  .main-header .navbar,
  .content-wrapper,
  .right-side,
  .main-footer {
    margin-left: $sidebar-collapsed-width-tablet !important;

    @media (min-width: $lg) {
      margin-left: $sidebar-collapsed-width !important;
    }
  }
}


/*Header*/
.main-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 15px;
  background: #fcfcfc;
  z-index: unset;

  .nav > li {
    position: relative;

    &.open {

      & > a {

        &:focus,
        &:hover {
          border: none;
          background: none;
        }
      }
    }

    & > a {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      min-width: 220px;
      background: none;
      padding-top: 10px;
      padding-bottom: 10px;
      color: #6c6c6c;
      font-size: 14px;
      font-weight: 600;
      letter-spacing: 0.04em;

      @media (min-width: $lg) {
        font-size: 16px;
      }

      &:hover,
      &:focus {
        color: #6c6c6c;
        background: none;
      }
    }

    & > .dropdown-menu {
      position: absolute;
      right: 0;
      left: auto;
      min-width: 250px;
      width: auto;
      background: #fff;
      padding: 0;
      border: 1px solid #d2d2d2;
      border-top: none;
      box-shadow: 0 0 30px #d2d2d2;

      &:before {
        content: '';
        position: absolute;
        top: -19px;
        right: 36px;
        border: 10px solid transparent;
        border-bottom-color: rgba(241, 59, 84, .9);

        @media (min-width: $md) {
          right: 80px;
        }
      }

      li {
        text-align: right;
        padding: 0 17px 0 40px;

        &.user-header {
          padding-top: 10px;
          padding-bottom: 10px;
          height: auto;
          background: linear-gradient(253deg, rgba(241, 59, 84, .9) 11%, rgba(195, 58, 140, .9) 100%);
          text-align: right;

          a {
            padding: 8px 0;
            color: #fff;
            font-size: 18px;

            @media (min-width: $lg) {
              font-size: 22px;
            }

            &:focus,
            &:hover {
              color: #fff;
            }
          }

          .sub-text {
            display: block;
            font-size: 14px;
            color: #fff;
            letter-spacing: .02em;
            line-height: 1;
          }
        }

        &:last-child {

          a {
            font-weight: 700;
            border-top: 1px solid #b0b0b0;
          }
        }

        & > a {
          padding: 16px 0 16px 20px;
          font-size: 14px;
          font-weight: 400;
          color: #b0b0b0;

          @media (min-width: $lg) {
            font-size: 16px;
          }

          &:focus,
          &:hover {
            background: none;
            color: #b0b0b0;
          }

          .fa {
            margin: 0;

            &.fa-sign-out {
              margin-left: 10px;
            }
          }

          img {
            vertical-align: text-top;
          }

          .user-icon {
            margin-right: 6px;
            width: 24px;
            height: 24px;
          }

          .logout-icon {
            margin-left: 15px;
            height: 20px;
          }
        }
      }
    }

    .user-image {
      width: 36px;
      height: 36px;
      border-radius: 50%;
      margin-right: 13px;
    }

    .user-image-stub {
      margin-right: 13px;

      &:before {
        font-size: 36px;
      }
    }
  }
}

.content-wrapper {
  position: relative;

  .content-header {
    background: #fff;
    box-shadow: 0 2px 9px rgba(0, 0, 0, .03);
    padding: 95px $tab-content-padding-mobile 20px;

    @media (min-width: $md) {
      padding: 25px $tab-content-padding 20px;
    }

    .content-header-inner-wrap {

      @media (min-width: $xl) {
        padding-left: 40px;
      }

      h1 {
        margin-bottom: 20px;

        @media (min-width: $xl) {
          margin-bottom: 0;
        }
      }
    }

    .link-back {
      display: inline-block;
      margin-bottom: 10px;

      &:hover,
      &:focus {
        color: #6c6c6c;
        text-decoration: none;
      }
    }

    .content-header-bottom-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      @media (min-width: $xl) {
        align-items: center;
        flex-direction: row;
      }
    }

    h1 {
      margin: 0;
      font-weight: 300;
      font-size: 34px;
      letter-spacing: .04em;
      line-height: 1;
      color: #4a4a4a;
    }
  }
}


/*Sidebar*/
.main-sidebar {
  width: $sidebar-width-tablet;
  left: -$sidebar-width-tablet;
  transform: none;

  @media (min-width: $md) {
    left: 0;
  }

  @media (min-width: $lg) {
    width: $sidebar-width;
  }

  .sidebar-toggle {
    text-decoration: none;

    &:before {
      font-family: FontAwesome;
      content: "\f0c9";
      font-size: 32px;

      @media (min-width: $md) {
        content: "\f104";
      }

      @media (min-width: $lg) {
        font-size: inherit;
      }
    }
  }

  .logo {
    display: block;
    margin-bottom: 30px;

    @media (min-width: $lg) {
      margin-bottom: 70px;
    }

    .logo-lg {

      img {
        max-width: 130px;

        @media (min-width: $lg) {
          max-width: 152px;
        }
      }
    }

    .logo-mini {
      display: none;

      img {
        max-width: 80%;

        @media (min-width: $lg) {
          max-width: 94px;
        }
      }
    }
  }
}

.skin-black-light-custom .main-sidebar .sidebar-toggle {
  top: 9px;
}

.sidebar-menu {
  margin-left: 15px;

  @media (min-width: $lg) {
    margin-left: 20px;
  }

  & > li {
    padding-right: 8px;

    @media (min-width: $lg) {
      padding-right: 20px;
    }

    & > a {
      padding: 12px 5px 12px 0;

      @media (min-width: $lg) {
        font-size: 18px;
      }

      .pull-right-container {
        right: 0;
        margin-top: -10px;
      }
    }
  }
}

.sidebar-menu li > a {
  letter-spacing: .02em;
  text-decoration: none;

  & > .pull-right-container > .fa-angle-left {
    transform: rotate(-90deg);
  }
}

.sidebar-menu .menu-open > a > .fa-angle-left,
.sidebar-menu .menu-open > a > .pull-right-container > .fa-angle-left {
  transform: rotate(90deg);
}

/*CONTENT*/
.main-content-wrap {
  position: relative;

  @media (min-width: $xl) {
    min-height: 660px;
  }
}

/*Tabs*/
.k-tabstrip {

  &:focus {
    box-shadow: none;
  }

  .k-content.k-state-active {
    background: none;
  }
}

.tab-content,
.content-box-wrap {

  .content-box {

    @media (min-width: $xxl) {
      width: calc(100% - #{$right-info-sidebar-width-closed});
    }
  }

  .panel-heading {
    margin: 0 0 20px;
    padding: 30px 0 0;

    @media (min-width: $md) {
      padding-top: 25px;
    }

    .panel-heading-title {
      font-weight: 300;
      font-size: 28px;
      letter-spacing: .04em;
      color: #6c6c6c;

      @media (min-width: $lg) {
        margin-bottom: 20px;
        font-size: 34px;
      }
    }

    .panel-heading-search {
      max-width: 748px;
      margin-bottom: 30px;

      .form-control {
        border-right: none;
      }

      .input-group-addon {
        border-left: none;
        border-radius: 0 3px 3px 0;
        cursor: pointer;

        .k-icon {
          color: #b0b0b0;
          font-size: 25px;
        }
      }
    }

    .panel-heading-row {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;

      @media (min-width: $md) {
        flex-direction: row;
        align-items: center;
      }

      .btn {
        margin-bottom: 20px;

        @media (min-width: $md) {
          margin-bottom: 0;
        }
      }
    }
  }

  .panel-body {
    padding: 0 0 30px;

    &.table-responsive {
      max-width: 100%;
      width: fit-content;
    }

    //for ie
    //@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    //    &.table-responsive {
    //        display: table;
    //    }
    //}
  }

  .box {
    box-shadow: 0 2px 9px rgba(0, 0, 0, .03);
    border-radius: 6px;
  }

  .box-body {
    padding: 20px 15px 80px;

    @media (min-width: $xxl) {
      padding: 30px 45px 120px;
    }

    .box-body-btn-wrap {
      margin-bottom: 20px;
    }

    .form-group {
      max-width: $content-max-width;
    }

    .box-title {
      margin-bottom: 30px;
      font-weight: 700;
      font-size: 20px;
      color: #6c6c6c;
    }
  }
}

.nav-tabs-custom {
  box-shadow: none;
  border-radius: 0;
  background: none;

  & > .nav-tabs {
    background: #fff;
    padding: 0 $tab-content-padding-mobile;
    border-top: 1px solid rgba(29, 29, 29, .1);
    border-bottom: 1px solid rgba(29, 29, 29, .1);
    border-radius: 0;

    &.nav-tabs_general {
      background: transparent;
      border: none;

      li.k-item {

        &.k-state-active {

          .k-link {
            color: $primary;
            font-weight: 700;
          }
        }

        .k-link {
          color: #777;
        }

        .k-loading {
          display: none;
        }
      }
    }

    &.nav-tabs_with-link {
      display: flex;
      flex-wrap: wrap;
      align-items: center;

      & > a {
        display: inline-block;
        padding: 15px 20px;
        font-size: 12px;
        text-transform: uppercase;
        text-decoration: none;
        color: $sky-blue;

        &:hover,
        &:focus {
          color: $sky-blue;
          text-decoration: none;
          outline: none;
        }

        .k-icon {
          vertical-align: middle;
        }
      }
    }

    @media (min-width: $lg) {
      padding: 0 $tab-content-padding;
    }

    li.k-item {
      background: none;
      border: none;
      margin: 0;

      &.k-state-active {

        .k-link {
          border: none;
          color: #343434;

          &:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            height: 3px;
            background: $primary;
            box-shadow: 0px -2px 8px rgba(213, 16, 64, .34);

            @media (min-width: $lg) {
              height: 6px;
              border-radius: 10px 10px 0 0;
            }
          }
        }
      }

      .k-link {
        position: relative;
        padding: 15px 20px;
        border: none;
        font-size: 16px;
        color: #b0b0b0;
        text-transform: uppercase;
      }
    }
  }

  & > .tab-content {
    background: none;
    margin-top: 30px;
    padding: 0 $tab-content-padding-mobile;

    &.k-state-active {
      background: none;
    }

    @media (min-width: $lg) {
      margin-top: 60px;
      padding: 0 $tab-content-padding;
    }
  }
}

.tab-submit-wrap {
  margin-top: 60px;
}

.content-box-wrap {
  padding: 0 $tab-content-padding-mobile;

  @media (min-width: $lg) {
    padding: 0 $tab-content-padding;
  }

  .panel-heading,
  .panel-heading-title {
    margin-top: 0;
  }
}


.tab-content-bottom {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
  max-width: 1264px;
  margin: 50px 15px;
  padding-top: 30px;

  @media (min-width: $md) {
    margin: 50px 40px;
  }

  @media (min-width: $xl) {
    flex-direction: row;
    margin: 83px 43px 78px;
    padding-top: 60px;
  }

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 1px;
    background: #eaeaea;
    background: -moz-linear-gradient(left, #eaeaea 0%, #c8c8c8 50%, #eaeaea 100%);
    background: -webkit-linear-gradient(left, #eaeaea 0%, #c8c8c8 50%, #eaeaea 100%);
    background: linear-gradient(to right, #eaeaea 0%, #c8c8c8 50%, #eaeaea 100%);
  }
}

.revisions-wrap {
  font-style: italic;
  font-size: 15px;
  letter-spacing: .094em;
  color: #a5a5a5;

  .single-revision {

    &:not(:last-child) {
      margin-bottom: 11px;
    }
  }
}

.revisions-settings {
  padding-top: 18px;
  color: $primary;
  font-weight: 700;
  font-size: 17px;

  &:hover,
  &:focus {
    color: $primary;
  }
}


/*Select views for table*/
.select-input {
  width: 290px;
  height: $input-min-height;

  &.k-state-border-bottom {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .k-state-hover,
  .k-state-focused {
    box-shadow: none;
  }

  input.k-input {
    @extend .form-control;
    border-right: none;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding-left: 0;

    @media (min-width: $lg) {
      font-size: 18px !important;
    }
  }

  .k-icon {
    color: #b0b0b0;
  }

  .k-select {
    line-height: 1;
    background: #fff;
    border: 1px solid #d2d2d2;
    border-left: none;
    border-radius: 0 3px 3px 0;
    box-sizing: border-box;

    .k-icon {
      top: 50%;
      transform: translateY(-50%);
      color: #b0b0b0;

      &:before {
        content: '\e015';
      }
    }
  }
}

.k-animation-container {

  .k-popup.k-list-container {
    padding: 0;
    border: 1px solid rgba(29, 29, 29, .2);
    border-radius: 0 0 3px 3px;

    li {
      color: #b0b0b0;
      cursor: pointer;

      &.k-state-selected {
        border-color: #ebebeb;
        background: #f8f8f8;
      }

      &:hover,
      &.k-state-hovered,
      &.k-state-focused {
        background: #f8f8f8;
      }
    }
  }

  .k-nodata {
    min-height: 0;

    & > div {
      padding: 0;
      box-sizing: border-box;
    }
  }

  .add-button {
    border: none;
    box-shadow: none;
    padding: 15px 24px;
    width: 100%;
    max-width: 100%;
    background: #f4f4f4;
    color: #565656;
    text-align: left;
    text-transform: none;
    box-sizing: border-box;
    word-break: break-all;

    span {
      margin-left: 8px;
      color: $sky-blue;
    }
  }
}


/*TABLE*/
.k-grid {
  border: none;

  table {
    color: #b0b0b0;
    border: 1px solid rgba(29, 29, 29, .1);
    border-bottom: none;
  }

  .k-grouping-header {
    background: #343434;
    color: #fff;
    letter-spacing: .02em;
    line-height: 1.2;

    @media (min-width: $md) {
      font-size: 18px;
    }

    .k-group-indicator {
      margin: 5px 10px 5px 0;
      padding: .5em 14px;
      background: #fff;
      border: 0.5px solid rgba(29, 29, 29, .2);
      border-radius: 3px;
      box-sizing: border-box;

      @media (min-width: $md) {
        min-width: 180px;
      }

      .k-link,
      .k-link:link,
      .k-link .k-icon {
        margin-right: 5px;
        color: #6c6c6c;
        font-size: 14px;
        opacity: 1;
      }

      .k-button.k-bare {
        margin: 0 0 0 auto;
        color: #b0b0b0;
        opacity: 1;
      }
    }
  }

  tr {

    &.k-state-selected {
      background: #f8f8f8;
      box-shadow: none;
      color: inherit;

      &:hover {

        td {
          background: #f8f8f8;
        }
      }

      td {
        border-color: #d2d2d2;
      }
    }

    &:hover {
      background: none;
    }
  }
}

.k-grid-header {
  padding-right: 0 !important; //Reset right space in header

  table {
    border: 1px solid rgba(29, 29, 29, .1);
    border-bottom: none;
  }

  .k-i-sort-asc-sm,
  .k-i-sort-desc-sm,
  .k-sort-order {
    color: $primary;
  }

  th.k-header {
    padding: 10px 8px 10px 14px;
    border-color: rgba(29, 29, 29, .1);

    &:first-child {
      padding: 10px 14px;
    }

    .k-checkbox {
      @extend .custom-checkbox;

      &:checked {

        & + .k-checkbox-label:before,
        & + .k-checkbox-label:hover:before,
        &:hover + .k-checkbox-label:before {
          border-color: rgba(29, 29, 29, 0.2);
        }
      }

      &-circle {

        &:checked {

          & + .k-checkbox-label-circle:before {
            content: '';
            background: $primary;
            border-color: $primary;
          }
        }
      }
    }

    .k-checkbox-label {
      @extend .custom-checkbox-label;
      display: flex;
      margin: 0 auto;

      &:after {
        content: none;
      }

      &-circle {

        &:before {
          border-radius: 50%;
          border-color: #999;
        }
      }
    }
  }

  .k-header,
  .k-header .k-link,
  .k-link,
  .k-link:link {
    color: #6c6c6c;
    background: #fcfcfc;
  }
}

.k-grid-header-wrap {

  &.k-auto-scrollable {
    border-left: 1px solid rgba(29, 29, 29, .1);
    border-right: 1px solid rgba(29, 29, 29, .1);

    table {
      border-left: none;
      border-right: none;
    }
  }
}

.k-grid-content {

  &.k-auto-scrollable {
    min-height: 280px;
    border-left: 1px solid rgba(29, 29, 29, .1);
    border-right: 1px solid rgba(29, 29, 29, .1);

    table {
      border: none;
    }
  }

  table {
    border-top: none;
  }

  tr:last-child > td,
  &-locked tr:last-child > td {
    border-bottom-width: 1px;
  }
}

.k-grid .k-state-selected:hover .k-group-cell,
.k-grouping-row td,
.k-resize-handle-inner,
td.k-group-cell {
  background: #fff;
}

.k-grouping-row {

  td:not(.k-group-cell) {
    color: #999;
    font-weight: 400;
  }

  .k-group-cell {
    border: none;
    border-top: 1px solid rgba(29, 29, 29, .1);
    background: none;
    color: #6c6c6c;

    & + td:not(.k-group-cell) {
      background: rgba(29, 29, 29, .05);
      border: 1px solid rgba(29, 29, 29, 0.1);
    }

    & + .k-group-cell {

      & + td:not(.k-group-cell) {
        background: rgba(29, 29, 29, .02);
        border: 1px solid rgba(29, 29, 29, 0.1);
      }

      & + .k-group-cell {

        & + td:not(.k-group-cell) {
          background: rgba(29, 29, 29, .01);
          border: 1px solid rgba(29, 29, 29, 0.1);
        }
      }
    }
  }
}

.k-grid .k-grouping-row {

  & + tr td {
    border-top: none;

    &.k-group-cell:not(:first-child) {
      border-left: 1px solid rgba(29, 29, 29, .1);
    }
  }

  td {
    padding: 17px .6em;
    color: #6c6c6c;
    font-weight: 400;
  }
}

.k-header.k-grid-toolbar {
  background: transparent;
  padding: 0 0 30px;
  border: none;

  .k-button {
    @extend .btn;
    @extend .btn-outline-primary;
  }
}

.no-grid-toolbar .k-grid-toolbar {
  display: none;
}


.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-listview > .k-state-focused.k-state-selected,
.k-state-focused,
td.k-state-focused {
  box-shadow: none;
}

.k-grid {

  table {
    table-layout: auto !important;
  }

  &.k-editable {

    tbody > tr > td {
      min-height: 37px;
      color: #565656;
      padding: 2px 14px;

      input {
        font-size: inherit;
        height: 36px;
        color: #b0b0b0;
        border: 1px solid #d2d2d2;
        border-radius: 3px;
        box-shadow: none;
      }

      .k-input {
        font-size: inherit;
      }

      .k-widget {
        background: none;

        &.k-tooltip-validation {
          background: #fff;
          border: 1px solid #d2d2d2;
          border-radius: 3px;

          .k-callout-n {
            border-bottom-color: #d2d2d2;
          }
        }

        .k-dropdown-wrap {
          height: auto;

          .k-input {
            min-height: inherit;
            height: 36px;
            line-height: 36px;
            padding: 0 30px 0 5px;
          }

          .k-select,
          .k-select:after {
            width: 28px;
          }
        }
      }

      .k-numerictextbox {
        box-shadow: none;

        .k-link {
          height: 50%;
        }

        .k-select {
          border: 1px solid #d2d2d2;
          border-left: none;
          background: #fafafa;
          border-radius: 0 4px 4px 0;

          .k-link {

            .k-icon {
              opacity: 1;
              color: #1d1d1d;
            }
          }
        }
      }

      .k-multiselect.k-header.k-state-focused,
      .k-numeric-wrap.k-state-hover,
      .k-numeric-wrap.k-state-focused {
        background: none;
        border-color: transparent;
        box-shadow: none;
      }
    }
  }

  //tbody>tr>td,
  //.k-grid-header th.k-header {
  //    max-width: 200px;
  //    width: 200px;
  //}

  tbody > tr > td {
    padding: 5px 14px;
    overflow: visible; //overflow, word-break, overflow-wrap - because dropdown menu in table
    word-break: break-all;
    overflow-wrap: break-word;

    .k-checkbox {
      @extend .custom-checkbox;

      &:checked {

        & + .k-checkbox-label:before,
        & + .k-checkbox-label:hover:before,
        &:hover + .k-checkbox-label:before {
          border-color: rgba(29, 29, 29, 0.2);
        }
      }

      &-circle {

        &:checked {

          & + .k-checkbox-label-circle:before {
            content: '';
            background: $primary;
            border-color: $primary;
          }

          & + .k-checkbox-label-circle.disabled:before {
            background: gray;
            border-color: gray;
            cursor: not-allowed;
          }
        }

        &:not(:checked) {

          &:hover {

            & + .k-checkbox-label-circle:before {
              background: $primary;
              opacity: .5;
            }

            & + .k-checkbox-label-circle.disabled:before {
              background: gray;
              cursor: not-allowed;
            }
          }
        }
      }
    }

    .k-checkbox-label {
      @extend .custom-checkbox-label;
      display: flex;
      margin: 0 auto;

      &:after {
        content: none;
      }

      &-circle {

        &:before {
          border-radius: 50% !important;
          border-color: #999;
          transition: opacity $transition-time, background $transition-time;
        }
      }
    }
  }
}

.k-pager-wrap {
  background: #fcfcfc;
  border: 1px solid rgba(29, 29, 29, .1);
  border-top: none;

  & > .k-link > .k-icon {
    color: $sky-blue;
    opacity: 1;
  }
}

.k-grid-pager .k-link,
.k-grid-pager .k-link:link {
  border: none;
  color: #b0b0b0;
  opacity: 1;
}

.k-pager-wrap .k-pager-numbers .k-state-selected {
  border: none;
  color: #343434;
  position: relative;
  margin-top: 0;
  padding-top: 0;

  &:after {
    content: '';
    position: absolute;
    left: 0;
    top: -4px;
    width: 100%;
    height: 3px;
    background: $primary;
    border-radius: 3px;
  }
}

.k-pager-info {
  letter-spacing: .02em;
}

.table-functionality {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style-type: none;
  padding: 0;
  margin: 30px 30px 10px;

  li {
    padding: 5px 20px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    letter-spacing: .02em;
    color: #999;

    &:not(:last-child) {
      border-right: 1px solid #b0b0b0;
    }

    a {
      color: #999;
      text-decoration: none;

      &:hover,
      &:focus {
        color: #999;
        text-decoration: none;
      }
    }

    button {
      color: #999;
      padding: 0;
      background: none;
      border: none;

      &:hover,
      &:focus {
        background: none;
        border: none;
        outline: none;
      }

      &:disabled {
        opacity: 0.8;
        cursor: not-allowed;
      }
    }
  }
}

.k-auto-scrollable {
  max-height: 600px;

  table {
    width: auto;
  }
}

.no-scroll-x-table {

  .k-auto-scrollable {

    table {
      min-width: inherit;
    }
  }
}

.k-animation-container {

  /*Table filter menu*/
  .k-column-menu {

    ul {

      .k-state-active {

        &:not(.k-dropdown-wrap) {
          background: $primary;
          color: #fff;
        }
      }

      .k-state-default.k-state-focused {
        box-shadow: none;
      }

      .k-state-selected {

        .k-link {
          color: $primary;
        }
      }

      .k-item {
        color: #b0b0b0;

        &.k-state-hover {
          background: $primary;

          & > .k-link {
            background: none;
            color: #fff;
          }
        }

        & > .k-link {
          padding: 12px 15px;
        }

        .k-icon {
          font-size: 16px;
        }

        /*sub menu*/
        & > .k-animation-container {

          .k-group {

            .k-item {

              &.k-state-hover {
                background: #ebebeb;

                & > .k-link {
                  color: #b0b0b0;
                }
              }

              &[aria-checked] {

                .k-link {
                  position: relative;
                  padding: 7px 12px;

                  &:before {
                    content: '';
                    display: inline-block;
                    vertical-align: middle;
                    width: 18px;
                    height: 18px;
                    background: #fff;
                    border: 1px solid #d2d2d2;
                    border-radius: 3px;
                    margin-right: 15px;
                    font: 100 12px WebComponentsIcons;
                    color: #fff;
                    text-align: center;
                    line-height: 18px;
                  }

                  input[type='checkbox'] {
                    opacity: 0;
                    height: 0;
                    width: 0;
                    visibility: hidden;
                  }
                }
              }

              &[aria-checked="true"] {

                .k-link {

                  &:before {
                    content: '\e118';
                    background: $sky-blue;
                    border: 1px solid $sky-blue;
                  }
                }
              }

              .k-dropdown-wrap {
                height: auto;

                &.k-state-hover {

                  .k-input {
                    background: #fff;
                  }
                }
              }

              .k-textbox {
                @extend .form-control;
              }
            }
          }
        }
      }
    }
  }
}

//Nice scroll
.nicescroll-rails-vr,
.nicescroll-rails-hr {
  border: 1px solid rgba(29, 29, 29, .1);
}

/*Menu fot buttons in table*/
.k-menu {

  .k-item > .k-link {
    padding: 5px 0;
  }
}

.button-menu {

  &.k-header {
    color: #b0b0b0;

    .fa-cog {
      font-size: 20px;
    }

    .k-menu-expand-arrow {
      display: none;
    }
  }

  & > li > .k-animation-container {
    left: auto !important;
    right: 0;

    &.bottom {
      bottom: auto !important;
      top: 100% !important;
    }

    &.top {
      top: auto !important;
      bottom: 100% !important;
    }

    .k-menu-group {
      min-width: 177px;
      padding: 0;
      border: none;
      box-shadow: 0 0 30px rgba(29, 29, 29, .2);

      & > .k-item {
        color: #b0b0b0;
        outline: none;

        &.bordered-item {
          border-bottom: 1px solid #e8e8e8;
        }

        &.k-state-active,
        &.k-state-hover {
          background: $primary;

          & > .k-link {
            color: #fff;
            background: none;
          }
        }

        .k-link {
          padding: 11px 13px;
          color: #b0b0b0;

          &:link,
          &:visited,
          &:hover,
          &:focus {
            text-decoration: none;
          }

          .k-icon {
            opacity: 1;
            margin-right: 12px;
          }
        }
      }
    }
  }

  .k-state-active {
    background: transparent;
    border-color: transparent;
    color: #b0b0b0;
  }

  & > li.k-state-hover,
  & > li.k-state-hover:hover {
    background: none;
  }

  .k-item.k-state-default.k-state-focused {
    box-shadow: none;
  }

  .k-state-hover,
  .k-state-hover:hover {
    background: #f4f4f4;

    .k-link {
      color: #b0b0b0;
    }
  }
}

.button-menu_more-btn {
  display: inline-block;
  box-shadow: 0 2px 12px rgba(29, 29, 29, .1);
  border-radius: 50%;
  width: 34px;
  height: 34px;
  line-height: 34px;
  text-align: center;
  color: $sky-blue;
  font-size: 5px;
  font-weight: 900;

  .fa {
    margin: 0 1px;
  }
}

.language-setting-wrap {
  margin-bottom: 13px;

  .label {
    min-width: 67px;
    height: 30px;
    line-height: 30px;
    margin-right: 10px;
    margin-bottom: 4px;
    padding: 0 8px;
    background: #d2d2d2;
    font-size: 11px;
    text-transform: uppercase;

    &:first-child {
      margin-right: 27px;
    }

    &.default {
      position: relative;

      &:after {
        font-family: WebComponentsIcons;
        content: '\e118';
        position: absolute;
        right: -3px;
        top: -5px;
        width: 12px;
        height: 12px;
        line-height: 12px;
        text-align: center;
        box-shadow: 0 4px 17px rgba(29, 29, 29, .2);
        background: #fff;
        border-radius: 50%;
        color: #78f5c1;
        font-size: 10px;
      }
    }

    &.active {
      background: $sky-blue;
    }
  }

  .btn {
    padding: 4px 6px;
    margin-bottom: 4px;
  }
}

.countdown-datetime-inputs {
  display: none;
  margin: 20px 0 0;

  &.open {
    display: flex;
  }

  .date-input-wrap {
    min-width: inherit;
    margin-top: 10px;
    margin-right: 20px;
  }

  .time-input-wrap {
    margin-top: 10px;

    @media (min-width: $xl) {
      margin-right: 20px;
    }
  }
}

//Footer
//Write comments block
.write-comment-bottom-wrap {
  display: flex;
  align-items: center;
  padding: 20px $tab-content-padding-mobile;
  border-top: 1px solid #e8e8e8;
  box-shadow: 0 0 30px rgba(29, 29, 29, .05);
  background: #fff;

  @media (min-width: $lg) {
    padding: 40px $tab-content-padding;
  }

  .initials {
    margin-right: 20px;
    border-radius: 50%;
    width: 50px;
    min-width: 50px;
    height: 50px;
    line-height: 50px;
    background: $sky-blue;
    font-weight: 500;
    text-align: center;
    font-size: 17px;
    color: #fff;

    @media (min-width: $md) {
      margin-right: 46px;
    }
  }

  .form-control {
    max-width: 1045px;
    min-height: 50px;
  }
}

img {
  max-width: 100%; /* This rule is very important, please do not ignore this! */
}

.custom-dl {
  margin: 0;

  dt {
    margin-top: 13px;
    color: #999;
    font-weight: 300;
    font-size: 14px;
    letter-spacing: .1em;
    text-transform: uppercase;
  }

  dd {
    color: #6c6c6c;
    font-weight: 400;
    font-size: 18px;
    letter-spacing: .02em;
  }
}

/*Auth pages*/
html,
body {
  height: 100%;
}

.header-noauth {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  min-height: 60px;
  background: #1D1D1D;
  padding: 10px $content-padding-x;
  z-index: 20;

  @media (min-width: $md) {
    justify-content: flex-end;
    padding: 10px $content-padding-md-x;
  }

  .nav-brand {
    display: inline-block;
    height: 47px;

    @media (min-width: $md) {
      position: absolute;
      left: $content-padding-md-x;
      bottom: -24px;
      display: inline-block;
      width: 110px;
      height: 66px;
    }

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .nav {

    & > li {

      & > a {
        color: #fff;
        font-weight: 500;

        &:hover,
        &:focus {
          color: #fff;
        }
      }

      & > .dropdown-menu {
        box-shadow: none;
      }
    }
  }
}

.content-wrapper-noauth {
  padding-top: 60px;
}

.page-title-big {
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
  letter-spacing: .01em;

  @media (min-width: $lg) {
    font-size: 44px;
  }
}

.custom-dl {

  dt {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #999;
  }

  dd {
    font-size: 20px;
    font-weight: 400;
    color: #6c6c6c;
  }
}

.auth-page-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 34px;
  color: #6c6c6c;
}

.auth-page-subtitle {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
  color: #6c6c6c;
  letter-spacing: .02em;
}

.auth-page {

  .logo {
    width: 90px;
    height: 53px;
    margin-bottom: 70px;
  }
}

.auth-page-h1 {
  color: #b0b0b0;
  font-size: 18px;
  margin-bottom: 26px;

  @media (min-width: $lg) {
    font-size: 24px;
    margin-bottom: 40px;
  }
}

.auth-page-h2 {
  color: #6c6c6c;
  font-size: 16px;
  font-weight: 700;
  margin: 0 0 15px;

  @media (min-width: $lg) {
    font-size: 20px;
  }
}

.auth-page-text {

  p {
    margin-bottom: 0;
  }
}

.auth-page-btn-wrap {
  margin: 20px 0 40px;
}

.account-page-wrap {
  width: 100%;
  padding: 20px 0;

  .auth-page-h1 {
    margin-bottom: 10px;
  }

  .section {
    padding: 20px $content-padding-x;

    @media (min-width: $md) {
      padding: 20px $content-padding-md-x;
    }

    &-highlight {
      background: #fcfcfc;
    }
  }
}

.container-sm {
  max-width: 935px;

  .form-group {
    max-width: 450px;
  }
}

.form-group-double {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  .form-group {
    width: 100%;
  }
}

.success-page-img {
  margin-bottom: 5px;
  max-width: 150px;
  max-height: 150px;

  @media (min-width: $lg) {
    max-width: 304px;
    max-height: 304px;
    margin-bottom: 30px;
  }
}

.sortable-block-wrap {
  background: #fff;
  border: 1px solid #d2d2d2;
  box-shadow: 0 0 30px #f4f4f4;
  padding: 10px 20px 0;
}

.sortable-block-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

  .image {
    margin-right: 4px;
  }

  .title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: .016em;
    color: #6c6c6c;
  }

  .top-checkbox-wrap {
    position: static;
    margin: 0;

    .toggle-switch {
      margin: 0;
    }
  }
}


/*Auth pages*/
html,
body,
.page-content {
  height: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 60px;
}

.auth-page-title {
  margin-bottom: 20px;
  font-weight: 500;
  font-size: 34px;
  color: #6c6c6c;
}

.auth-page-subtitle {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 18px;
  color: #6c6c6c;
  letter-spacing: .02em;
}

.auth-page {
  font-size: 18px;
  color: #6c6c6c;

  .logo {
    width: 90px;
    height: 53px;
    margin-bottom: 70px;
  }
}

.auth-page-h3 {
  color: #b0b0b0;
  font-size: 24px;
  margin-bottom: 40px;
}

.auth-page-text {

  p {
    margin-bottom: 0;
  }
}

.auth-page-btn-wrap {
  margin: 20px 0 40px;
}

.copy-event-url {
  position: absolute;
  top: 13px;
  right: 15px;
  cursor: pointer;
}