.faq-accordion {
    max-width: 538px;

    .card {
        border: none;
        border-radius: 0;
        margin: 0 0 6px;
        background: none;
        transition: box-shadow .2s;

        &.active {
            box-shadow: 0 0 0 1px #989399 inset;
        }
    }

    .card-header {
        border-radius: 0;
        padding: 0;
        background: linear-gradient(90.77deg, rgba(#72e3fc, .65) 18.88%, rgba(#51e88d, .323333) 86.47%, rgba(#fff, 0) 153.36%);

        a {
            position: relative;
            display: block;
            padding: 12px 45px 12px 10px;
            color: $primary;
            font-size: 14px;
            font-weight: 700;

            @include media-breakpoint-down(sm) {
                font-size: 12px;
                font-weight: 400;
            }

            &:after {
                content: '';
                width: 12px;
                height: 12px;
                border: solid $primary;
                border-width: 0 2px 2px 0;
                transform: rotate(225deg);
                position: absolute;
                top: 21px;
                right: 22px;
                transition: transform .2s;
            }

            &.collapsed {
                font-weight: 400;

                &:after {
                    top: 14px;
                    transform: rotate(45deg);
                }
            }
        }
    }

    .card-body {
        padding: 32px 15px;
        color: $color-light;
        font-size: 11px;
        background: rgba($primary, .1);

        @include media-breakpoint-down(sm) {
            padding: 26px 9px;
        }

        .title {
            font-weight: 700;
            font-size: 12px;
            color: $primary;
            padding: 5px 0;
            margin: 0;
        }

        p {
            margin: 0;

            &:not(:last-child) {
                margin: 0 0 10px;
            }
        }

        b {
            font-weight: 700;
        }

        a {
            color: $danger;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }
}