.btn {
    font-size: 11px;
    line-height: 1;
    border-radius: 3px;
    padding: 12px 14px;
    min-width: 110px;
    font-weight: 400;
    cursor: pointer;

    @include media-breakpoint-down(sm) {
        padding: 12px 14px;
    }

    &:focus,
    &:not([disabled]):not(.disabled):active {
        box-shadow: none;
    }
}

.btn-primary {
    background: linear-gradient(to bottom, #f13b54 0%,#c33a8c 100%);
    box-shadow: 0 0 30px 0 rgba($secondary, .3);
    border: none;
    font-weight: 400;
    color: $primary;

    &:hover {
        background: linear-gradient(to bottom, #c33a8c 0%,#f13b54 100%);
        color: $primary;
    }

    &:focus,
    &:not([disabled]):not(.disabled):active {
        color: $primary;
        background: linear-gradient(to bottom, #c33a8c 0%,#f13b54 100%);
    }

    &.disabled {
        background: rgba(#1d1d1d, .2);
        opacity: 1;
        box-shadow: none;
        cursor: default;
    }
}

.btn-lg {
    padding: 15px 14px;
    min-width: 200px;
    font-size: 14px;
}