html {
    height: 100%;
}

body {
    height: 100%;
    position: relative;
    font: #{$default-font-weight} #{$default-font-style} #{$default-font-size} / #{$default-line-height} #{$default-font-family};
    color: $color-text;
    background-color: $body-bg;
    letter-spacing: .02em;
    min-width: 320px;
}

.layout {
    position: relative;
    overflow: hidden;
    min-height: 100%;
}

.container {
    max-width: none;
    width: 80%;

    @include media-breakpoint-down(xs) {
        width: 100%;
    }
}

.main {
    margin-top: 34px;
    position: relative;
    z-index: 2;

    @include media-breakpoint-up(xl) {
        margin-bottom: 430px;
    }

    @include media-breakpoint-down(sm) {
        margin-top: 46px;
    }
}

img {
    max-width: 100%;
}

a {
    color: $secondary;

    &:hover {
        text-decoration: none;
    }
}

h1 {
    font: 700 32px/1.1 $font-title;
    margin: 0 0 15px;

    @include media-breakpoint-down(md) {
        font-size: 28px;
    }

    @include media-breakpoint-down(sm) {
        font-size: 22px;
        margin: 0 0 10px;
    }
}

h2 {
    background-color: $primary;
    color: transparent;
    text-shadow: 4px -2px 6px rgba(#565656,.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    margin: 0 0 18px;
    font: 700 25px/1.53 $font-title;
    letter-spacing: .03em;
}

h3 {
    font-size: 24px;

    @include media-breakpoint-down(md) {
        font-size: 20px;
    }
}

h4 {
    font-size: 18px;
    font-weight: 700;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
    }
}

.danger {
    color: $danger;
}

@media all and (-ms-high-contrast:none) {

    *::-ms-backdrop, h2 {
        background: none;
        color: $primary;
    }

    *::-ms-backdrop, .tab-pane .event-info-tab .section-title .number {
        background: none;
        color: #c86dd7;
    }
}