#footer {
    color: white;
    background: linear-gradient(to right, #c33a8c 40%,#f13b54 100%);
    height: 430px;
    font-size: 9px;
    line-height: 1.5;
    font-weight: 100;
    display: flex;

    @include media-breakpoint-up(xl) {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        backface-visibility: hidden;
        transform: translate3d(0, 0, 0);
    }

    @include media-breakpoint-down(md) {
        height: 450px;
    }

    @include media-breakpoint-down(sm) {
        height: auto;
    }

    .container {
        display: flex;
    }

    .row {
        flex-grow: 1;
    }

    .top-block {
        margin: 0 0 62px;

        @include media-breakpoint-down(md) {
            margin: 0 0 20px;
        }

        @include media-breakpoint-down(sm) {
            margin: 0 0 38px;
        }
    }

    .logo {
        width: 90px;
        margin: 0 0 11px auto;

        @include media-breakpoint-down(sm) {
            margin: 0 auto;
        }
    }

    .content-holder {

        .row {

            @include media-breakpoint-up(lg) {
                margin-left: -19px;
                margin-right: -19px;
            }
        }

        .custom-col {

            @include media-breakpoint-up(lg) {
                padding-left: 19px;
                padding-right: 19px;
            }
        }
    }

    .info {
        text-align: right;

        @include media-breakpoint-down(sm) {
            margin: 0 0 20px;
            text-align: center;
            max-width: 145px;
            text-align: left;
            font-size: 10px;
            margin: 0 0 50px;
        }

        br {

            @include media-breakpoint-down(lg) {
                display: none;
            }
        }
    }

    .social-holder {
        max-width: 130px;
        margin: 0 0 0 auto;

        @include media-breakpoint-down(sm) {
            margin: 0 auto 20px;
            max-width: 205px;
        }

        .title {
            display: block;
            text-align: center;
            margin: 0 0 21px;
            letter-spacing: .3em;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                margin: 0 0 17px;
                font-weight: 700;
            }
        }
    }
    
    .menu {

        @include media-breakpoint-down(sm) {
            display: none;
        }

        ul {
            @extend %clear-list;

            li {
                margin: 0 0 6px;
            }

            a {
                color: white;
                text-transform: uppercase;

                &:hover {
                    opacity: .7;
                }
            }

            .active {

                a {
                    font-weight: 700;
                }
            }
        }

        &.menu-secondary {

            ul {

                li {
                    margin: 0 0 4px;
                }

                a {
                    text-transform: none;
                }
            }
        }
    }

    .menu-primary {

        @include media-breakpoint-up(md) {
            padding-top: 16px;
        }
    }

    .copy {
        margin: 15px 0 0;

        @include media-breakpoint-down(sm) {
            margin: 0 0 20px;
        }
    }

    .left-column {
        padding: 23px 0 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;

        @include media-breakpoint-down(sm) {
            align-items: center;
            padding: 60px 0 0;
            display: block;
        }
    }

    .image-block {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        flex-grow: 1;

        @include media-breakpoint-down(sm) {
            justify-content: flex-start;
            max-width: 50%;
            flex-shrink: 0;
            margin-left: -15px;
        }
    }
}