.form-control {
    border-radius: 3px;
    height: 59px;
    padding: 9px 25px;
    background: white;
    font-size: 18px;
    line-height: 1.16;
    font-weight: 700;
    border: 1px solid $color-border;
    color: $color-medium;

    @include media-breakpoint-down(sm) {
        font-size: 16px;
        padding: 5px 15px;
    }

    @include placeholder {
        color: $color-dark;
        font-weight: 400;
    }

    &:focus {
        box-shadow: none;
        background: white;
        color: $color-medium;
        border-color: $color-border;
    }
}

.custom-checkbox {

    label {
        display: block;
        margin: 0;
        color: $color-medium;
    }

    input[type="checkbox"] {
        display: none !important;

        &:checked {

            & ~ span {

                &:after {
                    display: block;
                }
            }
        }
    }

    span {
        position: relative;
        display: inline-block;
        padding-left: 34px;
        font-size: 18px;
        cursor: pointer;

        &:before {
            content: '';
            width: 22px;
            height: 22px;
            border: 1px solid #c4c4c4;
            border-radius: 2px;
            position: absolute;
            top: 2px;
            left: 0;
        }

        &:after {
            content: "\e905";
            font-family: $icomoon;
            font-size: 20px;
            line-height: 1;
            color: $secondary;
            position: absolute;
            top: 3px;
            left: 5px;
            display: none;
        }
    }

    &.small {

        span {
            font-size: 14px;
            padding-left: 30px;

            &:before {
                width: 18px;
                height: 18px;
            }

            &:after {
                left: 2px;
                font-size: 16px;
            }
        }
    }
}

.custom-radio {

    label {
        display: block;
        margin: 0;
        color: $color-medium;
    }

    input[type="radio"] {
        display: none !important;

        &:checked {

            & ~ span {

                &:after {
                    display: block;
                }

                &:before {
                    border-color: $primary;
                }
            }
        }
    }

    span {
        position: relative;
        display: inline-block;
        padding-left: 28px;
        font-size: 14px;
        cursor: pointer;

        &:before {
            content: '';
            width: 16px;
            height: 16px;
            border: 1px solid $color-dark;
            border-radius: 50%;
            position: absolute;
            top: 2px;
            left: 0;
        }

        &:after {
            content: '';
            width: 12px;
            height: 12px;
            background: $primary;
            border-radius: 50%;
            position: absolute;
            top: 4px;
            left: 2px;
            display: none;
        }
    }

    &.error {

        .error-message {
            font-size: 10px;
            top: -12px;
            left: 42px;
        }

        span {

            &:before {
                 border-color: $danger;
            }
        }
    }
}

.fl_wrap {
    position: relative;

    &.focused,
    &.populated {

        .fl_label {
            font-size: 14px;
            top: 6px;
            color: rgba($primary, .3);
        }
    }

    .fl_label {
        position: absolute;
        top: 17px;
        left: 25px;
        font-size: 18px;
        color: $color-dark;
        margin: 0;
        transition: all .2s;
        z-index: 1;

        @include media-breakpoint-down(sm) {
            left: 15px;
        }
    }

    .fl_input {
        padding: 20px 25px 0;

        @include media-breakpoint-down(sm) {
            padding: 20px 15px 0;
        }
    }
}

.error-message {
    position: absolute;
    top: -23px;
    font-size: 12px;
    font-weight: 700;
    color: $danger;
}

.error {

    .form-control {
        border-color: $danger;
        color: $danger;
    }

    &.empty {

        .fl_label {
            color: $danger;
        }
    }
}

.select2-container {
    display: block;

    &.fl_input {
        padding: 0;
    }

    & + .fl_label {
        pointer-events: none;
    }

    .select2-selection {
        height: 59px;
        border-color: $color-border;
        border-radius: 3px;

        &:focus {
            outline: none;
        }

        .select2-selection__rendered {
            padding: 25px 65px 0 25px;
            color: $color-medium;
            font-weight: 700;
            font-size: 18px;

            @include media-breakpoint-down(sm) {
                padding: 25px 65px 0 15px;
                font-size: 16px;
            }

            &:before {
                content: '';
                width: 1px;
                height: 32px;
                background: $color-border;
                position: absolute;
                top: 15px;
                right: 60px;
            }

            small {
                font-size: 14px;
                color: rgba($primary, .35);
                padding-left: 15px;
            }
        }

        .select2-selection__arrow {

            b {
                width: 14px;
                height: 14px;
                border: solid $color-border;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                margin-left: -26px;
                margin-top: 6px;
            }
        }
    }

    .select2-search--dropdown {
        display: none;
    }

    &.select2-container--open {

        .select2-selection--single {

            .select2-selection__arrow {

                b {
                    border: solid $color-border;
                    border-width: 0 2px 2px 0;
                    transform: rotate(225deg);
                    margin-top: 15px;
                }
            }
        }
    }

    .select2-dropdown {
        border-color: $color-border;
    }

    .select2-results__option--highlighted[aria-selected] {
        background-color: $secondary;

        small {
            color: #fff;
        }
    }

    .select2-results {

        & > {

            .select2-results__options {
                max-height: 296px;
            }
        }
    }

    .select2-results__option {
        color: $color-medium;
        font-size: 18px;
        padding: 0 20px;

        &:not(:last-child) {

            span {
                border-bottom: 1px solid rgba($primary, .1);
            }
        }

        span {
            display: block;
            padding: 23px 12px;
        }

        small {
            font-size: 14px;
            color: rgba($primary, .35);
            padding-left: 15px;
        }
    }

    &.select2-container--below,
    &.select2-container--above,
    &.select2-container--focus {

        & + .fl_label {
            font-size: 14px;
            top: 6px;
        }
    }
}