#header {
    padding: 15px 0;
    background: $header-bg;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;

    @include media-breakpoint-down(sm) {
        padding: 7px 0;
    }

    .container {
        display: flex;
        justify-content: space-between;
        width: 97%;

        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }

    .logo {
        position: relative;
        width: 101px;
        margin-bottom: -40px;
        z-index: 1000;

        @include media-breakpoint-down(sm) {
            width: 83px;
            margin: 0;
        }
    }
}

.main-menu-holder {
    display: flex;
    align-items: center;
}

.main-menu {
    position: relative;

    @include media-breakpoint-down(sm) {
        position: absolute;
        top: 51px;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 99;
    }

    ul {
        @extend %clear-list;

        @include media-breakpoint-down(sm) {
            padding: 72px 0 50px;
            overflow-y: auto;
        }

        .open-nav & {
            transform: translateY(0);
        }

        li {
            position: relative;
            color: $secondary;
            display: inline-block;
            vertical-align: top;

            @include media-breakpoint-down(sm) {
                display: block;
            }

            &:not(:last-child) {
                margin-right: 35px;

                @include media-breakpoint-down(md) {
                    margin-right: 20px;
                }

                @include media-breakpoint-down(sm) {
                    margin: 0 0 23px;
                }
            }

            &.current_page_item {

                a {
                    border-color: $primary;
                }
            }

            a {
                position: relative;
                display: block;
                font-size: 15px;
                font-weight: 300;
                color: $color-menu;
                transition: color .15s;
                text-transform: uppercase;

                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                }

                &:hover {

                    &:before {
                        width: 100%;
                        opacity: 1;
                    }
                }

                &:before {

                    @include media-breakpoint-up(md) {
                        content: '';
                        position: absolute;
                        bottom: -17px;
                        left: 0;
                        height: 1px;
                        width: 0;
                        opacity: 0;
                        background: $primary;
                        transition: all .2s;
                    }
                }
            }
        }
    }

    .drop {

        @include media-breakpoint-down(sm) {
            overflow-y: auto;
            background: #1d1d1d;
            max-height: 0;
            transition: max-height .4s linear;
            padding: 0 18px;
            height: 100vh;
            z-index: 999;
        }
    }

    .open-nav & {

        .drop {

            @include media-breakpoint-down(sm) {
                max-height: 2000px;
            }
        }
    }
}

.burger-btn {
    height: 17px;
    width: 26px;
    position:absolute;
    top: 24px;
    right: 15px;
    z-index: 100;
    display: none;
    border: none;
    background: none;
    padding: 0;
    transition: top .2s;

    @include media-breakpoint-down(sm) {
        display: block;
    }

    &:focus {
        outline: none;
    }

    &:before,
    &:after,
    span {
        background: white;
        position:absolute;
        top: 7px;
        left: 0;
        width: 26px;
        height: 2px;
        transform: rotate(0);
        transition: all .2s linear;
    }

    &:before,
    &:after {
        content: '';
        top: 0;
    }

    &:after {
        top: 14px;
    }

    .open-nav & {

        span {
            opacity: 0;
        }

        &:before,
        &:after {
            width: 24px;
            top: 8px;
            background: $danger;
        }

        &:before {
            transform: rotate(45deg);
        }

        &:after {
            transform: rotate(-45deg);
        }
    }
}

.open-nav {
    overflow: hidden;
}