[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-youtube:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e902";
}
.icon-event:before {
  content: "\e903";
}
.icon-shop:before {
  content: "\e904";
}
.icon-build:before {
  content: "\e905";
}
.icon-coupon:before {
  content: "\e906";
}
.icon-info:before {
  content: "\e907";
}
.icon-man:before {
  content: "\e908";
}
.icon-pin:before {
  content: "\e909";
}
.icon-queue:before {
  content: "\e90a";
}
.icon-quote-down:before {
  content: "\e90b";
}
.icon-quote-up:before {
  content: "\e90c";
}
.icon-restaurant:before {
  content: "\e90d";
}
.icon-ticket:before {
  content: "\e90e";
}
.icon-twitter:before {
  content: "\e90f";
}
.icon-check:before {
  content: "\e910";
}
.icon-disk:before {
  content: "\e911";
}
.icon-plane:before {
  content: "\e912";
}
.icon-close:before {
  content: "\e913";
}
.icon-search:before {
  content: "\e914";
}
.icon-chevron-right:before {
  content: "\e915";
}
.icon-chevron-left:before {
  content: "\e916";
}