.modal {
    color: rgba(#1d1d1d, .65);
    font-weight: 400;
    background: url(#{$path-img}modal-mask.png);

    .close {
        position: absolute;
        right: 15px;
        top: 15px;
        padding: 0;
        cursor: pointer;
        color: #bdbdbf;
        font-size: 16px;
        opacity: 1;
        transition: opacity .15s;
        text-shadow: none;
        z-index: 1;

        @include media-breakpoint-down(sm) {
            right: 15px;
            top: 15px;
        }

        &:hover {
            color: $info;
        }

        &:focus {
            outline: none;
        }
    }
}

.modal-dialog {
    max-width: 700px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
    margin: 0 auto;
    padding: 15px 0;
    z-index: 1;

    @include media-breakpoint-down(lg) {
        max-width: 704px;
    }

    @include media-breakpoint-down(sm) {
        max-width: 300px;
        margin: 0 auto;
    }
}

.modal-content {
    position: relative;
    padding: 42px 32px 27px;
    border-radius: 5px;
    border: none;
    overflow: hidden;

    @include media-breakpoint-down(md) {
        padding: 40px 20px;
    }

    @include media-breakpoint-down(sm) {
        padding: 14px 14px 50px;
    }
}

.modal-header {
    border: none;
    padding: 0;
    display: block;
    margin: 0 0 5px;
    overflow: hidden;

    .title {
        font: 700 35px/1.2 $lato;
        text-align: center;
        color: #333;
        padding: 35px 0;
        background: url(#{$path-img}ticket.svg) no-repeat 50% 50% / 170px auto;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            font-size: 30px;
            line-height: 1.5;
            background-size: 140px auto;
            padding: 0;
        }
    }
}

.info-modal {

    .modal-content {
        padding: 0;
        font-size: 15px;
        background: none;

        @include media-breakpoint-down(sm) {
            font-size: 12px;
        }
    }

    .modal-header {
        border-radius: 0;
        margin: 0;
    }

    .modal-body {
        padding: 31px 45px 20px;
        background: $primary;

        @include media-breakpoint-down(md) {
            padding: 20px 30px;
        }

        @include media-breakpoint-down(sm) {
            padding: 15px;
        }

        a {
            color: $danger;
            text-decoration: underline;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .image-block {
        position: relative;
        height: 270px;
        margin: -1px;
        background-size: cover;

        @include media-breakpoint-down(lg) {
            max-width: 705px;
        }

        @include media-breakpoint-down(sm) {
            height: 158px;
            width: 301px;
        }
    }

    h3 {
        font-size: 30px;
        color: #1d1d1d;
        margin: 0 0 13px;
        font-weight: 700;
        text-transform: uppercase;

        @include media-breakpoint-down(sm) {
            font-size: 24px;
            margin: 0 0 10px;
        }
    }

    h4 {
        color: rgba(#1d1d1d, .8);
        font-weight: 700;
        font-size: 19px;
        margin: 0 0 10px;

        @include media-breakpoint-down(sm) {
            font-size: 17px;
            margin: 0 0 9px;
        }
    }

    p {
        margin: 0 0 24px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 20px;
        }
    }

    ol {
        margin: 0 0 22px;
        padding-left: 16px;

        @include media-breakpoint-down(sm) {
            padding-left: 10px;
            margin: 0 0 20px;
        }

        li {
            margin: 0 0 1px;
        }
    }
}

.sale-modal {

    .modal-dialog {
        max-width: 655px;

        @include media-breakpoint-down(lg) {
            max-width: 704px;
        }

        @include media-breakpoint-down(sm) {
            max-width: 300px;
        }
    }

    .description {
        font-size: 12px;
        line-height: 1.4;
        text-align: center;
        margin: 0 auto 21px;
        max-width: 490px;

        @include media-breakpoint-down(sm) {
            margin-bottom: 20px;
        }

        p {
            margin: 0 0 18px;
        }

        b {
            font-size: 20px;
            font-weight: 900;
            color: red;
            text-decoration: underline;

            @include media-breakpoint-down(sm) {
                font-size: 18px;
            }
        }
    }

    .sale-form {
        text-align: center;

        .btn {
            min-width: 183px;
        }
    }

    .form-group {
        margin: 0 0 18px;
        text-align: center;

        &:last-child {
            margin: 0;
        }
    }

    .form-control {
        border: 1px solid rgba(#1d1d1d, .8);
        border-radius: 3px;
        color: rgba(#1d1d1d, .8);
        font-size: 16px;
        font-weight: 700;
        max-width: 183px;
        margin: 0 auto;
        height: 40px;
        padding: 10px;
        text-indent: 1em;
        letter-spacing: 0.9em;
        text-align: center;
        text-transform: uppercase;

        @include placeholder {
            color: rgba(#1d1d1d, .15);
            font-weight: 700;
            letter-spacing: 0.9em;
        }
    }

    .modal-content {
        padding: 40px 32px;
        min-height: 427px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media-breakpoint-down(sm) {
            padding: 15px;
        }
    }

    .modal-body {
        flex: none;
    }

    &.success {

        .modal-header {
            margin: 0 0 28px;

            .title {
                padding: 26px 0;
                background: url(#{$path-img}success.svg) no-repeat 50% 50% / 90px auto;

                @include media-breakpoint-down(sm) {
                    font-size: 35px;
                }
            }
        }

        .modal-body {
            flex: none;
        }

        .description {
            font-size: 15px;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }

            p {
                margin: 0 0 20px;
            }

            b {
                text-decoration: none;
                font-weight: 400;
                color: #1d1d1d;
            }
        }
    }

    &.error {

        .modal-content {

            @include media-breakpoint-down(sm) {
                padding-top: 30px;
            }
        }

        .modal-header {
            margin: 0 auto;
            max-width: 330px;

            .title {
                padding: 23px 0;
                background: url(#{$path-img}error.svg) no-repeat 50% 50% / 120px auto;

                @include media-breakpoint-down(sm) {
                    font-size: 35px;
                    margin: 0;
                    padding: 38px 0;
                }
            }
        }

        .description {
            font-size: 15px;

            @include media-breakpoint-down(sm) {
                font-size: 14px;
            }

            a {
                font-weight: 700;
                color: $danger;
                text-decoration: underline;

                @include media-breakpoint-down(sm) {
                    font-weight: 400;
                }

                &:hover {
                    text-decoration: none;
                }
            }
        }

        .form-control {
            border-color: $danger;
            color: $danger;
        }
    }
}

.newsletter-modal {

    .form-control {
        border-color: #8b8b8b;
        height: 37px;
        padding: 3px 15px;
        color: $primary-dark;

        @include media-breakpoint-down(sm) {
            margin: 0 0 15px;
        }
    }
}