.social {
    @extend %clear-list;
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
        color: white;
        font-size: 10px;
        transition: opacity .15s;

        @include media-breakpoint-down(sm) {
            font-size: 20px;
        }

        &:hover {
            opacity: .7;
        }
    }
}