@import "../base/_bootstrap-variables.scss";

.btn {
  text-transform: uppercase;
  letter-spacing: 0.02em;
  outline: none;

  &:focus {
    box-shadow: none;
  }

  &.btn-outline-primary {
    padding-left: $btn-padding-x - 13px;
    padding-right: $btn-padding-x - 13px;
  }

  &.btn-search {
    border: 1px solid $btn-search-border-color;
    background: $btn-search-bg;
    padding-left: 19px;
    padding-right: 19px;

    &:hover {
      background-color: $btn-search-bg-color-hover;
    }
  }

  &.btn-select {
    width: 100%;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid $btn-select-border-color;
    background-color: $btn-select-bg-color;
    color: $btn-select-color;
    border-radius: 0;
    text-align: left;
    padding: 8px 9px;
    transition-duration: 0.15s;
    letter-spacing: 0;

    &:hover {
      border-color: darken($btn-select-border-color, 10%);
    }

    & + .btn-select-arrow {
      display: block;
      width: 50px;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      background: $btn-select-bg-image center/18px no-repeat;
      cursor: pointer;
      transition-duration: 0.15s;
      transform: scaleY(1);
      z-index: 0;
    }

    &.active {
      font-weight: 700;
      text-transform: none;
    }
  }

  &.btn-reset {
    letter-spacing: 0;
    width: 100%;
    font-family: $font-primary;
    font-weight: 400;
    font-size: 18px;
    border: 1px solid $btn-reset-border-color;
    background-color: $btn-reset-bg-color;
    text-transform: none;
    color: $btn-reset-color;
    border-radius: 0;
    padding: 8px 9px;

    &:hover {
      border-color: darken($btn-reset-border-color, 10%);
    }
  }

  &.btn-filters {
    font-family: $font-secondary;
    font-weight: 400;
    font-size: 14px;
    border: 1px solid $btn-filters-border-color;
    background: $btn-filters-bg;
    color: $btn-filters-color;
    padding: 7px 20px 7px 49px;
    transition-duration: 0.15s;
    text-transform: none;

    &:hover {
      border-color: darken($btn-filters-border-color, 10%);
    }
  }

  &.btn-filter {
    font-family: $font-secondary;
    font-weight: 400;
    border: 1px solid $btn-filter-border-color;
    background-color: $btn-filter-bg-color;
    color: $btn-filter-color;
    transition-duration: 0.15s;
    text-transform: capitalize;
    cursor: pointer;
    letter-spacing: 0;
    margin: 7px 0;

    @include media-breakpoint-up(lg) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 15px;
      min-height: 40px;
      height: 1px;
      font-size: 16px;
      line-height: 19px;
      color: $btn-filter-color-desktop;
      border-color: $btn-filter-border-color-desktop;
      font-family: $font-primary;
      text-shadow: -1px 0 0 transparent;
      transition: all 0.15s ease;
    }

    &.small {
      padding: 6px 11px;
      font-size: 12px;
      line-height: 14px;
      margin: 0;
    }

    &:hover {
      @include media-breakpoint-up(lg) {
        text-shadow: -1px 0 0 $btn-filter-color-desktop;
        background-color: $btn-filter-bg-hover-desktop;
        border-color: $btn-filter-active-border-color-desktop;
      }
    }

    &.active,
    &.focus {
      box-shadow: none;
      outline: none;
    }

    &.selected {
      box-shadow: 0px 0px 30px rgba(0, 92, 145, 0.2);
      color: #56CCF2;
      border-color: #005C92;

      @include media-breakpoint-up(lg) {
        box-shadow: none;
        color: $btn-filter-color-desktop;
        border-color: $btn-filter-active-border-color-desktop;
        text-shadow: -1px 0 0 $btn-filter-color-desktop;
        background-color: $btn-filter-bg-hover-desktop;
      }
    }

    &.pool-a {
        //&.active,
        &.selected {
            box-shadow: 0px 0px 30px $btn-filter-pool-a-active-box-shadow-color;
            color: $btn-filter-pool-a-active-color;
            border-color: $btn-filter-pool-a-active-border-color;

        @include media-breakpoint-up(lg) {
          color: $btn-filter-bg-color;
          text-shadow: -1px 0 0 $btn-filter-bg-color;
          background-color: $btn-filter-pool-a-active-color;
        }
      }
    }

    &.pool-b {
        //&.active,
        &.selected {
            box-shadow: 0px 0px 30px $btn-filter-pool-b-active-box-shadow-color;
            color: $btn-filter-pool-b-active-color;
            border-color: $btn-filter-pool-b-active-border-color;

        @include media-breakpoint-up(lg) {
          color: $btn-filter-bg-color;
          text-shadow: -1px 0 0 $btn-filter-bg-color;
          background-color: $btn-filter-pool-b-active-color;
        }
      }
    }

    &.pool-c {
        //&.active,
        &.selected {
            box-shadow: 0px 0px 30px $btn-filter-pool-c-active-box-shadow-color;
            color: $btn-filter-pool-c-active-color;
            border-color: $btn-filter-pool-c-active-border-color;

        @include media-breakpoint-up(lg) {
          color: $btn-filter-bg-color;
          text-shadow: -1px 0 0 $btn-filter-bg-color;
          background-color: $btn-filter-pool-c-active-color;
        }
      }
    }

    &.pool-d {
        //&.active,
        &.selected {
            box-shadow: 0px 0px 30px $btn-filter-pool-d-active-box-shadow-color;
            color: $btn-filter-pool-d-active-color;
            border-color: $btn-filter-pool-d-active-border-color;

        @include media-breakpoint-up(lg) {
          color: $btn-filter-bg-color;
          text-shadow: -1px 0 0 $btn-filter-bg-color;
          background-color: $btn-filter-pool-d-active-color;
        }
      }
    }

    &.pool-other {
        //&.active,
        &.selected {
            box-shadow: 0px 0px 30px $btn-filter-active-box-shadow-color;
            color: $btn-filter-active-color;
            border-color: $btn-filter-active-border-color;
        }
    }

    &.pool-a,
    &.pool-b,
    &.pool-c,
    &.pool-d,
    &.pool-other {
      &.active,
      &.focus {
        box-shadow: none;
        outline: none;
      }
    }
  }

  &.btn-lg {
      padding-top: $btn-padding-y-lg;
      padding-bottom: $btn-padding-y-lg + 1;
  }

  &.btn-gradient {
    background-image: $btn-gradient-bg-image;
    text-transform: none;
    font-weight: 700;
    font-family: $font-primary;
  }

  &.btn-gradient-select {
    width: 120px;
    color: $white;
    text-transform: none !important;
    z-index: 10;

    &:disabled {
      background-image: none;
      background-color: #bdc3c7;
    }

    &.checked {
      background-image: none;
      background-color: #bdc3c7;
    }
  }

  &.btn-gradient-get-package {
    width: 179px;
    padding: 18px 0;
    color: $white;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.02em;
    border: 0;
    border-radius: 3px;

    @include media-breakpoint-down(sm) {
      width: 120px;
      padding: 5.5px 0;
      font-size: 14px;
    }
  }

  &.btn-gradient-get-info {
    width: 143px;
    padding: 6px 0;
    color: $white;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    margin-left: 20px;
    box-shadow: 0px 0px 30px rgba(255, 145, 160, 0.35);
    border-radius: 3px;
    border: 0;
  }

  &.btn-fix-width {
    width: 147px
  }

  &.btn-dropdown {
    position: relative;
    width: 100%;
    height: 40px;
    padding: 8px 9px;
    font-size: 18px;
    font-weight: 400;
    background: $white;
    border: 1px solid #f3f3f3;
    color: rgba(29, 29, 29, .7);
    text-align: left;

    &:after {
      content: '';
      position: absolute;
      top: 16px;
      right: 9px;
      width: 18px;
      height: 9px;
      background: url('#{$path-img}icons/arrow.svg');
    }

    &:hover {
      border-color: #dadada;
      color: rgba(29, 29, 29, .7);
    }

    &.clear {
      text-align: center;
      text-transform: none;
      color: rgba(241, 59, 84, .8);

      &:after {
        background: none !important;
      }
    }
  }
}

//.dropdown,
.btn-reset-label {
  position: relative;
  width: 20%;

  &::before {
    content: " ";
    display: block;
    position: absolute;
    width: 48px;
    height: 38px;
    right: 1px;
    top: 1px;
    background-color: $btn-select-bg-color;
    box-shadow: -10px 0 5px -5px $btn-select-bg-color;
    z-index: 1;
  }
}

.btn-select-label {
  position: relative;
  width: 100%;
}