.card-list {
  margin-bottom: 88px;

  @include media-breakpoint-up(lg) {
    margin-bottom: 163px;
  }
}

.card {
  margin-bottom: 20px;
  z-index: 1;

  @include media-breakpoint-up(lg) {
    margin-bottom: 30px;
  }

  .card-header {
    color: $card-header-color;
    border-bottom: none;

    .card-title {
      margin-bottom: 7px;
      font-size: 16px;
      letter-spacing: 0.0625em;
      font-weight: 700;
    }

    .card-text {
      font-size: 14px;
      letter-spacing: 0.0714em;
    }
  }

  .card-body {
    color: $card-body-color;
    letter-spacing: .03em;
    padding: 19px 20px 15px;
    overflow: hidden;

    .content-wrap {
      margin-right: 35px;
    }

    .card-title {
      margin-bottom: 8px;
      font-size: 16px;
      line-height: 1;
      font-weight: 700;
    }

    .card-text {
      font-size: 16px;
      line-height: 1;
      font-weight: 300;
      padding-bottom: 6px;
    }

    .flag-img {
      width: 78px;
      height: 95px;
      margin-right: 3px;
    }
  }

  .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    min-height: 100%;
    border-radius: 0;
    object-fit: cover;
    z-index: -1;
  }

  .list-group {
    color: $card-list-group-color;
    border: 1px solid rgba($dark, 0.1);
    border-top-width: 0;
    border-radius: 0 0 $card-border-radius $card-border-radius;

    @include media-breakpoint-up(sm) {
      padding: 0 30px;
    }

    .list-group-item {
      padding: 25px 0;

      .title {
        letter-spacing: .03em;
        margin-right: 17px;
        font-size: 16px;
        font-weight: 700;
      }

      .text {
        letter-spacing: 1px;
        font-weight: 700;
        font-size: 32px;
        padding-right: 6px;

        @include media-breakpoint-up(sm) {
          padding-right: 26px;
        }
      }
    }
  }
}