
.shadow-wrapper {
  .category {
    @extend %bgCoverBack;
    padding: 23px 5% 23px 8.4%;

    &.cat-b {
      background-image: url('#{$path-img}categoryB-background.png');
    }

    &.cat-c {
      background-image: url('#{$path-img}categoryC-background.png');
    }

    &.cat-d {
      background-image: url('#{$path-img}categoryD-background.png');
    }

    &__title-block {
      height: 100%;
      flex-direction: column;
    }

    &__title {
      font-size: 16px;
      letter-spacing: 0.07em;
      color: rgba(29, 29, 29, 0.6);
      text-transform: uppercase;
    }

    &__type {
      @extend %bgContain;
      width: 122px;
      height: 128px;
    }

    &__price {
      font-weight: bold;
      font-size: 28px;
      letter-spacing: 0.02em;
      color: rgba(29, 29, 29, 0.9);
      margin-bottom: 7px;
    }

    &__info {
      position: absolute;
      top: 10px;
      right: 10px;
      width: 15px;
      height: 15px;
      border: 1px solid rgba(29, 29, 29, 0.6);
      border-radius: 50%;
      font-size: 9px;
      padding-top: 1px;
      color: rgba(29, 29, 29, 0.6);
      cursor: pointer;
    }
  }
}

.match {
  &__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
    color: rgba(29, 29, 29, 0.75);

    .vs {
      font-size: 20px;
      color: rgba(29, 29, 29, 0.75);
    }
  }

  &__block-short {
    width: 100%;
    padding: 25px 0;
    border-top: 0.5px solid rgba(29, 29, 29, 0.25);
    border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.6);
  }

  &__date {
    font-size: 12px;
    letter-spacing: 0.03em;
    text-align: center;
  }

  &__participant-flag {
    @extend %bgContain;
    width: 46px;
    height: 36px;
    margin-bottom: 5px;
  }

  &__participant-country {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;
  }
}

/******* CATEGORY MODAL *******/
.category-popup {
  .modal-dialog {
    //max-width: 788px;
  }

  .modal-header,
  .modal-header-confirm,
  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .modal-header, .modal-header-confirm {
    @extend %bgCoverBack;
    background-image: url('#{$path-img}category-popup-background.png');
    width: 100%;
    height: 300px;
    padding: 56px 0 0;
    color: $white;

    .title {
      font-size: 30px;
      text-align: center;
      letter-spacing: 0.05em;
      margin-bottom: 30px;
    }

    .participants {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 70%;
      max-width: 330px;
      font-size: 20px;
    }
  }

  .modal-header-confirm {
    background-image: url('#{$path-img}category-popup-background-confirm.jpg');
  }

  .modal-body {
    @extend %bgContain;
    width: 100%;
    height: 353px;
    padding: 30px 0 20px;
    font-size: 16px;
    color: rgba(29, 29, 29, 0.75);

    &.confirm-category {
      font-size: 28px;
      font-weight: bold;
      line-height: normal;
      text-align: center;
      letter-spacing: 0.05em;
      color: rgba(29, 29, 29, 0.8);
    }

    .stadium-img {
      max-width: 350px;
      max-height: 270px;

      img {
        max-height: 270px;
      }
    }

    //&.tokyo-b {
    //  background-image: url('#{$path-img}tokyo-B.png');
    //}
    //
    //&.tokyo-c {
    //  background-image: url('#{$path-img}tokyo-B.png');
    //}
    //
    //&.tokyo-d {
    //  background-image: url('#{$path-img}tokyo-B.png');
    //}
  }

  &.modal.fade .modal-dialog {
    transform: translate(0, 0);
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .shadow-wrapper {
    .category {
      background-size: contain !important;
      flex-direction: column;
      padding: 50px 20px 20px;

      &.cat-b {
        background-image: url('#{$path-img}categoryB-background-mobile.png');
      }

      &.cat-c {
        background-image: url('#{$path-img}categoryC-background-mobile.png');
      }

      &.cat-d {
        background-image: url('#{$path-img}categoryD-background-mobile.png');
      }

      &__title-block {
        flex-direction: row;
      }

      &__type {
        background-size: cover !important;
        width: 66px;
        height: 79px;
      }

      &__price {
        font-size: 22px;
        margin: 0 22px 0 0;
      }

      &__selection {
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;
      }
    }
  }
}

.category-holder {
  margin-bottom: 20px;
}