.component-collapse {
  padding: 5px 0;

  .title {
    position: relative;
    cursor: pointer;
    background-color: $collapse-title-bg-color, $collapse-title-bg-color;
    background-image: $collapse-title-bg-image;
    background-size: cover, cover;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0.02em;
    color: $collapse-title-color;
    font-weight: 700;
    padding: 4px 55px 6px 10px;
    box-shadow: $collapse-title-box-shadow;
    min-height: 50px;
    display: flex;
    align-items: center;

    @include media-breakpoint-up(md) {
      padding: 4px 63px 6px 11px;
      min-height: 53px;
      font-size: 18px;
    }

    &::before {
      content: "";
      min-height: inherit;
      font-size: 0;
    }

    &::after {
      content: " ";
      display: block;
      position: absolute;
      top: 50%;
      right: 25px;
      margin-top: -6px;
      width: 20px;
      height: 12px;
      background: url("#{$path-img}icons/arrow-inverse.svg") center/contain no-repeat;
      transition-duration: 0.3s;
      transform: scaleY(-1);

      @include media-breakpoint-up(md) {
        right: 32px;
      }
    }

    &.collapsed {
      font-weight: 400;

      &::after {
        transform: scaleY(1);
      }
    }
  }

  .text-wrapper {
    position: relative;

    &::before {
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $collapse-border-color;
      position: absolute;
      left: 0;
      top: 0;
    }

    &::after {
      content: " ";
      display: block;
      width: 100%;
      height: 1px;
      background-color: $collapse-border-color;
      position: absolute;
      left: 0;
      bottom: 0;
    }
  }

  .text {
    border: 1px solid $collapse-border-color;
    background-color: $collapse-text-background-color;
    color: $collapse-text-color;
    padding: 10px 0 14px;

    @include media-breakpoint-up(md) {
      padding: 22px 0;
    }

    li {
      position: relative;
      font-size: 14px;
      line-height: 22px;
      letter-spacing: 0.03em;
      padding: 9px 41px 10px;

      @include media-breakpoint-up(md) {
        line-height: 25px;
        font-size: 16px;
        padding-top: 8px;
        padding-bottom: 8px;
      }

      &::before {
        content: " ";
        position: absolute;
        left: 19px;
        top: 15px;
        width: 9px;
        height: 10px;
        background: url("#{$path-img}icons/ellipse.svg") center no-repeat;

        @include media-breakpoint-up(md) {
          top: 16px;
        }
      }
    }
  }
}