%bgCoverBack {
  background-size: cover;
  background-position: 0 0;
  background-repeat: no-repeat;
}

%bgContain {
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

.shadow-wrapper {
  line-height: $default-line-height;
  filter: drop-shadow(0px 0px 20px rgba(29, 29, 29, 0.1));
  margin-bottom: 70px;

  &.with-details {
    margin-bottom: 10px;
  }
}

.shadow-container {
  position: relative;
  background: $white;
  border: 0.5px solid rgba(29, 29, 29, 0.1);
  border-radius: 5px;
  width: 100%;
  max-width: 730px;
  height: 180px;
  clip-path: polygon(0 0%, 100% 0, 96% 100%, 0 100%);
}

.info-block {
  height: 100%;
}

.w-33 {
  width: calc(100% / 3);
}

/******* DOWNHILL LINE *******/
.downhill-line {
  position: relative;
  height: 100%;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 0.5px;
    background: rgba(29, 29, 29, 0.35);
  }

  &.deg-15 {
    &:after {
      transform: rotate(15deg);
      -webkit-transform: rotate(15deg);
      -moz-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
      -o-transform: rotate(15deg);
    }
  }

  &.deg-10 {
    &:after {
      transform: rotate(10deg);
      -webkit-transform: rotate(10deg);
      -moz-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
      -o-transform: rotate(10deg);
    }
  }
}

/******* FLIGHT CIRCLE *******/
.flight__circle {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: rgba(195, 58, 140, 0.85);
  border: 1px solid rgba(195, 58, 140, 0.1);

  &.top {
    position: absolute;
    top: 0;
    left: -4.5px;
  }

  &.bottom {
    position: absolute;
    bottom: 0;
    left: -4.5px;
  }
}


/******* TITLE WITH ICON *******/
.title-icon {
  @extend %bgContain;
  margin-right: 9px;

  &.up {
    width: 18px;
    height: 12px;
    background-image: url('#{$path-img}icons/airplane-up.png');
  }

  &.down {
    width: 18px;
    height: 12px;
    background-image: url('#{$path-img}icons/airplane-down.png');
  }

  &.breakfast {
    width: 12px;
    height: 12px;
    background-image: url('#{$path-img}icons/breakfast.png');
  }

  &.conditioner {
    width: 14px;
    height: 11px;
    background-image: url('#{$path-img}icons/conditioner.png');
  }

  &.ticket {
    width: 18px;
    height: 18px;
    background-image: url('#{$path-img}icons/badge-2.svg');
  }

  &.wifi {
    width: 12px;
    height: 9px;
    background-image: url('#{$path-img}icons/wifi.png');
  }

  &.airplane {
    width: 20px;
    height: 12px;
    background-image: url('#{$path-img}icons/airplane.svg');
  }

  &.bed {
    width: 19px;
    height: 12px;
    background-image: url('#{$path-img}icons/bed.svg');
  }

  &.support {
    width: 19px;
    height: 20px;
    background-image: url('#{$path-img}icons/support.svg');
  }

  &.download {
    width: 18px;
    height: 16px;
    background-image: url('#{$path-img}icons/download.svg');
  }

  &.location {
    width: 8px;
    height: 10px;
    background-image: url('#{$path-img}icons/_location.svg');
  }
}

.select-block {
  height: 100%;
  flex-direction: column;
  justify-content: center;

  .fa {
    color: rgba(29, 29, 29, 0.75);
  }
}

/******* SPONSOR COMPONENT *******/
.sponsor {
  width: 90%;
  margin: 100px auto;

  &__logo {
    @extend %bgContain;
    background-image: url('#{$path-img}sponsor-logo.png');
    width: 165px;
    height: 156px;
    margin-bottom: 65px;
  }

  &__text {
    font-size: 16px;
    color: rgba(29, 29, 29, 0.25);
    text-align: center;
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .shadow-wrapper {
    margin-bottom: 50px;
  }

  .shadow-container {
    height: auto;
    clip-path: none;
  }

  .downhill-line {
    height: 150px;
  }

  .select-block {
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 35px;
  }

  .sponsor {
    margin: 50px 15px 80px;

    &__logo {
      width: 119px;
      height: 112px;
      margin-bottom: 38px;
    }
  }
}