.ui-datepicker {
  background: $datepicker-bg;
  box-shadow: 0px 4px 30px $datepicker-box-shadow-color;
  border-bottom: 1px solid $datepicker-border-color;
  z-index: 1000;

  .ui-datepicker-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 78px;
    background: $datepicker-bg;
    box-shadow: 0px 5px 30px $datepicker-box-shadow-color;
    border-radius: 3px;

    .ui-datepicker-prev,
    .ui-datepicker-next {
      display: block;
      min-height: 100%;
      height: 1px;
      width: 66px;
      background: url("#{$path-img}icons/datepicker-arrow.svg") center/8px no-repeat;
      transition-duration: 0.3s;

      &:hover {
        background-size: 10px;
      }

      &.ui-state-disabled {
        visibility: hidden;
      }

      .ui-icon {
        display: none;
      }
    }

    .ui-datepicker-prev {
      order: 1;
      transform: scaleX(-1);
    }

    .ui-datepicker-next {
      order: 3;
    }

    .ui-datepicker-title {
      order: 2;
      font-size: 24px;
      font-weight: 700;
      color: $datepicker-title-color;
      text-align: center;
      letter-spacing: 0.02em;
    }
  }

  .ui-datepicker-calendar {
    margin: 37px 24px 19px;

    th,
    td {
      width: 49px;
      text-align: center;
      font-weight: 700;
      font-size: 14px;
    }

    thead {

      th {
        color: $datepicker-th-color;
        padding-top: 4px;
        padding-bottom: 27px;
      }
    }

    tbody {

      td {
        padding: 5px 0;
        color: $datepicker-td-color;

        &.ui-datepicker-week-end {

        }

        &.ui-state-disabled {
          color: $datepicker-td-disabled-color;

          .ui-state-default {

            &:hover {
              color: inherit;
            }
          }
        }

        &.ui-datepicker-current-day {

          .ui-state-default {

            &.ui-state-active {
              background-color: $datepicker-td-active-bg;
              color: $datepicker-td-active-color;
            }
          }
        }

        &.ui-datepicker-today {
          color: $datepicker-th-color;
        }

        .ui-state-default {
          display: inline-block;
          color: inherit;
          text-decoration: none;
          transition-duration: 0.3s;
          width: 24px;
          height: 24px;
          line-height: 24px;
          border-radius: 24px;

          &:hover {
            color: $datepicker-th-color;
          }
        }
      }
    }
  }
}