.shadow-wrapper {
  .flight {
    @extend %bgCoverBack;
    background-image: url('#{$path-img}flight-background.png');
    padding: 23px 5% 23px 11%;

    &__point {
      font-size: 24px;
      font-weight: 700;
      letter-spacing: 1px;
      text-transform: uppercase;
    }

    &__path {
      position: relative;
      width: 32px;
      margin: 12px 5px 0;

      .fa.fa-angle-right {
        position: absolute;
        top: -5px;
        left: calc(50% - 2px);
        color: rgba(29, 29, 29, 0.45);
      }
    }

    &__line {
      position: absolute;
      left: 7px;
      right: 7px;
      border-top: 1px dashed rgba(29, 29, 29, 0.35);
    }

    &__airport {
      font-size: 8px;
      color: rgba(29, 29, 29, 0.35);
      margin-bottom: 3px;
    }

    &__transit {
      font-size: 8px;
      color: rgba(29, 29, 29, 0.25);
    }

    &__date {
      font-size: 14px;
      color: rgba(29, 29, 29, 0.45);
      margin: 12px 0 3px;
    }

    &__time {
      font-size: 14px;
      font-weight: 700;
      letter-spacing: 2px;
      color: rgba(29, 29, 29, 0.75);
    }

    .info {
      color: rgba(29, 29, 29, 0.75);
      margin-right: 6px;
      cursor: pointer;
    }

    .from-to {
      color: rgba(29, 29, 29, 0.45);
    }
  }
}

.btn-wrap {
  flex-grow: 1;
}

/******* FLIGHT DETAILS *******/
.flight-details-wrapper {
  width: 100%;
  max-width: 730px;
  background: $white;
  box-shadow: 0px 12px 30px rgba(29, 29, 29, 0.15);
  border-radius: 5px;

  .flight-tabs {
    width: 100%;

    a.nav-link {
      margin: 0;
    }
  }

  .flight-transit {
    padding: 15px 0;
    font-size: 14px;
    color: rgba(255, 0, 0, 0.8);
    border-top: 1px dashed rgba(29, 29, 29, 0.25);
    border-bottom: 1px dashed rgba(29, 29, 29, 0.25);
  }
}

/******* FLIGHT DETAILS TABS *******/
.flight-details-tabs {
  padding: 14px 28px 0;
  border-bottom: 0.5px solid rgba(29, 29, 29, 0.25);

  .tab {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #1D1D1D;
    margin: 0 20px;
    padding-bottom: 11px;
    cursor: pointer;

    &.active {
      font-weight: bold;
      border-bottom: 2px solid #F13B3B;
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .shadow-wrapper {
    .flight {
      background-size: contain !important;
      background-image: url('#{$path-img}flight-background-mobile.png');
      padding: 80px 2.5% 20px;

      &__airport {
        margin-bottom: 22px;
      }
    }
  }

  .btn-wrap {
    order: 2;
    justify-content: flex-end;
  }

  .flight-details-wrapper {
    .flight-transit {
      padding: 10px 0;
      font-size: 12px;
    }
  }

  .flight-details-tabs {
    padding: 12px 10px 0;

    .tab {
      font-size: 12px;
      margin: 0 7px;
    }
  }
}