.form-control {
  padding: 0 11px;
  line-height: 48px;
  height: 48px;
  letter-spacing: 0.02em;
  font-family: $font-secondary;
  font-size: 16px;

  @include media-breakpoint-up(lg) {
    font-size: 18px;
    padding: 0 22px;
  }

  &::placeholder {
    color: $form-control-placeholder-color;
  }
}