.hotel {
  &__image {
    @extend %bgCoverBack;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    width: 175px;
    height: 100%;
  }

  &__background {
    @extend %bgCoverBack;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('#{$path-img}hotel-background.png');
  }

  &__info {
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 175px);
    padding: 15px 5% 15px 20px;
  }

  &__details {
    width: 300px;

    .name {
      font-size: 18px;
      letter-spacing: 0.02em;
      color: #1D1D1D;
    }

    .address {
      font-size: 10px;;
      letter-spacing: 0.02em;
      color: rgba(29, 29, 29, 0.8);
      margin-bottom: 5px;
    }

    .term {
      font-size: 14px;
      letter-spacing: 0.02em;
      color: rgba(29, 29, 29, 0.6);
    }
  }

  &__features {
    font-size: 10px;
    line-height: 16px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.4);
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .hotel {
    flex-direction: column;

    &__image {
      background-size: cover !important;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      width: 100%;
      height: 162px;
    }

    &__background {
      background-size: contain !important;
      background-image: url('#{$path-img}hotel-background-mobile.png');
    }

    &__info {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      padding: 20px;
    }

    &__details {
      width: 100%;

      .address {
        margin-bottom: 15px;
      }
    }

    &__features {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}