.component-info {

  .info-item {
    background: no-repeat left center;
    line-height: 22px;
    padding-left: 38px;
    margin: 12px 0;
    font-size: 18px;
    letter-spacing: 0.03em;

    @include media-breakpoint-up(lg) {
      font-size: 14px;
      letter-spacing: 0.02em;
    }

    &.info-badge {
      background-image: url("#{$path-img}icons/badge.svg");
      background-size: 23px;
    }

    &.info-location {
      background-image: url("#{$path-img}icons/location.svg");
      background-size: 22px;
    }

    &.info-calendar {
      background-image: url("#{$path-img}icons/calendar.svg");
      background-size: 22px;
    }
  }
}