.package-details-ticket-wrapper {
  position: relative;
  max-width: 1004px;
  background: $white;
  border: 1px solid rgba(29, 29, 29, 0.1);
  border-radius: 5px;
  height: 180px;
  padding: 10px 0;
  margin-bottom: 20px;

  .match {
    &__block {
      height: 100%;

      .participant {
        width: 232px;
      }

      .vs {
        font-size: 36px;
        padding: 0 25px;
      }

      > div:nth-child(2) {
        width: 50%;
      }
    }

    &__date,
    &__stadium {
      font-size: 16px;
    }

    &__participant-flag {
      width: 84px;
      height: 70px;
    }

    &__participant-country {
      font-size: 20px;
    }
  }
}

.package-details-ticket {
  &__pool {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 38px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background: #97989A;
    font-size: 16px;
    letter-spacing: 0.05em;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2);
    word-wrap: break-word;
    writing-mode: vertical-lr;
    text-orientation: upright;
    padding: 0 13px;

    &.pool-a {
      background: #59C8E7;
    }

    &.pool-b {
      background: #F2466F;
    }

    &.pool-c {
      background: #3BD8C2;
    }

    &.pool-d {
      background: #9843B7;
    }

    &.pool-other {
      background: #97989A;
    }
  }

  &__categories {
    flex-direction: column;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 16px;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.6);

    .category {
      position: relative;
      padding: 4px 0 4px 26px;

      &:before {
        content: '';
        display: block;
        width: 18px;
        height: 14px;
        position: absolute;
        top: 4px;
        left: 0;
      }

      &.cat-b {
        &:before {
          background: #005C92;
        }
      }

      &.cat-c {
        &:before {
          background: #FBB531;
        }
      }

      &.cat-d {
        &:before {
          background: #009987;
        }
      }
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .package-details-ticket-wrapper {
    margin-bottom: 10px;
    padding: 7px 0 40px;

    .match {
      &__block {
        .participant {
          width: 123px;
        }

        .vs {
          font-size: 24px;
          padding: 0;
        }

        > div:nth-child(2) {
          width: 70%;
        }
      }

      &__date,
      &__stadium {
        font-size: 12px;
        width: 75%;
        text-align: center;
      }

      &__participant-flag {
        width: 34px;
        height: 42px;
      }

      &__participant-country {
        font-size: 14px;
      }
    }
  }

  .package-details-ticket {
    &__pool {
      width: 28px;
      font-size: 12px;
      padding: 0 8px;
    }

    &__categories {
      flex-direction: row;
      justify-content: center;
      width: calc(100% - 28px);
      padding: 8px;
      font-size: 10px;

      .category {
        padding-left: 15px;
        margin-right: 10px;

        &:before {
          content: '';
          width: 10px;
          height: 10px;
        }
      }
    }
  }
}