.package-details-flight-wrapper {
  width: 466px;
  background: $white;
  border: 0.5px solid rgba(29, 29, 29, 0.1);
  border-radius: 5px;
  margin: 15px;
}

.flight {
  &__pathway {
    @extend %bgCoverBack;
    background-position: center center;
    width: 100%;
    height: 148px;
    padding: 0 22px;
    background-image: url('#{$path-img}pathway.png');
    color: $white;
    line-height: 1;

    .city-short-name {
      font-size: 48px;
    }

    .city-full-name {
      font-size: 18px;
      letter-spacing: 0.04em;
    }
  }

  &__info {
    padding: 14px 8px;
    font-size: 12px;
    letter-spacing: 0.02em;
    color: rgba(29, 29, 29, 0.7);

    > div {
      padding: 14px;

      &:first-child {
        border-bottom: 0.5px solid rgba(29, 29, 29, 0.2);
      }
    }

    .date {
      font-size: 14px;
    }

    .time {
      font-size: 36px;
      color: #1D1D1D;
    }

    .direction {
      color: rgba(29, 29, 29, 0.5);
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .package-details-flight-wrapper {
    margin-bottom: 20px;
  }

  .flight {
    &__pathway {
      height: 104px;

      .city-short-name {
        font-size: 42px;
      }

      .city-full-name {
        font-size: 16px;
      }
    }

    &__info {
      padding: 0 8px;
      font-size: 12px;

      > div {
        padding: 10px;
      }

      .date {
        font-size: 12px;
      }

      .time {
        font-size: 24px;
      }
    }
  }
}