.package-details-hotel-wrapper {
  max-width: 1041px;
  height: 308px;
  background: $white;
  border: 0.5px solid rgba(29, 29, 29, 0.1);
  border-radius: 5px;
  padding: 16px;
}

.package-details-hotel {
  &__image {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border-radius: 5px;
    width: 400px;
    height: 100%;
    margin: 0 20px 0 0;
  }

  &__info {
    .name {
      font-size: 22px;
      text-transform: uppercase;
      color: rgba(29, 29, 29, 0.8);
    }

    .address {
      font-size: 10px;
      letter-spacing: 1px;
      color: rgba(29, 29, 29, 0.4);
    }

    .description {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: rgba(29, 29, 29, 0.75);
    }

    .term {
      font-size: 14px;
      letter-spacing: 0.02em;
      color: rgba(29, 29, 29, 0.5);
    }

    .features {
      font-size: 10px;
      letter-spacing: 0.03em;
      color: rgba(29, 29, 29, 0.4);
    }

    .about {
      font-size: 10px;
      line-height: 14px;
      letter-spacing: 1px;
      color: rgba(29, 29, 29, 0.4);
    }

    .stadium {
      display: flex !important;
      align-items: center !important;
      font-size: 12px;
      color: rgba(29, 29, 29, 0.25);
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .package-details-hotel-wrapper {
    flex-direction: column;
    height: auto;
    padding: 12px;
  }

  .package-details-hotel {
    &__image {
      width: 100%;
      height: 225px;
      margin: 0 0 20px 0;
    }

    &__info {
      .name {
        font-size: 18px;
      }

      .address,
      .term {
        margin-bottom: 10px;
      }
    }
  }
}