.package-wrapper {
  height: auto;
  min-height: 520px;
  background: $white;
  border: 0.5px solid rgba(29, 29, 29, 0.1);
  border-radius: 5px;
  padding: 15px;
  margin: 10px;

  &.size-1 {
    width: 322px;
  }

  &.size-2 {
    width: auto;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
  }

  &.size-3 {
    width: 100%;
  }

  .from {
    font-size: 12px;
    letter-spacing: 0.02em;
    color: rgba(29, 29, 29, 0.5);
    line-height: 1;
  }

  .price {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.02em;
    color: rgba(29, 29, 29, 0.75);
    line-height: 1;
  }
}

.package-item {
  &__image-desktop,
  &__image-mobile {
    position: relative;
    @extend %bgCoverBack;
    background-position: center center;
    width: 100%;
    height: 240px;
    border-radius: 5px;
    margin-bottom: 15px;
  }

  &__image-mobile {
    @include media-breakpoint-up(lg) {
      background-image: none !important;
    }
  }

  &__date {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: rgba(29, 29, 29, 0.2);
    padding: 13px 0;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.8);
  }

  &__features {
    font-size: 12px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.75);
    padding: 4px 0;
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .package-wrapper {
    &.size-1,
    &.size-2 {
      width: 100%;
    }
  }


  .package-item {
    &__image-desktop {
      background-image: none !important;
    }
  }
}