.component-pool {
  display: flex;
  flex-direction: column;
  width: 238px;
  text-align: center;
  border: 1px solid $pool-border-color;
  border-radius: 5px;
  background: $pool-bg-color;
  padding: 26px 21px 20px;
  text-transform: uppercase;
  font-weight: 700;
  margin: ($grid-gutter-width / 2) 0;

  .title {
    display: inline-block;
    align-self: center;
    margin-bottom: -11px;
    position: relative;
    font-size: 24px;
    width: 178px;
    letter-spacing: 0.04em;
    background: $pool-bg-color;
  }

  .countries {
    flex-grow: 1;
    border: 1px solid $pool-border-color;
    border-radius: 5px;
    padding: 12px 10px 9px;
  }

  .country {
    font-size: 20px;
    margin-top: 11px;
    letter-spacing: 0.02em;
    line-height: 20px;
  }

  &.pool-a {

    .title {
      color: $pool-a-title-color;
    }

    .countries {
      border-color: $pool-a-title-color;
    }

    .country {
      color: $pool-a-country-color;
    }
  }

  &.pool-b {

    .title {
      color: $pool-b-title-color;
    }

    .countries {
      border-color: $pool-b-title-color;
    }

    .country {
      color: $pool-b-country-color;
    }
  }

  &.pool-c {

    .title {
      color: $pool-c-title-color;
    }

    .countries {
      border-color: $pool-c-title-color;
    }

    .country {
      color: $pool-c-country-color;
    }
  }

  &.pool-d {

    .title {
      color: $pool-d-title-color;
    }

    .countries {
      border-color: $pool-d-title-color;
    }

    .country {
      color: $pool-d-country-color;
    }
  }
}