.component-socials {
  display: flex;
  justify-content: center;

  .social {
    $width-base: 20px;

    background: no-repeat center;
    height: $width-base + 21px;
    margin: 0 9px;

    @include media-breakpoint-up(lg) {
      height: $width-base + 19px;
      margin: 0 20px;
    }

    &.social-instagram {
      $width-m: 22px;

      background-size: $width-m;
      width: $width-base + $width-m;
      background-image: url("#{$path-img}socials/instagram.svg");

      @include media-breakpoint-up(lg) {
        $width: 19px;

        background-size: $width;
        width: $width-base + $width;
      }
    }

    &.social-youtube {
      $width-m: 30px;

      background-size: $width-m;
      width: $width-base + $width-m;
      background-image: url("#{$path-img}socials/youtube.svg");

      @include media-breakpoint-up(lg) {
        $width: 25px;

        background-size: $width;
        width: $width-base + $width;
      }
    }

    &.social-twitter {
      $width-m: 27px;

      background-size: $width-m;
      width: $width-base + $width-m;
      background-image: url("#{$path-img}socials/twitter.svg");

      @include media-breakpoint-up(lg) {
        $width: 23px;

        background-size: $width;
        width: $width-base + $width;
      }
    }

    &.social-facebook {
      $width-m: 12px;

      background-size: $width-m;
      width: $width-base + $width-m;
      background-image: url("#{$path-img}socials/facebook.svg");

      @include media-breakpoint-up(lg) {
        $width: 10px;

        background-size: $width;
        width: $width-base + $width;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}