.main-content-holder {
    position: relative;
    padding: 38px 0;
    background: linear-gradient(to bottom, rgba(black, .8) 66.3%, rgba(#3B0045, .8) 100%), url(#{$path-img}main-bg.jpg) no-repeat 50% 0 / cover;
    min-height: 500px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: url(#{$path-img}main-mask.png);
        opacity: .75;
    }
}

.main-content-wrapp {
    position: relative;
    z-index: 1;
}

.hero {

    img {
        width: 100%;
    }
}

.info-section {
    margin: 0 0 4px;

    @include media-breakpoint-down(sm) {
        margin: 0 0 30px;
    }

    .info-list {
        @extend %clear-list;
        margin: 0 0 16px;

        li {
            display: flex;
            color: $color-medium;
            font-size: 14px;
            margin: 0 0 7px;

            &:first-child {
                color: $primary;
            }

            sup {
                position: relative;
                top: 0;
                font-size: 9px;
                line-height: 1;
            }
        }

        .icon {
            color: rgba(#f13b54, .75);
            font-size: 20px;
        }

        .icon-ticket {
            font-size: 12px;
        }

        .icon-holder {
            min-width: 27px;
            text-align: center;
            margin-right: 10px;
        }
    }

    .info-label-holder {
        margin: 0 0 20px;

        .label {
            border: 1px solid #c33a8c;
            background: #c33a8c;
            padding: 8px 10px;
            min-width: 80px;
            display: inline-block;
            font-size: 11px;
            line-height: 1;
            border-radius: 3px;
            text-align: center;
            margin-bottom: 10px;
            text-transform: uppercase;

            &:not(:last-child) {
                margin-right: 6px;
            }
        }

        .label-outline {
            color: #c33a8c;
            border-color: #c33a8c;
            background: transparent;
            min-width: 0;
        }
    }

    .logos-block {
        padding-top: 8px;

        @include media-breakpoint-down(sm) {
            display: none;
        }

        .item {
            display: block;
            text-align: center;
        }

        .title {
            display: block;
            margin: 0 0 5px;
            color: $color-medium;
        }
    }
}

.description-block {
    max-width: 605px;
    margin: 0 0 40px;
    border-radius: 5px;
    border: 1px solid $primary;
    padding: 23px;
    background: rgba($primary, .1);

    @include media-breakpoint-down(sm) {
        padding: 23px 12px;
    }

    ul {
        margin: 0;

        li {

            &:not(:last-child) {
                margin: 0 0 4px;
            }
        }
    }
}

.tabs {

    .nav-tabs-holder {
        transition: background .4s;

        @include media-breakpoint-down(sm) {
            overflow-x: auto;
        }
    }

    &.fixed {
        padding-top: 52px;

        .nav-tabs-holder {
            position: fixed;
            top: 52px;
            width: 100%;
            background: rgba($black, .7);
            z-index: 10;

            .nav-tabs {
                margin: 0;
            }
        }
    }
}

.nav-tabs {
    position: relative;
    border: none;
    display: inline-flex;
    flex-wrap: nowrap;
    padding: 20px 33px 0;

    @include media-breakpoint-down(md) {
        padding: 20px 15px 0;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 80%;
        height: 1px;
        background: linear-gradient(to right, rgba($primary, .3) 50%,rgba($primary, 0) 100%);
    }

    li {

        &:not(:last-child) {
            margin-right: 28px;

            @include media-breakpoint-up(md) {
                margin-right: 28px;
            }
        }
    }

    .nav-link {
        position: relative;
        color: $color-medium;
        text-align: center;
        border: none;
        font-size: 14px;
        font-weight: 400;
        padding: 0 0 14px;
        white-space: nowrap;
        text-transform: uppercase;
        transition: all .15s;

        &:after {
            content: '';
            position: absolute;
            bottom: 1px;
            left: 50%;
            width: 0;
            height: 2px;
            margin-left: -24px;
            background: rgba(#f13b54, .75);
            opacity: 0;
            transition: all .2s linear;
            z-index: 1;
        }

        &.active,
        &:hover {
            color: $primary;
            background: none;

            &:after {
                opacity: 1;
                width: 48px;
            }
        }
    }
}

.tab-content {
    padding-top: 50px;
}

.tab-pane {
    position: relative;
}

.ticket-section {
    max-width: 595px;

    @include media-breakpoint-down(lg) {
        padding-right: 15px;
    }

    @include media-breakpoint-down(sm) {
        padding-right: 0;
    }

    .section-title {
        margin: 0;
        line-height: 1.1;
    }

    .section-title-block {
        margin: 0 0 30px;

        @include media-breakpoint-down(md) {
            margin: 0 0 30px;
        }

        .note {
            color: $color-medium;
            letter-spacing: .125em;

            a {
                color: $danger;
                text-decoration: underline;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }
            }

            &.register {
                color: $color-text;
                font-size: 18px;
                padding: 46px 0 0;
                display: block;
                letter-spacing: .025em;

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    padding: 30px 0 0;
                }
            }
        }
    }

    .items-holder {
        margin: 0 0 40px;
    }

    .item,
    .item-soldout {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 150px;
        margin: 0 0 22px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
        }

        &:before {
            content: '';
            width: 80px;
            background: url(#{$path-img}info-bg-left.png) no-repeat -1px 0 / 55% 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            z-index: 1;
            transition: background .3s;

            @include media-breakpoint-down(sm) {
                background: url(#{$path-img}info-bg-left-top.png) no-repeat 0 0 /contain;
                height: 80px;
                width: auto;
                top: 0px;
                left: -1px;
                right: 0;
                bottom: auto;
            }
        }

        &:after {

            @include media-breakpoint-up(md) {
                content:'';
                min-height:inherit;
                font-size:0;
            }
        }

        &:hover {

            &:before {

                @include media-breakpoint-up(lg) {
                    background-size: 100% 100%;
                }
            }
        }

        .info-botton {
            position: absolute;
            top: 11px;
            right: 1px;
            color: $color-medium;
            background: none;
            border: none;
            padding: 0;
            z-index: 2;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                top: 15px;
                right: 15px;
            }

            &:hover {
                color: $primary;
            }

            &:focus {
                outline: none;
            }

            .icon {
                font-size: 15px;
            }
        }

        &.premium {

            &:before {
                background-image: url(#{$path-img}primary-bg-left.png);

                @include media-breakpoint-down(sm) {
                    background-image: url(#{$path-img}primary-bg-left-top.png);
                }
            }

            .category-block {
                background-image: url(#{$path-img}pga.png);
            }
        }
    }

    .item-soldout {

        .category-block,
        .price-block,
        .info-botton,
        &:before {
            opacity: .5;
        }
        
        .title-block {

            .subtitle,
            .title,
            .tag-holder,
            &:before,
            &:after {
                opacity: .5;
            }
        }

        .price-block-holder {

            .btn {
                display: none;
            }
        }

        &:hover {

            &:before {
                
                @include media-breakpoint-up(lg) {
                    background-size: 55% 100%;
                }
            }
        }

        .price-block {

            .btn-holder {

                .btn {
                    background: #d1d1d1;
                    pointer-events: none;
                    cursor: default;
                }
            }

            .soldout-label {
                display: inline-block;
            }
        }
    }

    .category-block {
        position: relative;
        padding: 15px 32px 15px 15px;
        display: flex;
        border: solid $primary;
        border-width: 1px 1px 0;
        background: url(#{$path-img}ga.png) no-repeat 77% 50% / 90px auto;

        @include media-breakpoint-up(md) {
            border-width: 1px 0;
            border-radius: 5px 0 0 5px;
            width: 29%;
            align-items: center;
            justify-content: flex-end;
        }

        @include media-breakpoint-down(sm) {
            text-align: center;
            font-size: 16px;
            padding: 10px 15px;
            min-height: 120px;
            border-radius: 5px 5px 0 0;
            background-position: 50% 50%;
        }

        &:before {
            content: '';
            width: 1px;
            height: 85%;
            background: $primary;
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            @include media-breakpoint-down(sm) {
                width: 95%;
                height: 1px;
                transform: translate(-50%, 0);
                right: auto;
                left: 50%;
                top: 100%;
                background: $color-medium;
            }
        }

        .title {
            font-size: 21px;
            font-weight: 700;
            color: $primary;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                font-size: 22px;
                font-weight: 400;
            }
        }

        .text-holder {

            @include media-breakpoint-up(md) {
                max-width: 98px;
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }
    .category-block-hotel {
        background: url(#{$path-img}packages/singapore-2017-club-room-marina-bay.jpg) no-repeat;
        height: 180px;
        border-width: 0px;
        &:before {
            width:0px;
        }
    } 


    .title-block-holder {

        @include media-breakpoint-down(sm) {
            display: flex;
            flex-direction: column;
        }
    }

    .title-block {
        position: relative;
        padding: 15px;

        @include media-breakpoint-up(md) {
            width: 43%;
            display: flex;
            align-items: center;
        }

        @include media-breakpoint-down(sm) {
            padding: 15px 15px;
        }

        &:after {
            content: '';
            width: calc(100% + 12px);
            height: 1px;
            background: $primary;
            position: absolute;
            left: 0;
            top: 0;

            @include media-breakpoint-down(sm) {
                width: 1px;
                height: 100%;
                left: auto;
                right: 0;
            }
        }

        &:before {
            content: '';
            width: calc(100% - 10px);
            height: 1px;
            background: $primary;
            position: absolute;
            left: 0;
            bottom: 0;

            @include media-breakpoint-down(sm) {
                width: 1px;
                height: 100%;
            }
        }

        .subtitle {
            display: block;
            color: rgba($primary, .8);
            line-height: 1.1;
            font-size: 10px;
            letter-spacing: 0.2em;
            text-transform: uppercase;
        }

        .title {
            color: $primary;
            letter-spacing: 0.02em;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                margin: 0 0 80px;
            }
        }
    }

    .price-block-holder {

        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .price-block {
        position: relative;
        padding: 15px;
        border: solid $primary;
        border-width: 1px 1px 1px 0;
        border-radius: 0 5px 5px 0;

        @include media-breakpoint-up(md) {
            transform: skewX(-8deg);
            width: 28%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 15px 35px;
            border-width: 0 1px 1px 1px;
            border-radius: 0 0 5px 5px;
        }

        &:before {
            content: '';
            width: 1px;
            height: 85%;
            background: $primary;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .price {
            font-weight: 700;
            color: $primary;
            text-align: right;
            display: block;
            font-size: 24px;

            @include media-breakpoint-down(md) {
                font-size: 22px;
            }

            @include media-breakpoint-down(sm) {
                text-align: left;
                margin-right: 15px;
            }
        }

        .btn-holder {

            @include media-breakpoint-up(md) {
                text-align: center;
            }
        }

        .soldout-label {
            display: none;
            padding: 7px 14px;
            min-width: 110px;
            color: #F13B54;
            border: 1px solid #F13B54;
            border-radius: 3px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
        }
    }

    .price-block-holder {

        @include media-breakpoint-up(md) {
            transform: skewX(8deg);
        }
    }
}

.line-separate {
    height: 1px;
    background: linear-gradient(to right, $primary 30%,rgba($primary, 0) 100%);
    margin: 0 0 30px;

    @include media-breakpoint-up(lg) {
        margin-right: -30%;
    }

    @include media-breakpoint-down(sm) {
        display: none;
    }
}

.custom-list {
    @extend %clear-list;
    margin-bottom: 10px;

    li {
        position: relative;
        padding-left: 15px;

        &:not(:last-child) {
            margin: 0 0 3px;
        }

        &:before {
            content: '';
            width: 4px;
            height: 4px;
            border: 1px solid rgba(#f13b54, .75);
            border-radius: 50%;
            position: absolute;
            top: 6px;
            left: 0;
        }

        b {
            font-weight: 700;
        }

        ul {
            @extend %clear-list;
            margin-bottom: 12px;

            li {

                &:before {
                    background: #f13b54;
                }
            }
        }
    }
}

.event-info-tab {

    .section-title {
        position: relative;
        padding: 30px 0 10px;

        @include media-breakpoint-down(sm) {
            margin: 0 0 20px;
        }

        .title {
            position: relative;
            text-transform: uppercase;
            color: $primary;
            font-weight: 400;
            margin: 0;
            z-index: 2;

            @include media-breakpoint-down(sm) {
                font-size: 22px;
            }
        }

        .number {
            position: absolute;
            left: -23px;
            top: 55%;
            transform: translateY(-50%);
            font-size: 50px;
            line-height: 1;
            font-weight: 500;
            background: linear-gradient(to bottom, #f13b54 0%,#c86dd7 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            color: #f13b54;
            opacity: .3;
            z-index: 1;

            @include media-breakpoint-down(sm) {
                left: 0;
            }
        }
    }

    .info-section {
        color: $color-medium;
        font-size: 14px;
        line-height: 1.45;
        margin: 0 0 22px;
        max-width: 920px;

        @include media-breakpoint-down(lg) {
            margin: 0 0 200px;
        }

        @include media-breakpoint-down(md) {
            margin: 0 0 150px;
        }

        @include media-breakpoint-down(sm) {
            margin: 0 0 33px;
        }

        ul {
            @extend %clear-list;
            margin: 0 0 15px;

            li {
                color: $color-light;

                @include media-breakpoint-down(sm) {
                    font-size: 14px;
                }

                &:first-child {

                    @include media-breakpoint-down(sm) {
                        font-size: 16px;
                    }
                }
            }

            a {
                color: #f13b54;

                @include media-breakpoint-up(md) {
                    margin-left: 10px;
                }

                &:hover {
                    color: $danger;
                }
            }

            sup {
                position: relative;
                top: -10px;
                font-size: 9px;
            }
        }
        /*p {
            color: rgba(255, 255, 255, 0.9);
            font-size: 19px;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
            }
        }*/
    }
    .artists-section {
        max-width: 970px;
        margin-bottom: 50px;
        .header {
            font-weight: 500;
            line-height: 55px;
            font-size: 36px;
            color: #5A88CA; /*#8E7BFE, #1684A7);*/
            text-align: center;
            @include media-breakpoint-down(sm) {
                font-size: 28px;
            }
        }

        .hr-sect {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-preferred-size: 100%;
            flex-basis: 100%;
            -webkit-box-align: center !important;
            -ms-flex-align: center !important;
            align-items: center !important;
            color: #888888;
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 600;

            &:before, &:after {
                content: "";
                -webkit-box-flex: 1;
                -ms-flex-positive: 1;
                flex-grow: 1;
                background: rgba(255, 255, 255, 0.4);
                height: 1px;
                font-size: 0px;
                line-height: 0px;
                margin: 0px 8px;
            }
            .title,.title2  {
                font-weight: 500;
                line-height: 46px;
                font-size: 30px;
                text-align: center;
                color: rgba(255, 255, 255, 0.8);
                padding: 10px 28px;

                @include media-breakpoint-down(sm) {
                    font-size: 22px;
                    padding: 0px 8px;
                }

            }
            .title2 {
                font-size: 26px;
                @include media-breakpoint-down(sm) {
                    font-size: 18px;
                }
            }
        }
        .headliners {
            width: 300px;
            margin: 10px;
            @include media-breakpoint-down(sm) {
                width: 95%;
            }
        }
        .resistance {
            width: 235px;
            margin: 2px;
            @include media-breakpoint-down(sm) {
                width: 48%;
            }
        }
    }
}

.video-section {
    margin: 0 0 142px;
    max-width: 1035px;

    @include media-breakpoint-down(md) {
        margin: 0 0 120px;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 0 50px;
    }

    .section-title {
        margin: 0 0 5px;
    }

    iframe {
        width: 100%;
        height: 480px;

        @include media-breakpoint-down(sm) {
            height: 157px;
        }
    }
}

.gallery-section {
    margin: 0 0 150px;

    @include media-breakpoint-down(md) {
        margin: 0 0 100px;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 0 55px;
    }

    .section-title {
        margin: 0 0 30px;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;

    .item {
        width: 45%;
        overflow: hidden;

        &:hover {

            img {
                transform: scale(1.05);
                filter: brightness(120%) contrast(110%);
            }
        }

        &:nth-child(odd) {
            width: 55%;
        }

        &:first-child {
            width: 45%;
        }

        &:nth-child(2) {
            width: 25%;
        }

        &:nth-child(3) {
            width: 30%;
        }

        img {
            object-fit: cover;
            font-family: 'object-fit: cover;';
            min-width: 100%;
            min-height: 100%;
            transition: all .3s;
        }
    }
}

.fancybox-is-open {

    .fancybox-bg {
        background: linear-gradient(to bottom, rgba(black, .8) 66.3%, rgba(#3B0045, .8) 100%), url(#{$path-img}main-mask.png);
        opacity: .85;
    }
}

.fancybox-show-thumbs {

    .fancybox-inner {
        right: 0;
        bottom: 120px;

        @include media-breakpoint-down(md) {
            bottom: 95px;
        }
    }
}

.fancybox-thumbs__list {
    margin: 0 auto;

    a {
        margin: 0 21px;

        @include media-breakpoint-up(lg) {
            width: 185px;
            height: 120px;
        }

        @include media-breakpoint-down(sm) {
            margin: 0 3px;
        }

        &:before {
            border: 2px solid $primary;
        }
    }
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 140px;
    padding: 10px;
    box-sizing: border-box;
    background: transparent;

    @include media-breakpoint-down(md) {
        height: 95px;
    }
}

.fancybox-slide--image {
    padding: 40px 15px;
}

.fancybox-navigation {

    .fancybox-button {
        padding: 0;
        width: 50px;
        height: 50px;
        background: none;
        top: calc(50% - 25px);

        &:hover {

            div {

                &:after {
                    color: $primary;
                }
            }
        }

        svg {
            display: none;
        }

        div {
            position: relative;

            &:after {
                content: '\e916';
                font-family: $icomoon;
                font-size: 30px;
                position: absolute;
                top: 11px;
                left: 15px;
                color: $color-light;
            }
        }
    }

    .fancybox-button[disabled] {
        cursor: default;

        div {

            &:after {
                color: $color-dark-medium;
            }
        }
    }

    .fancybox-button--arrow_right {

        div {

            &:after {
                content: '\e915';
                left: 20px;
            }
        }
    }
}

.faq-section {
    margin: 0 0 177px;

    @include media-breakpoint-down(lg) {
        margin: 0 0 100px;
    }

    @include media-breakpoint-down(md) {
        margin: 0 0 50px;
    }

    @include media-breakpoint-down(sm) {
        margin: 0 0 30px;
    }
}

.payment-plans-section {
    max-width: 620px;
    border-radius: 5px;
    border: 1px solid $primary;
    padding: 23px;
    margin-bottom: 100px;
    background: rgba($primary, .07);
    font-style: italic;
    font-size: 16px;

    @include media-breakpoint-down(sm) {
        padding: 23px 12px;
        font-size: 12px;
    }

    b {
        font-weight: 700;
        color: rgba($primary, .9);
    }

    .row {
        margin-left: -5px;
        margin-right: -5px;
    }

    .custom-col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .title {
        color: $primary;
        font-size: 20px;
        margin: 0 0 15px;
        font-style: normal;
    }

    .list-title {
        display: block;
        margin: 0 0 9px;
    }

    ol {
        padding-left: 15px;
        margin: 0 0 17px;
        font-size: 13px;

        @include media-breakpoint-down(sm) {
            font-size: 11px;
        }

        li {
            margin: 0 0 4px;
        }

        p {
            margin: 0;
        }

        b {
            font-weight: 400;
        }
    }

    .btn-holder {
        text-align: right;

        @include media-breakpoint-down(sm) {
            text-align: center;
        }

        .btn {
            font-style: normal;
            min-width: 158px;
            padding: 18px 5px;

            @include media-breakpoint-down(sm) {
                min-width: 124px;
            }

            &:first-child {
                margin-right: 10px;
            }
        }
    }
}

.packages-section-holder {
    max-width: 780px;
}

.packages-section {
    margin: 0 0 50px;

    .section-title {
        margin: 0 0 42px;
    }

    .row {
        margin-left: -6px;
        margin-right: -6px;
    }

    .custom-col {
        padding-left: 6px;
        padding-right: 6px;
    }

    .line-separate {
        margin: 0 0 20px;
    }

    .item,
    .item-soldout {
        border-radius: 5px;
        border: 1px solid $primary;
        padding: 10px;
        height: 352px;
        display: flex;
        flex-direction: column;
        margin: 0 0 20px;

        .image-block {
            height: 200px;
            position: relative;
            border-radius: 5px;
            overflow: hidden;

            &:after {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: rgba($primary-dark, .4);
            }
            
            img {
                object-fit: cover;
                font-family: 'object-fit: cover;';
                min-width: 100%;
                min-height: 100%;
            }

            .title-block {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                z-index: 2;

                .title {
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    font: 50px/1.2 $permanent-marker;
                    color: $primary;
                    letter-spacing: .1em;
                    text-transform: uppercase;

                    @include media-breakpoint-down(sm) {
                        font-size: 42px;
                    }

                    span {
                        font-size: 26px;
                    }

                    b,
                    strong {
                        font-weight: 400;
                    }

                    i {
                        font-style: normal;
                    }
                }
            }
        }

        .content-holder {
            position: relative;
            padding: 10px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        .content-bottom {
            text-align: right;
            color: $primary;

            .btn {
                padding: 8px 5px;
                min-width: 95px;
            }

            .coming-soon {
                display: block;
                padding: 0 10px 5px 0;
            }
            .price-block-holder {

                @include media-breakpoint-down(sm) {
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                }
            }
            .price-block {
                padding: 0;
                margin: 0;
                list-style: none;

                -ms-box-orient: horizontal;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -moz-flex;
                display: -webkit-flex;
                display: flex;
                float: right;
                @include media-breakpoint-down(sm) {
                    float: none;
                    justify-content: space-between;
                    margin-left: 1%;
                    padding-bottom: 35px;
                }
           }

            .price-block>li
            {
                margin-left : 10px;
            }

            .discount {
                font-size: 16px;
                color: rgba(255, 255, 255, 0.7);
                font-style: normal;
                font-weight: normal;
                margin-right: 10px;
                text-decoration: line-through #EB5757;
                @include media-breakpoint-down(sm) {
                    /*float: left;*/
                    text-align: left;
                    font-size: 18px;
                    font-weight: normal;
                    color: rgba(255, 255, 255, 0.6);
                }
            }
            .price {
                    font-weight: 700;
                    color: $primary;
                    text-align: right;
                    font-size: 24px;
                    margin-right: 10px;
                    margin-top: -5px;

                    @include media-breakpoint-down(md) {
                        font-size: 22px;
                    }

                    @include media-breakpoint-down(sm) {
                        text-align: left;
                        margin-right: 15px;
                    }
                }
                .fromstr {
                    font-size: 12px;
                    font-style: normal;
                    color: rgba(255, 255, 255, 0.8);
                    font-weight: 200;
                    margin-right: 3px;
                    @include media-breakpoint-down(sm) {
                        /*float: left;*/
                        text-align: left;
                        font-size: 14px;
                        font-weight: 300;
                    }
                }

                .btn-holder {

                    @include media-breakpoint-up(md) {
                        text-align: center;
                    }
                }
                .btn-select {
                    @include media-breakpoint-down(sm) {
                        position: absolute;
                        right: 0px;
                        bottom: 5%;
                    }
                }

                .soldout-label {
                    display: none;
                    padding: 7px 14px;
                    min-width: 110px;
                    color: #F13B54;
                    border: 1px solid #F13B54;
                    border-radius: 3px;
                    font-weight: 500;
                    text-align: center;
                    text-transform: uppercase;
                }

            .price-block-holder {

                @include media-breakpoint-up(md) {
                    transform: skewX(8deg);
                }
            }
        }

        .info-list {
            @extend %clear-list;
            padding-right: 17px;
            padding-bottom: 25px;

            li {
                margin: 0 0 5px;
                color: $primary;
                font-size: 10px;
                display: flex;
                align-items: center;
            }

            .icon-holder {
                min-width: 20px;
                text-align: center;
                margin-right: 5px;
            }

            .icon {
                font-size: 14px;
            }

            .icon-plane {
                font-size: 10px;
            }
        }

        .info-button {
            position: absolute;
            top: 10px;
            right: 0;
            color: $color-medium;
            background: none;
            border: none;
            padding: 0;
            z-index: 2;
            cursor: pointer;

            &:hover {
                color: $primary;
            }

            &:focus {
                outline: none;
            }

            .icon {
                font-size: 14px;
            }
        }

        &.pga {

            .title-block {

                .title {
                    font-size: 48px;

                    @include media-breakpoint-down(sm) {
                        font-size: 38px;
                    }

                    span {
                        font-size: 50px;

                        @include media-breakpoint-down(sm) {
                            font-size: 42px;
                        }
                    }
                }
            }
        }

        &.ga {

            .title-block {

                .title {
                    font-size: 30px;

                    @include media-breakpoint-down(md) {
                        font-size: 26px;
                    }

                    @include media-breakpoint-down(sm) {
                        font-size: 24px;
                    }

                    span {
                        font-size: 38px;

                        @include media-breakpoint-down(md) {
                            font-size: 34px;
                        }
                    }
                }
            }
        }

        &.vip {

            .title-block {

                .title {
                    font-size: 32px;
                    flex-direction: row;
                    align-items: center;
                    text-align: left;

                    @include media-breakpoint-down(sm) {
                        flex-direction: column;
                        text-align: center;
                    }

                    span {
                        font-size: 86px;
                        padding-right: 10px;

                        @include media-breakpoint-down(sm) {
                            font-size: 64px;
                            padding-right: 0;
                        }
                    }
                }
            }
        }

        &.merch {

            .title-block {

                .title {
                    font-size: 40px;

                    @include media-breakpoint-down(md) {
                        font-size: 36px;
                    }

                    span {
                        font-size: 22px;

                        @include media-breakpoint-down(md) {
                            font-size: 18px;
                        }
                    }

                    b {
                        font-size: 50px;
                        line-height: 1;

                        @include media-breakpoint-down(md) {
                            font-size: 38px;
                        }
                    }
                }
            }
        }

        &.flight-package {

            .title-block {

                .title {
                    font-size: 32px;

                    @include media-breakpoint-down(md) {
                        font-size: 28px;
                    }

                    span {
                        font-size: 26px;

                        @include media-breakpoint-down(md) {
                            font-size: 20px;
                        }
                    }

                    b {
                        font-size: 38px;
                        line-height: 1;

                        @include media-breakpoint-down(md) {
                            font-size: 28px;
                        }
                    }
                }
            }
        }

        &.flight-package-hotel {

            .title-block {

                .title {
                    font-size: 26px;

                    @include media-breakpoint-down(md) {
                        font-size: 26px;
                    }

                    span {
                        font-size: 22px;
                    }

                    b {
                        font-size: 42px;
                        line-height: 1;

                        @include media-breakpoint-down(md) {
                            font-size: 38px;
                        }
                    }

                    strong {
                        font-size: 36px;

                        @include media-breakpoint-down(md) {
                            font-size: 28px;
                        }
                    }

                    i {
                        font-size: 30px;
                        line-height: 1;

                        @include media-breakpoint-down(md) {
                            font-size: 20px;
                        }
                    }
                }
            }
        }

        &.comfort {

            .title-block {

                .title {
                    font-size: 28px;

                    @include media-breakpoint-down(md) {
                        font-size: 24px;
                    }

                    span {
                        font-size: 22px;

                        @include media-breakpoint-down(md) {
                            font-size: 18px;
                        }
                    }

                    b {
                        font-size: 36px;
                        line-height: 1;

                        @include media-breakpoint-down(md) {
                            font-size: 26px;
                        }
                    }
                }
            }
        }
    }
    .item-soldout {

        .category-block,
        .price-block,
        .info-botton,
        &:before {
            opacity: .5;
        }
        
        .title-block {

            .subtitle,
            .title,
            .tag-holder,
            &:before,
            &:after {
                opacity: .5;
            }
        }

        .price-block-holder {

            .btn {
                display: none;
            }
        }
        .info-list {
            opacity: .5;
        }

        &:hover {

            &:before {
                
                @include media-breakpoint-up(lg) {
                    background-size: 55% 100%;
                }
            }
        }
        .price-block,
        .content-holder {

            .btn {
                display: none;
            }

            .soldout-label {
                display: inline-block;
            }
        }
    }
}
.image-block-top {
        position: relative;
        border-radius: 5px;
        overflow: hidden;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: rgba($primary-dark, .4);
        }
        
        img {
            object-fit: cover;
            font-family: 'object-fit: cover;';
            min-width: 100%;
            min-height: 320px;
        }
        .title-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 2;

        .title {
            margin: 0 0 50px;
            display: flex;
            flex-direction: column;
            text-align: center;
            font: 50px/1.2 $permanent-marker;
            color: $primary;
            letter-spacing: .1em;
            text-transform: uppercase;
            font-size: 99px;
            width: 100%;

            @include media-breakpoint-down(md) {
                font-size: 70px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 42px;
            }
        }
        .row {
            margin-left: -6px;
            margin-right: -6px;
        }
    }
}


.package-builder {
    margin: 0 0 -50px;
    padding-left: 10px;
    padding-right: 10px;

    .search-panel {
        border-radius: 5px;
        border: 0.5px solid #555555;
        padding: 15px;
        min-height: 103px;
        margin: 0 0 20px;
        position: relative;
        z-index: 2;
        left: 0px; 
        top: -88px;
        background: black;
        align-items: center;
    
        .flight {
            border-radius: 3px;
            border: 0.5px solid rgba(255, 255, 255, 0.6);
            padding: 5px 10px 5px;
            margin: 10px 0px;
        }
        .travelers-rooms {
            @include media-breakpoint-down(sm) {
                margin-top: 10px;
                margin-bottom: 10px;
            }            
        }
        .up-text {
            font-weight: normal;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.4);
        }
        .bottom-text {
            font-weight: 500;
            font-size: 18px;
            color: rgba(255, 255, 255, 0.5);
        }
        .btn-pink {
            color: #fff;
            border-color: #000;
            width: 36px;
            height: 38px;
            min-width: 36px;
            min-height: 38px;
            padding: 0px 0px;
            background-color: #F13B54;
        }
        .btn-right {
            border-top-left-radius: 0px;
            border-bottom-left-radius: 0px;
        }
        .btn-left {
            border-top-right-radius: 0px;
            border-bottom-right-radius: 0px;
        }
        .btn-pink:disabled {
            background: rgba(241, 59, 84, 0.5);
        }
        .counter-number {
            min-height:36px;
            margin:5px;
            background-color: #000;
            color:white;
            border-color:#000;
            text-align:center;
            font-size: 24px;
            font-weight: 500;
            width: 50px;
            border: none;

        }
        .counter-number:focus {
            outline: none;
        }
        .btn-search {
            min-width: 100%;
            font-weight: 500;
            line-height: normal;
            font-size: 16px;
        }
        .grp {
            align-items: center;
        }
        .content-holder {
            position: relative;
            padding: 10px 0 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            flex-grow: 1;
        }

        .content-bottom {
            text-align: right;
            color: $primary;

            .btn {
                padding: 8px 5px;
                min-width: 95px;
            }
        }
    }
    .section-title {
        margin: 0 0 42px;
    }


    .custom-col {
        padding-left: 6px;
        padding-right: 6px;
    }

    .line-separate {
        margin: 0 0 20px;
    }
}

.package-section {
    max-width: 730px;
    padding: 12px;

    @include media-breakpoint-down(lg) {
        padding-right: 15px;
    }

    @include media-breakpoint-down(sm) {
        /*padding-right: 0;*/
    }

    .section-title {
        margin: 0;
        line-height: 1.1;
    }

    .section-title-block {
        margin: 0 0 30px;

        @include media-breakpoint-down(md) {
            margin: 0 0 30px;
        }

        .note {
            color: $color-medium;
            letter-spacing: .125em;

            a {
                color: $danger;
                text-decoration: underline;
                font-weight: 700;

                &:hover {
                    text-decoration: none;
                }
            }

            &.register {
                color: $color-text;
                font-size: 18px;
                padding: 46px 0 0;
                display: block;
                letter-spacing: .025em;

                @include media-breakpoint-down(md) {
                    font-size: 16px;
                    padding: 30px 0 0;
                }
            }
        }
    }

    .items-holder {
        margin: 0 0 40px;
    }

    .item,
    .item-soldout {
        position: relative;
        display: flex;
        justify-content: space-between;
        min-height: 180px;
        margin: 0 0 22px;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            min-width: 330px;
        }

        &:before {
            content: '';
            width: 80px;
            background: url(#{$path-img}info-bg-left.png) no-repeat -1px 0 / 55% 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            border-radius: 5px 0 0 5px;
            overflow: hidden;
            z-index: 1;
            transition: background .3s;

            @include media-breakpoint-down(sm) {
                background: url(#{$path-img}info-bg-left-top.png) no-repeat 0 0 /contain;
                height: 80px;
                width: auto;
                top: 0px;
                left: -1px;
                right: 0;
                bottom: auto;
            }
        }

        &:after {

            @include media-breakpoint-up(md) {
                content:'';
                min-height:inherit;
                font-size:0;
            }
        }

        &:hover {

            &:before {

                @include media-breakpoint-up(lg) {
                    background-size: 100% 100%;
                }
            }
        }

        .info-botton {
            position: absolute;
            top: 11px;
            right: 1px;
            color: $color-medium;
            background: none;
            border: none;
            padding: 0;
            z-index: 2;
            cursor: pointer;

            @include media-breakpoint-down(sm) {
                top: 15px;
                right: 15px;
            }

            &:hover {
                color: $primary;
            }

            &:focus {
                outline: none;
            }

            .icon {
                font-size: 15px;
            }
        }

        &.premium {

            &:before {
                background-image: url(#{$path-img}primary-bg-left.png);

                @include media-breakpoint-down(sm) {
                    background-image: url(#{$path-img}primary-bg-left-top.png);
                }
            }

            .category-block {
                background-image: url(#{$path-img}pga.png);
            }
        }
    }
    .item-flight {
        @include media-breakpoint-down(sm) {
            flex-direction: row;
            min-height: 350px;
            height: 50px; /*fix for IE*/
            align-items: center;
            border-radius: 5px;
            border: solid $primary;
            border-top-width: 1px;
            border-left-width: 1px;
            border-right-width: 1px;
            border-bottom-width: 1px;
            justify-content: space-around;
        }
    }

    .item-soldout {

        .category-block,
        .price-block,
        .info-botton,
        &:before {
            opacity: .5;
        }
        
        .title-block {

            .subtitle,
            .title,
            .tag-holder,
            &:before,
            &:after {
                opacity: .5;
            }
        }

        .price-block-holder {

            .btn {
                display: none;
            }
        }

        &:hover {

            &:before {
                
                @include media-breakpoint-up(lg) {
                    background-size: 55% 100%;
                }
            }
        }

        .price-block {

            .btn-holder {

                .btn {
                    background: #d1d1d1;
                    pointer-events: none;
                    cursor: default;
                }
            }

            .soldout-label {
                display: inline-block;
            }
        }
    }

    .category-block {
        position: relative;
        padding: 15px 32px 15px 15px;
        display: flex;
        border: solid $primary;
        border-width: 1px 1px 0;
        background: url(#{$path-img}ga.png) no-repeat 77% 50% / 90px auto;

        @include media-breakpoint-up(md) {
            border-width: 1px 0;
            border-radius: 5px 0 0 5px;
            width: 29%;
            align-items: center;
            justify-content: flex-end;
        }

        @include media-breakpoint-down(sm) {
            /*text-align: center;*/
            font-size: 16px;
            padding: 10px 15px;
            min-height: 120px;
            border-radius: 5px 5px 0 0;
            background-position: 50% 50%;
        }

        &:before {
            content: '';
            width: 1px;
            height: 85%;
            background: rgba($primary, .5);
            position: absolute;
            right: 0;
            top: 50%;
            transform: translate(0, -50%);

            @include media-breakpoint-down(sm) {
                width: 95%;
                height: 1px;
                transform: translate(-50%, 0);
                right: auto;
                left: 50%;
                top: 100%;
                background: $color-medium;
            }
        }

        .title {
            font-size: 25px;
            font-weight: bold;
            color: $primary;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                font-size: 25px;
                font-weight: bold;
            }
        }

        .text-holder {

            @include media-breakpoint-up(md) {
                max-width: 98px;
            }

            @include media-breakpoint-down(sm) {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
            }
        }
    }
    .category-block-hotel {
        background: url(#{$path-img}packages/package-hotel.jpg) no-repeat;
        background-size: cover;
        width: 175px;
        
        @include media-breakpoint-down(sm) {
            background: url(#{$path-img}packages/package-hotel-mobile.jpg) no-repeat;
            min-height: 222px;
            background-size: cover;
            width: 100%;
        }
        @include media-breakpoint-down(xs) {
            background: url(#{$path-img}packages/package-hotel-mobile.jpg) no-repeat;
            min-height: 162px;
            background-size: cover;
            width: 100%;
        }
        border-width: 0px;
        &:before {
            width:15px;
            height: 1px;
            transform: none;
            top:0px;
            left:100%;
            background: $primary;
            @include media-breakpoint-down(sm) {
                width: 0px;
            }
        }
    }
    .category-block-flight {
        flex-direction: column;
        width: 40%;
        padding-left: 70px;
        padding-bottom: 30px;
        align-items: normal;
        background: none;

        @include media-breakpoint-down(sm) {
            border:none;
            padding-left: 5%;
            padding-bottom: 0px;
            align-items: flex-start;
        }
        @include media-breakpoint-down(xs) {
            padding-left: 1%;
        }

        img {
            min-width: 138px;
            min-height: 60px;
            width: 138px;
            height: 60px;
            overflow: hidden;
        }

        &:before {
            height: 115px;
            transform: skewX(-12deg) translate(0, -50%);
            @include media-breakpoint-down(sm) {
                width: 1px;
                top: 50%;
                left: 102%;
            }
        }
        .subtitle {
            font-size: 8px;
            padding-bottom: 10px;
        }
        .subtitle2 {
            font-size: 14px;
        }
    }
    .category-block-return {
        border-radius: 0px;
        padding-right: 0px;
        &:before {
            width: 0px;
        }
        &:after {
            content: '';
            width: calc(100% + 15px);
            height: 1px;
            background: $primary;
            position: absolute;
            left: 0;
            top: -1px;

            @include media-breakpoint-down(sm) {
                width: 0px;
            }
        }
    }


    .title-block-holder {

        @include media-breakpoint-down(sm) {
            display: flex;
            flex-direction: column;
        }
    }

    .title-block {
        position: relative;
        padding: 15px;

        @include media-breakpoint-up(md) {
            width: 43%;
            display: flex;
            align-items: center;
        }

        @include media-breakpoint-down(sm) {
            padding: 15px 15px;
        }

        &:after {
            content: '';
            width: calc(100% + 30px);
            height: 1px;
            background: $primary;
            position: absolute;
            left: 0;
            top: 0;

            @include media-breakpoint-down(sm) {
                width: 1px;
                height: 100%;
                left: 0;
                right: 0;
            }
        }

        &:before {
            content: '';
            width: calc(100% + 10px);
            height: 1px;
            background: $primary;
            position: absolute;
            right: 0;
            bottom: 0;

            @include media-breakpoint-down(sm) {
                width: 1px;
                height: 100%;
            }
        }

        .subtitle {
            display: block;
            color: rgba($primary, .7);
            line-height: 1.1;
            font-size: 12px;
            letter-spacing: 0.04em;
            margin-top: 3px;
        }
        .subtitle2 {
            display: block;
            color: rgba($primary, .6);
            line-height: 1.1;
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.02em;
            margin-top: 3px;
            margin-bottom: 0px;
            @include media-breakpoint-down(sm) {
                font-size: 16px;
                position: absolute;
                right: 15px;
                top: 80%;
            }
        }
        .subtitle3 {
            color: rgba($primary, .6);
            line-height: 1.1;
            font-size: 10px;
            font-weight: normal;
            letter-spacing: 0.03em;
            margin-top: 5px;
    
            .subtitle3-align {
                margin-left: -10px;
            }
        }
        .subtitle4 {
            color: rgba($primary, .6);
            font-family: Roboto;
            font-style: normal;
            font-weight: 200;
            line-height: 18px;
            font-size: 12px;
            letter-spacing: 0.02em;
            margin-bottom: 15px;
    
            .subtitle4-align {
                margin-left: -10px;
            }
            @include media-breakpoint-down(sm) {
                font-size: 12px;
                position: absolute;
                right: 15px;
                top: 64%;
            }
        }
        .iconart {
            font-size: 12px;
        }

        .title {
            color: $primary;
            letter-spacing: 0.02em;
            margin: 0;
            font-weight: 700;
            text-transform: uppercase;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
                margin: 0 0 80px;
            }
        }
        .title-ticket {
            color: $primary;
            letter-spacing: 0.02em;
            margin: 0;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 28px;

            @include media-breakpoint-down(sm) {
                font-size: 28px;
                margin: 0 0 80px;
            }
        }
        .title-hotel {
            color: $primary;
            letter-spacing: 0.02em;
            margin: 0;
            font-weight: 500;
            text-transform: none;
            font-size: 20px;
            margin-top: -10px;

            @include media-breakpoint-down(sm) {
                font-size: 24px;
            }
        }
    }

    .price-block-holder {

        @include media-breakpoint-down(sm) {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        }
    }

    .price-block {
        position: relative;
        padding: 15px;
        border: solid $primary;
        border-width: 1px 1px 1px 0;
        border-radius: 0 5px 5px 0;

        @include media-breakpoint-up(md) {
            transform: skewX(-8deg);
            width: 28%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        @include media-breakpoint-down(sm) {
            padding: 0 15px 35px;
            border-width: 0 1px 1px 1px;
            border-radius: 0 0 5px 5px;
        }

        &:before {
            content: '';
            width: 1px;
            height: 85%;
            background: rgba($primary, .4);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);

            @include media-breakpoint-down(sm) {
                display: none;
            }
        }

        .price {
            font-weight: 700;
            color: $primary;
            text-align: right;
            display: block;
            font-size: 24px;

            @include media-breakpoint-down(md) {
                font-size: 22px;
            }

            @include media-breakpoint-down(sm) {
                text-align: left;
                margin-right: 15px;
            }
        }

        .btn-holder {

            @include media-breakpoint-up(md) {
                text-align: center;
            }
        }

        .soldout-label {
            display: none;
            padding: 7px 14px;
            min-width: 110px;
            color: #F13B54;
            border: 1px solid #F13B54;
            border-radius: 3px;
            font-weight: 500;
            text-align: center;
            text-transform: uppercase;
        }
    }
    .price-block-flight {

        @include media-breakpoint-down(sm) {
            display: none;
        }

    }

    .price-block-holder {

        @include media-breakpoint-up(md) {
            transform: skewX(8deg);
        }
    }
}
.order-container {
    width: 100%;
}
.order-window-title {
    background-color: $primary-dark;
    color: $primary;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
}
.order-window {
    background-color: $primary;
    color: $primary-dark;
    border-radius: 0px 0px 3px 3px;
    box-shadow: 0px 0px 30px rgba($primary-dark, 0.05);

    .title {
        font-size: 18px;
        font-weight: 500;
        padding: 20px 0px 0px 17px; 
    }

    .item {
        background: rgba($primary-dark, 0.05);
        border: 0.5px solid rgba($primary-dark, 0.2);
        box-sizing: border-box;
        border-radius: 5px;
        min-height: 129px;
        margin: 20px;
        padding: 20px;

        .item-title {
            font-size: 16px;
            font-weight: normal;
        }
        .item-first {
            padding-left: 25px; 
            margin-top: 10px;
        }
        .item-line:before {
            content: '';
            width: 100%;
            height: 1px;
            background: rgba($primary-dark, 0.4);
            position: absolute;
            left: 0;
            top: 75%;
        }
        .item-cnt {
            align-self: center;
        }
    }
    .btn-checkout-section {
        text-align: center;
        padding: 20px; 

        &:before {
            content: '';
            width: 80%;
            height: 1px;
            background: rgba($primary-dark, 0.5);
            position: absolute;
            left: 10%;
            margin-top: -6%;
        }
        .btn-checkout {
            font-size: 18px;
            font-weight: 500;
            width: 90%;
    
        }
    }
    .section-total {
        justify-content: space-between;
        display: flex;
        align-items: baseline;
        padding: 20px 20px 20px 0px;

        &:before {
            content: '';
            width: 80%;
            height: 1px;
            background: rgba($primary-dark, 0.4);
            position: absolute;
            left: 10%;
            box-shadow:  0 3px 0 rgba($primary-dark, 0.5);
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
                 /* IE10+ CSS styles go here */
                 display: none;
            }
        }
        .title {
            font-size: 14px;
            font-weight: normal;
            color: rgba($primary-dark, 0.6);
        }

        .price {
            font-weight: 500;
            color: $primary-dark;
            font-size: 24px;
        }
    }
}
.order-window-desktop {
    @include media-breakpoint-down(md) {
        display: none;
    }
    min-width: 240px;
}
.order-window-mobile {
    @include media-breakpoint-up(lg) {
        display: none;
    }
    @include media-breakpoint-up(sm) {
        margin-left: 20%;
        margin-right: 20%;
    }
    background-color: $primary-dark;
    color: $primary;
    font-size: 18px;
    font-weight: 500;
    text-align: center;
    line-height: 64px;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;

    .section-total {
        justify-content: space-between;
        display: flex;
        align-items: baseline;
        padding: 0px 20px 0px 20px;
        .title {
            font-size: 14px;
            font-weight: 300;
            color: $primary;
        }

        .price {
            font-weight: bold;
            color: $primary;
            font-size: 14px;
        }
        .btn-checkout {
            font-size: 16px;
            font-weight: 500;
            width: 40%;
    
        }
    }
}

.order-window-mobile-fixed {
    position: fixed;
    bottom: 3%;
    z-index: 1000;
    width: 90%;
    @include media-breakpoint-up(sm) {
        width: 70%;
    }
}

[class^="iconart-"], [class*=" iconart-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconart-plus:before {
  content: "\f067";
}
.iconart-minus:before {
  content: "\f068";
}
.iconart-hotel:before {
  content: "\f236";
}
.iconart-wifi:before {
  content: "\F1EB";
}
.iconart-food:before {
  content: "\F0F5";
}
.iconart-aircondition:before {
  content: "\F16C";
}
@media (min-width: 550px) {
    .desktop-hide {
        display: none;
    }
}
@media (max-width: 550px) {
  .mobile-hide {
    display: none;
  }
}


