// Modules
//@import 'base/bootstrap-import';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);
// Variables
//@import "variables";
@import 'node_modules/font-awesome-sass/assets/stylesheets/font-awesome';
//@import '../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css';
// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";
//@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
//@import 'custom/vue-daterange-picker.min.css';
// Custom variables
@import 'base/variables';
// Base
@import 'base/mixins';
@import 'base/fonts';
@import 'base/default';
// Components
@import 'components/buttons';
@import 'components/btn-group-toggle';
@import 'components/form-control';
@import 'components/dropdown';
@import 'components/custom-scrollbar';
@import 'components/navbar';
@import 'components/nav';
@import 'components/modal';
@import 'components/tabs';
@import 'components/socials';
@import 'components/info';
@import 'components/nav-tabs';
@import 'components/pool';
@import 'components/match';
@import 'components/datepicker';
@import 'components/show-more';
@import 'components/video';
@import 'components/card';
@import 'components/collapse';
@import 'components/common';
@import 'components/category';
@import 'components/flight';
@import 'components/flight-details';
@import 'components/hotel';
@import 'components/package-detail-ticket';
@import 'components/package-detail-flight';
@import 'components/package-detail-hotel';
@import 'components/package';
// Sections
@import 'sections/header';
@import 'sections/footer';
@import 'sections/main';
@import 'sections/info';
@import 'sections/nav-tabs';
@import 'sections/pools';
@import 'sections/matches-filters';
@import 'sections/gallery';
@import 'sections/videos';
@import 'sections/packages';
@import 'sections/copyright';
@import 'sections/history';
@import 'sections/venue';
@import 'sections/faq';
// Modals
@import 'modals/filters';
@import 'modals/custom-package';
@import 'packagebuilder';
@import 'packagedetails';
@import "event-info";
@import 'https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.5.7/jquery.fancybox.min.css';

body {
  font: #{$default-font-weight} #{$default-font-style} #{$default-font-size} / #{$default-line-height} #{$default-font-family};
}

.nav-link-top {
  color: #FAFAFA !important;
  font-weight: normal !important;
  padding: 15px 25px !important;

  &:hover {
    color: white !important;
    background-color: black !important;
    border-color: black !important;
  }
}

.nav-link2 {
  &:hover {
    background-color: $gray-100 !important;
    border-color: $gray-100 !important;
  }
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-link.active {
  border-color: $gray-100 !important;
}

.navbar {
  border-radius: 0 !important;
  margin-bottom: 0 !important;
}

.nav-tabs {
  border-bottom: 0;
}

.bg-dark {
  background-color: #1d1d1d !important;
}

.component-info {
  list-style-type: none;
  padding-left: 0;

  .info-item {
    color: $p-color;
  }
}

.btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.02em;
  padding: 7px 26px;
}

.btn-primary {
  color: #fff;
  background-color: #c33a8c;
  border-color: #c33a8c;

  &:hover, :link.active, :visited.active, :link, :visited, :focus, focus.active, :disabled {
    background-color: #b33a8c !important;
    border-color: #c33a8c !important;
  }

  &:active {
    background-color: #b33a8c !important;
    border-color: #c33a8c !important;
  }

  &:visited {
    background-color: #b33a8c !important;
    border-color: #c33a8c !important;
  }

  &:link {
    background-color: #b33a8c !important;
    border-color: #c33a8c !important;
  }
}

.btn-outline-primary {
  color: #c33a8c;
  border-color: #c33a8c;

  &:hover {
    background-color: #c33a8c;
    border-color: #c33a8c;
  }
}

.section-pools {
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.03em;

  color: $default-color;

  h2 {
    font-size: 30px;
    color: $h2-color;
    line-height: normal;
    text-transform: uppercase;
  }
}

[class^="iconart-"], [class*=" iconart-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fontawesome' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  font-size: 16px;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconart-plus:before {
  content: "\f067";
}

.iconart-minus:before {
  content: "\f068";
}

.section-nav-tabs {
  position: sticky;
  top: 60px;
  z-index: 1000;
  width: 100%;
  background: #fcfcfc;
  @include media-breakpoint-down(sm) {
    top: 52px
  }
}

.input-group .form-control {
  width: 100%; //fix for datepicker
}