$primary: 'blue';
$color-dark-medium: 'black';
$color-light: 'gray';
$icomoon: 'Sans Serif';

.gallery-section {
  margin: 0 0 150px;

  @include media-breakpoint-down(md) {
    margin: 0 0 100px;
  }

  @include media-breakpoint-down(sm) {
    margin: 0 0 55px;
  }

  .section-title {
    margin: 0 0 30px;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;

  .item {
    width: 45%;
    overflow: hidden;

    &:hover {

      img {
        transform: scale(1.05);
        filter: brightness(120%) contrast(110%);
      }
    }

    &:nth-child(odd) {
      width: 55%;
    }

    &:first-child {
      width: 45%;
    }

    &:nth-child(2) {
      width: 25%;
    }

    &:nth-child(3) {
      width: 30%;
    }

    img {
      object-fit: cover;
      font-family: 'object-fit: cover;';
      min-width: 100%;
      min-height: 100%;
      transition: all .3s;
    }
  }
}

.fancybox-is-open {

  .fancybox-bg {
    //background: linear-gradient(to bottom, rgba(black, .8) 66.3%, rgba(#3B0045, .8) 100%), url(#{$path-img}main-mask.png);
    opacity: .85;
  }
}

.fancybox-show-thumbs {

  .fancybox-inner {
    right: 0;
    bottom: 120px;

    @include media-breakpoint-down(md) {
      bottom: 95px;
    }
  }
}

.fancybox-thumbs__list {
  margin: 0 auto;

  a {
    margin: 0 21px;

    @include media-breakpoint-up(lg) {
      width: 185px;
      height: 120px;
    }

    @include media-breakpoint-down(sm) {
      margin: 0 3px;
    }

    &:before {
      border: 2px solid $primary;
    }
  }
}

.fancybox-thumbs {
  top: auto;
  width: auto;
  bottom: 0;
  left: 0;
  right: 0;
  height: 140px;
  padding: 10px;
  box-sizing: border-box;
  background: transparent;

  @include media-breakpoint-down(md) {
    height: 95px;
  }
}

.fancybox-slide--image {
  padding: 40px 15px;
}

.fancybox-navigation {

  .fancybox-button {
    padding: 0;
    width: 50px;
    height: 50px;
    background: none;
    top: calc(50% - 25px);

    &:hover {

      div {

        &:after {
          color: $primary;
        }
      }
    }

    svg {
      display: block;
    }

    div {
      position: relative;

      &:after {
        content: '&#62;';
        font-family: $icomoon;
        font-size: 30px;
        position: absolute;
        top: 11px;
        left: 15px;
        color: $color-light;
        display: none;
      }
    }
  }

  .fancybox-button[disabled] {
    cursor: default;

    div {

      &:after {
        color: $color-dark-medium;
      }
    }
  }

  .fancybox-button--arrow_right {

    div {

      &:after {
        content: '\e915';
        left: 20px;
      }
    }
  }
}

.select-menu {
  position: absolute;
  top: 40px !important;
  width: 100%;
  border: 0 !important;
  background: white;
  order: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  box-shadow: 0px 15px 30px rgba(29, 29, 29, 0.1);
  padding: 20px 13px 10px 13px;
  z-index: 10;

  /******* Custom Scrollbar *********/
  ::-webkit-scrollbar {
    width: 5px;
    z-index: 99999999999;
  }

  ::-webkit-scrollbar-track {
    box-shadow: none;
  }

  ::-webkit-scrollbar-thumb {
    background: #56ccf2;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #56ccf2;
  }

  .buttons-wrapper {
    max-height: 291px;
    overflow-y: auto;
    padding-right: 12px;
    transition: max-height 1.5s linear;

    &:after {
      content: '';
      position: absolute;
      top: 21px;
      right: 15px;
      width: 1px;
      background: rgba(29, 29, 29, .1);
      height: calc(100% - 50px);
      z-index: -1;
    }

    &.show-all {
      height: auto;
      max-height: 1500px;
    }
  }
}

.search-input-wrapper {
  .single-select-wrapper {
    position: relative;

    #single-select {
      height: 48px;
      padding: 0 22px;
      font-size: 18px;
      border-color: rgba(29, 29, 29, 0.2);
    }

    &:after {
      content: '';
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      width: 48px;
      height: 48px;
      border-left: 1px solid rgba(29, 29, 29, 0.2);
      background: rgba(29, 29, 29, 0.05) url('#{$path-img}icons/loupe.svg') no-repeat center center;
    }

    .icons.flex,
    .cursor-pointer.flex {
      display: none !important;
    }

    ul.list-reset {
      li {
        color: rgba(29, 29, 29, 0.65);

        &.active,
        &:hover {
          background: rgba(29, 29, 29, 0.05);
        }
      }
    }
  }


}