.package-header,
.package-header-mobile {
  position: relative;
  width: 100%;
  height: 536px;
  margin-top: 63px;
  background: center/cover;
  color: $white;
  text-align: center;
}

.package-header-mobile {
  margin-top: 53px;

  @include media-breakpoint-up(md) {
    background-image: none !important;
  }
}

.package-header {
  .title {
    width: 80%;
    margin: 0 auto;
    min-height: 384px;
    padding-top: 72px;
    font-family: arkipelago, cursive;
    font-size: 6vw;
    letter-spacing: .1em;
    line-height: 1.1;
  }

  .agent-logo {
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 0 0 55px 4%;

    img {
      width: 140px;
    }
  }

  .info {
    justify-content: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    padding-bottom: 62px;

    .event-date {
      font-size: 38px;
      letter-spacing: 0.03em;
    }

    .copyright {
      padding-top: 17px;
      font-weight: 700;

      img {
        margin-right: 9px;
        width: 27px;
      }
    }
  }
}

.package-details {
  &__title {
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: rgba(29, 29, 29, 0.8);
  }

  &__subtitle {
    font-size: 16px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.5);
  }

  &__price {
    font-size: 36px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.75);
    margin-bottom: 30px;

    .from {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: rgba(29, 29, 29, 0.5);
    }

    .price {
      font-weight: 700;
      letter-spacing: 0.05em;
      color: rgba(29, 29, 29, 0.8);
    }
  }

  &__map {
    width: 100%;
    max-width: 1043px;
    margin: 35px 0 70px;
  }
}

.package {
  &__features {
    font-size: 12px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.75);
    margin-bottom: 11px;
  }

  &__itinerary {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.6);
    margin: 37px 0 55px;

    i {
      color: rgba(0, 152, 134, 0.5);
    }
  }

  &__list {
    margin: 35px 0 65px;
  }
}

/******* STICKY FOOTER *******/
.get-package-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(100%);
  transition-duration: .7s;
  opacity: 0;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }
}

.get-package {
  height: 130px;
  padding: 6px 50px 6px 6px;
  background: $white;
  border: 0.25px solid rgba(0, 0, 0, 0.05);
  box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

  &__image {
    border-radius: 3px;
    margin-right: 20px;
  }

  &__info {
    margin: 0 auto 0 0;

    .opening {
      font-size: 20px;
      font-weight: 700;
      line-height: 32px;
      color: rgba(29, 29, 29, 0.7);
      margin-bottom: 6px;
    }

    .date {
      font-size: 14px;
      letter-spacing: 0.03em;
      color: rgba(29, 29, 29, 0.5);
      margin-bottom: 6px;
    }

    .from {
      font-size: 12px;
      letter-spacing: 0.03em;
      color: rgba(29, 29, 29, 0.4);
      margin-bottom: 3px;
    }

    .price {
      font-size: 34px;
      font-weight: 700;
      letter-spacing: 0.05em;
      color: rgba(29, 29, 29, 0.75);
    }
  }
}

/******* MEDIA *******/
@include media-breakpoint-down(sm) {
  .package-header {
    position: relative;
    width: 100%;
    height: 536px;
    margin-top: 53px;
    background: center/cover;
    background-image: none !important;

    .title {
      min-height: 179px;
      padding-top: 31px;
      padding-bottom: 25px;
      font-size: 48px;
      letter-spacing: .09em;
      line-height: 1.3;
    }

    .agent-logo {
      margin: 0 auto 70px;
      width: 100%;
    }

    .info {
      justify-content: space-between;
      height: 57%;
      padding-bottom: 15px;

      .event-date {
        font-size: 16px;
      }

      .copyright {
        font-size: 8px;

        img {
          width: 20px;
        }
      }
    }

    &.builder {
      .agent-logo {
        margin-bottom: 170px;

        img {
          width: 74px;
        }
      }

      .info {
        top: 0;
        height: 50%;

        .copyright {
          order: 1;
          padding-top: 7px;
        }

        .event-date {
          order: 2;
        }
      }
    }
  }

  .package-details {
    &__title {
      font-size: 20px;
      text-align: center;
    }

    &__subtitle {
      font-size: 12px;
      text-align: center;
    }

    &__price {
      font-size: 24px;
    }

    &__map {
      margin: 15px 0 50px;
    }
  }

  .package {
    &__features {
      margin-bottom: 10px;
    }

    &__itinerary {
      margin-top: 24px;
    }

    &__list {
      margin: 15px 0 40px;
    }
  }

  .get-package {
    height: 63px;
    padding: 14px;
    margin: 0 -15px;
    background: $white;

    &__info {
      .from {
        font-size: 8px;
      }

      .price {
        font-size: 24px;
      }
    }
  }
}