<template>
    <div class="modal sale-modal" :class="{ 'success': success, 'error': error }" id="sale-modal">
        <div class="modal-dialog">

            <div class="modal-content" v-if="!success">
                <button type="button" class="close" data-dismiss="modal" @click="reset"><i class="icon icon-close"></i></button>
                <div class="modal-header">
                    <h4 class="title" v-if="error">OOPS! INVALID ACCESS CODE!</h4>
                    <h4 class="title" v-else>ENTER YOUR ACCESS CODE</h4>
                </div>
                <div class="modal-body">
                    <div class="description" v-if="error">
                        <p>{{ status === 'used' ? 'Sorry, your access code has been used.' : 'Sorry, your access code is invalid.' }} Please try again or contact ticketing support via this <a href="#" @click.prevent="showIntercom">link</a>.</p>
                        <p>Alternatively, you may also buy tier 3 tickets.</p>
                    </div>
                    <div class="description" v-else>
                        <p>Please enter the 6-digit access code below, this code can be located in your purchase instructions email.</p>
                        <p><b>Once the code has been entered it cannot be reused!</b><br> So please make sure you do not refresh the page or close your browser.</p>
                    </div>
                    <form class="sale-form" method="POST" :action="action" @submit.prevent="applyCode">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="A13BG5" v-model="code" autocomplete="off" spellcheck="false"
                                   maxlength="6">
                        </div>
                        <div class="form-group">
                            <button :class="{ 'disabled': !validCode }" type="submit" class="btn btn-primary btn-lg" :disabled="!validCode">Apply
                            </button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modal-content" v-if="success">
                <div class="modal-header">
                    <h4 class="title">IT’S CORRECT!</h4>
                </div>
                <div class="modal-body">
                    <div class="description">
                        <p><b>{{ message }}</b></p>
                        <p>You will be redirected to the next page automatically.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</template>

<script>

    /* Define initial values */
    function initialState() {
        return {
            code: '',
            success: false,
            message: '',
            status: '',
            error: false,
            timeout: 3000,
            type: ''
        }
    }

    export default {

        name: 'AccessCodeModal',

        props: {
            action: String,
        },

        created() {
            window.Event.$on('setType', type => {
                this.type = type;
            })
        },

        data() {
            return initialState();
        },

        methods: {

            /* validate access code and apply it */
            applyCode() {

                axios.post(this.action, {
                    code: this.code,
                    type: this.type
                })
                    .then(response => response.data)
                    .then(data => {
                        this.error = false;
                        if (data.success) {
                            this.success = true;
                            this.message = data.message;
                            this.status = data.status;
                            setTimeout(() => {
                                window.location.href = data.url;
                            }, this.timeout);
                        } else {
                            this.error = true;
                            this.message = data.message;
                            this.status = data.status;
                        }
                    })
                    .catch(error => {
                        this.error = true;
                        this.message = error.message;
                    });

            },

            /* show Intercom messenger */
            showIntercom() {
                if (typeof Intercom === 'function') {
                    Intercom('show');
                }
            },

            /* Reset component data to initial values */
            reset() {
                Object.assign(this.$data, this.$options.data.call(this));
            }
        },

        computed: {
            validCode() {
                return (this.code.length === 6 && /^[a-z0-9]+$/i.test(this.code))
            },
            done() {
                return (this.success === true || this.error === true)
            }
        }
    }
</script>