<template>
    <div class="btn-holder">
        <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#sale-modal" @click="setType(type)" onClick="gtag_report_conversion();">Buy Ticket</a>
    </div>
</template>

<script>
    export default {
        name: 'BuyButton',
        props: {
            type: String
        },
        methods: {
            setType(type) {
                window.Event.$emit('setType', type)
            }
        }
    }
</script>