<template>

<div class="form-coupon">

    <form method="POST" action="/coupon/apply" class="form-inline" @submit.prevent="applyCoupon" @keydown="errors.clear($event.target.name)">

        <h3>Apply Coupon</h3>

        <div class="form-group">

            <input @keyup="enableSubmit" type="text" name="coupon" placeholder="Apply your coupon here" v-model="coupon" class="form-control" required>

            <div v-if="errors.has('coupon')" class="alert alert-danger" role="alert" v-text="errors.get('coupon')"></div>

        </div>

        <button :class="{ 'disabled': disabled }" class="btn btn-success pull-right" type="submit">Apply</button>

    </form>

</div>

</template>

<script>

    class Errors {

        constructor() {

            this.errors = {}

        }

        get(field) {

            if (this.errors[field]) {
                return this.errors[field][0];
            }

        }

        has(field) {
            return this.errors.hasOwnProperty(field);
        }

        clear(field) {

            delete (this.errors[field]);

        }

        record(errors) {

            this.errors = errors;

        }

    }

    export default {

        data() {

            return {
                coupon: '',
                disabled: true,
                errors: new Errors()
            }

        },

        methods: {

            applyCoupon() {

                axios.post('/coupon/apply', {

                    coupon: this.coupon

                })
                .then(response => console.log(response))
                .catch(error => this.errors.record(error.response.data));

            },

            enableSubmit() {
                this.disabled = false;
            }

        },

        mounted() {
            console.log('Component ready.')
        }
    }
</script>
