<template>

    <table class="table table-hover">
        <tbody>

            <tr v-for="item in cartItems">

                <td>{{ item.name }} <a @click="removeFromCart(item.rowId)">Remove from cart</a></td>
                <td>{{ item.qty }}</td>
                <td>RM {{ item.subtotal }}</td>

            </tr>

            <tr class="total">

                <tr class="total">
                    <td>Total</td>
                    <td></td>
                    <td>RM {{ subtotal }}</td>
                </tr>

            </tr>

        </tbody>
    </table>

</template>

<script>
    export default {

        data() {

            return { cartItems: [], total: 0 }

        },

        computed: {

            subtotal() {



            }

        },

        methods: {

            removeFromCart(id) {

                axios.get('/cart/remove/item/' + id).then(response => response.data);

                Vue.delete(this.cartItems, id);

            }

        },



        mounted() {

            //axios.get('/cart/total').then(response => this.total = response.data);

            axios.get('/cart/get').then(response => this.cartItems = response.data);

        }
    }
</script>
