<template>
        <div class="package-builder">
            <div class="row">
                <div class="col-lg-1 col-sm-0">
                </div>
                <div :class="classRow1">

                    <div class="search-panel">
                        <div class="row align-items-center justify-content-center">
                            <div class="col-md-3 col-sm-6 col-12" v-if="type!='hotel'">
                                <div class="flight">
                                    <span class="up-text">Origin</span><br>
                                    <span class="bottom-text">Kuala Lumpur (KUL)</span>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-6 col-12" v-if="type!='hotel'">
                                <div class="flight">
                                    <span class="up-text">Destination</span><br>
                                    <span class="bottom-text">Singapore (SIN)</span>
                                </div>
                            </div>
                            <div :class="classCellTravellers">
                                <span class="up-text">Travelers</span>
                                <div class="input-group grp">
                                    <button type="button" class="quantity-left-minus btn btn-number btn-pink btn-left"  data-type="minus" data-field=""  @click="addTraveler(-1)" :disabled="isTravelersSub">
                                      <span class="iconart iconart-minus"></span>
                                    </button>
                                    <input type="text" id="travelers" name="travelers" class="counter-number" v-model="travelers" min="1" max="4" size="1" readonly>
                                    <button type="button" class="quantity-right-plus btn btn-number btn-pink btn-right" data-type="plus" data-field=""  @click="addTraveler(1)" :disabled="isTravelersAdd">
                                        <span class="iconart iconart-plus"></span>
                                    </button>
                                </div>
                            </div>
                            <div :class="classCellRooms">
                                <div v-if="type!='flight'">
                                    <span class="up-text">Rooms</span>
                                    <div class="input-group grp">
                                        <button type="button" class="quantity-left-minus btn btn-number btn-pink btn-left"  data-type="minus" data-field="" @click="addRooms(-1)" :disabled="isRoomsSub">
                                          <span class="iconart iconart-minus"></span>
                                        </button>
                                        <input type="text" id="travelers" name="travelers" class="counter-number" v-model="rooms" min="1" max="4" size="1" readonly>
                                        <button type="button" class="quantity-right-plus btn btn-number btn-pink btn-right" data-type="plus" data-field="" @click="addRooms(1)" :disabled="isRoomsAdd">
                                            <span class="iconart iconart-plus"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div :class="classCell">
                                <button type="button" class="btn btn-primary btn-search"@click="search">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-1 col-sm-0">
                </div>
            </div>
        </div>
</template>

<script>
    import { EventBus } from '../event.js';
    export default {
        name: 'SearchPanel',
        props: {
            type: String
        },
        data () {
            return {
                travelers:1,
                rooms:1,
                rules:[]
            }
        },
        computed: {
          isTravelersSub: function() {
            return this.travelers<2;
          },
          isTravelersAdd: function() {
            return this.travelers>3;
          },
          isRoomsSub: function() {
            return this.rooms<=this.rules[this.travelers][0];
          },
          isRoomsAdd: function() {
            return this.rooms>=this.rules[this.travelers][1];
          },
          classRow1: function() {
            if("hotel" == this.type)
                return "col-lg-6 col-sm-9";
            else
                return "col-lg-10 col-sm-12";
          },
          classCell: function() {
            if("hotel" == this.type)
                return "col-md-4 col-sm-4 col-6 travelers-rooms";
            else
                return "col-md-2 col-sm-4 col-6 travelers-rooms";
          },
          classCellTravellers: function() {
            if("hotel" == this.type)
                return "col-md-4 col-sm-4 col-6 travelers-rooms";
            else if("flight" == this.type)
                return "col-md-2 col-sm-4 col-auto travelers-rooms";
            else
                return "col-md-2 col-sm-4 col-6 travelers-rooms";
          },
          classCellRooms: function() {
            if("hotel" == this.type)
                return "col-md-4 col-sm-4 col-6 travelers-rooms";
            else if("flight" == this.type)
                return "col-md-2 col-sm-2 col-0 travelers-rooms";
            else
                return "col-md-2 col-sm-4 col-6 travelers-rooms";
          }
        },
        methods: {
            addTraveler(val) {
                if(this.travelers+val>4 || this.travelers+val<1)
                    return;
                this.travelers=this.travelers+val
                if(this.rooms>this.rules[this.travelers][1])
                    this.rooms=this.rules[this.travelers][1]
                else if(this.rooms<this.rules[this.travelers][0])
                    this.rooms=this.rules[this.travelers][0]
            },
            addRooms(val) {
                if(this.rooms+val>this.rules[this.travelers][1]
                 || this.rooms+val<this.rules[this.travelers][0])
                    return;
                this.rooms=this.rooms+val
            },
            search() {
                $('#packages-details').show();
                EventBus.$emit('searchChanged',{'travelers':this.travelers,'rooms':this.rooms});
                $('body,html').animate({
                    scrollTop: $('#packages-details').offset().top - 60
                }, 500);
            }
        },
        beforeMount () {
            this.rules[0]=[1,1]
            this.rules[1]=[1,1]
            this.rules[2]=[1,2]
            this.rules[3]=[2,3]
            this.rules[4]=[2,4]
        }
    }
</script>