.custom-popup {

  .modal-dialog.modal-lg {
    @media (min-width: 992px) {
      max-width: 1057px;
    }

    @media (max-width: 575px) {
      max-width: 349px;
    }

  }

  .modal-content {
    background: #FCFCFC;
    border: 0.75px solid #000000;
    border-radius: 7px;


    .modal-header {
      background-image: url("/images/rugby2019/custom-package.png");
      background-size: cover;
      background-position: center top;
      height: 378px;

      .title {
        font-weight: 900;
        font-size: 48px;
        line-height: 140.62%;
        color: $white;
        letter-spacing: 0.02em;
        text-align: center;
      }

      @media (max-width: 992px) {
        background-image: url("/images/rugby2019/custom-pack-mob.png");
        height: 248px;

        .title {
          font-size: 25px;

          span {
            display: block;
            width: 100%;
          }
        }
      }
    }

    .modal-body {
      padding: 22px 103px 33px;
      color: rgba(29, 29, 29, 0.65);
      letter-spacing: 0.02em;

      .body-title {
        font-size: 30px;
        font-weight: 600;
        line-height: 36px;
        color: #1D1D1D;
        margin-bottom: 10px;
      }

      .body-text {
        font-size: 18px;
        line-height: 140.62%;
        margin-bottom: 71px;
      }

      .body-bottom {
        border-top: 1px solid rgba(29, 29, 29, .3);
        padding-top: 33px;

        .price-box {

          h5 {
            font-size: 12px;
          }

          h1 {
            font-size: 25px;
            margin: 3px 0 0;
            font-weight: 600;
          }
        }

        .get-btn {
          width: 195px;
          height: 45px;
          background: linear-gradient(180deg, #F13B54 0%, #C33A8C 100%);
          box-shadow: 0 0 30px rgba(241, 59, 84, 0.08);
          border-radius: 3px;
          font-weight: bold;
          font-size: 16px;
          text-align: center;
          color: $white;
          outline: none;
          border: none;
          text-decoration: none;
          padding: 10px 0;
          line-height: 24px;
        }
      }

      @media (max-width: 992px) {
        padding: 20px 14px 14px;

        .body-title {
          font-size: 20px;
          line-height: 24px;
        }

        .body-text {
          font-size: 16px;
          margin-bottom: 39px;
        }

        .body-bottom {
          padding-top: 14px;
        }

        .price-box-mob {

          h5 {
            font-size: 10px;
          }

          h1 {
            font-size: 20px;
            font-weight: 600;
          }
        }
      }
    }
  }
}

/******* STICKY FOOTER *******/
.custom-package-sticky {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  transform: translateY(100%);
  transition-duration: .7s;
  opacity: 0;

  &.visible {
    transform: translateY(0);
    opacity: 1;
  }

  .get-package {
    height: 130px;
    padding: 6px 50px 6px 6px;
    background: $white;
    border: 0.25px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0px -5px 30px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;

    &__image {
      border-radius: 3px;
      margin-right: 20px;
    }

    &__info {
      margin: 0 auto 0 0;

      .opening-custom {
        font-size: 20px;
        font-weight: 700;
        line-height: 32px;
        color: rgba(29, 29, 29, 0.7);
        letter-spacing: 0;
      }

      .about {
        font-size: 14px;
        letter-spacing: 0.03em;
        line-height: 17px;
        color: rgba(29, 29, 29, 0.5);
        margin-bottom: 6px;
      }

      .from {
        font-size: 12px;
        letter-spacing: 0.03em;
        color: rgba(29, 29, 29, 0.4);
        margin-bottom: 3px;
      }

      .price {
        font-size: 34px;
        font-weight: 700;
        letter-spacing: 0.05em;
        color: rgba(29, 29, 29, 0.75);
      }
    }

    .btn.btn-gradient {
      width: 179px;
      padding: 18px 0;
      color: $white;
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.02em;
      border: 0;
      border-radius: 3px;
      background: linear-gradient(180deg, #F13B54 0%, #C33A8C 100%);
    }

    @include media-breakpoint-down(sm) {
      padding: 2px 9px 0 14px;
      height: 62px;

      .opening-custom {
        font-size: 14px;
        line-height: 17px;
      }

      .about {
        font-size: 11px;
        line-height: 13px;
      }

      .from {
        font-size: 6px;
        line-height: 7px;
      }
      .price {
        font-size: 14px;
        line-height: 17px;
      }

      .btn.btn-gradient {
        width: 130px;
        padding: 14px 0;
        font-size: 14px;
      }
    }
  }
}
