//Path

$path-fonts: '../fonts/';
$path-img: '../images/ultrasingapore2019/';

//Fonts
$roboto: 'Roboto';
$raleway: 'Raleway';
$permanent-marker: 'Permanent Marker';
$lato: 'Lato';
$font-primary: $roboto, sans-serif;
$font-secondary: $raleway, sans-serif;
$font-title: $font-secondary;
$icomoon: 'icomoon';

//Colors
$primary: #fff;
$secondary: #cd01ed;
$danger: #ff0000;
$info: #01aaf8;
$info-light: #56ccf2;

$primary-dark: #1d1d1d;

$color-text: rgba($primary, .85);
$color-dark: rgba($primary, .2);
$color-dark-medium: rgba($primary, .35);
$color-medium: rgba($primary, .6);
$color-light: rgba($primary, .8);

$color-title: $primary;
$color-border: $color-dark;

$color-menu: #fafafa;

//Default settings
$default-font-family: $font-primary;
$default-font-size: 12px;
$default-line-height: 1.5;
$default-font-weight: 300;
$default-font-style: normal;

//body
$body-bg: #000;
$header-bg: #1d1d1d;