footer.mainFooter {
  background-image: $footer-bg-image-m;
  background-repeat: no-repeat;
  background-position: left bottom, center;
  background-size: 46.1%, auto;
  color: $footer-color;
  font-family: $font-secondary;
  font-weight: 300;
  //text-align: center;
  text-shadow: 0 1px 0 $footer-bg-color, 0 -1px 0 $footer-bg-color, 1px 0 0 $footer-bg-color, -1px 0 0 $footer-bg-color;
  //padding: 76px 0 18px;

  .row.footer-desc {
    display: block;
    margin-bottom: 10px;
  }

  li {
    list-style-type: none;
  }

  @media (min-width: 546px) {
    background-size: 251px, auto;
  }

  @include media-breakpoint-up(lg) {
    background-size: auto;
    background-image: $footer-bg-image;
    background-position: right 142px bottom, center;
    padding: 35px 0 24px;
  }

  .content {

    @include media-breakpoint-up(lg) {
      width: 50%;
    }
  }

  .logo {
    display: inline-block;

    @include media-breakpoint-up(lg) {
      margin-right: 75px;
    }

    img {
      width: 105px;

      @include media-breakpoint-up(lg) {
        width: 71px;
      }
    }
  }

  .text-wrapper {
    padding-top: 78px;
    font-family: Roboto;

    @include media-breakpoint-up(lg) {
      padding-top: 35px;
    }

    .text {

      margin-top: 7px;
      padding: 0 12% 0 51%;
      min-height: 190px;
      font-style: normal;
      font-weight: 300;
      font-size: 14px;
      line-height: normal;
      text-align: right;
      letter-spacing: 0.02em;
      @include media-breakpoint-up(lg) {
        min-height: 0;
        text-align: right;
        font-size: 14px;
        line-height: 20px;
        width: 50%;
        padding: 0;
      }
    }

    .nav {
      width: 50%;
      padding-left: 58px;

      .nav-item {
        text-align: left;
      }

      .nav-link {
        color: $footer-color;
        font-style: normal !important;
        font-weight: 300 !important;
        font-size: 14px !important;
        line-height: normal !important;
        letter-spacing: 0.02em;
      }

      .nav-link:hover {
        background-color: transparent !important;
        border-color: transparent !important;
      }
    }
  }

  .title {
    padding-top: 44px;
    text-transform: uppercase;
    letter-spacing: 0.31em;
    font-size: 14px;
    font-weight: 700;

    @include media-breakpoint-up(lg) {
      padding-top: 81px;
      font-weight: 300;
    }
  }

  .component-socials {
    margin-top: 14px;
  }

  .copyright {
    padding: 93px 0 0 82px;

    @include media-breakpoint-up(lg) {
      padding: 155px 0 0;
    }
    font-style: normal !important;
    font-weight: 300 !important;
    font-size: 12px !important;
    line-height: normal !important;
    text-align: center !important;
    letter-spacing: 0.02em !important;

    p {
      margin: 2px 0;
      letter-spacing: 0.02em;
      /* font-size: 8px;*/
      line-height: 1;
      color: $footer-color;

      @include media-breakpoint-up(lg) {
        font-size: 10px;
      }
    }
  }
}

footer.rugby-footer {
  color: white;
  background: linear-gradient(to right, #c33a8c 40%, #f13b54 100%);
  height: 430px;
  font-size: 9px;
  line-height: 1.5;
  font-weight: 100;
  display: flex;

  .container {
    display: flex;
  }

  .row {
    flex-grow: 1;
  }

  .top-block {
    margin: 0 0 62px;
  }

  .logo {
    width: 90px;
    margin: 0 0 11px auto;
  }

  .info {
    text-align: right;

    p {
      font-size: 14px;
      color: #fff;
    }
  }

  .social-holder {
    max-width: 130px;
    margin: 0 0 0 auto;

    .title {
      display: block;
      text-align: center;
      margin: 0 0 21px;
      letter-spacing: .3em;
      text-transform: uppercase;
    }
  }

  .menu {

    ul {
      li {
        margin: 0 0 6px;
      }

      a {
        color: white;
        text-transform: uppercase;

        &:hover {
          opacity: .7;
        }
      }

      .active {

        a {
          font-weight: 700;
        }
      }
    }

    .menu-secondary {

      ul {

        li {
          margin: 0 0 4px;
        }

        a {
          text-transform: none;
        }
      }
    }
  }

  .copy {
    margin: 15px 0 0;
    color: $white;
    font-size: 12px;
  }

  .left-column {
    padding: 23px 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
  }

  .image-block {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 1;
  }

  .social {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a {
      color: white;
      font-size: 10px;
      transition: opacity .15s;
    }
  }

  @include media-breakpoint-up(xl) {
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
  }

  @include media-breakpoint-down(xl) {
    .info br {
      display: none;
    }
  }

  @include media-breakpoint-down(lg) {
    height: 450px;

    .top-block {
      margin: 0 0 20px;
    }
  }

  @media (max-width: 767px) {
    height: auto;

    .top-block {
      margin: 0 0 38px;
    }

    .logo {
      margin: 0 auto;
    }

    .info {
      max-width: 145px;
      text-align: left;
      font-size: 10px;
      margin: 0 0 50px;

      p {
        font-size: 10px;
        line-height: 15px;
      }
    }

    .social-holder {
      margin: 0 auto 20px;
      max-width: 205px;

      .title {
        margin: 0 0 17px;
        font-weight: 700;
      }
    }

    .menu {
      display: none;
    }

    .copy {
      margin: 0 0 20px;
      font-size: 10px;
      line-height: 15px;
    }

    .left-column {
      align-items: center;
      padding: 60px 0 0;
      display: block;
    }

    .image-block {
      justify-content: flex-start;
      max-width: 50%;
      flex-shrink: 0;
      margin-left: -15px;
    }

    .social {

      a {
        font-size: 20px;
      }
    }
  }

  @include media-breakpoint-up(lg) {

    .content-holder {

      .row {
        margin-left: -19px;
        margin-right: -19px;
      }

      .custom-col {
        padding-left: 19px;
        padding-right: 19px;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .menu-primary {
      padding-top: 23px;
    }
  }
}
