.section-packages {

  padding: 20px 0;

  p {
    font-size: 16px;
    line-height: 27px;
    letter-spacing: 0.03em;
    color: rgba(29, 29, 29, 0.65);
  }

  h2 {
    font-size: 30px;
    line-height: normal;
    text-transform: uppercase;
    color: rgba(29, 29, 29, 0.9);
  }

  @include media-breakpoint-up(lg) {
    padding-bottom: 30px;
  }

  .packages {
    padding: 8px 0 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 -11px;

    @include media-breakpoint-up(lg) {
      padding: 24px 0 20px;
      justify-content: space-between;
    }
  }

  .contact {
    padding: 19px 0;

    p {
      color: $packages-contact-color;
      font-size: 16px;
      line-height: 1;
      margin: 7px;
      text-align: center;
      letter-spacing: 0;

      @include media-breakpoint-up(lg) {
        font-size: 20px;
        line-height: 27px;
      }
    }

    a {
      text-decoration: underline;
    }
  }
}