<template>
    <div aria-hidden="true" aria-labelledby="customPackagePopup" class="modal fade custom-popup" id="customPackagePopup"
         role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header flex-column justify-content-center align-items-center overlay">
                    <button aria-label="Close" class="close-button" data-dismiss="modal" type="button">
                    </button>
                    <div class="title">Match tickets <span>+</span> Flights and/or Hotels</div>

                </div>
                <div class="modal-body">
                    <div class="body-title">
                        Book a Custom Package
                    </div>
                    <div class="body-text">Our concierges can create a custom package for you.</div>
                    <div class="price-box-mob d-flex d-lg-none justify-content-between align-items-end">
                        <h5>Starting from:</h5>
                        <h1>RM 7,500</h1>
                    </div>
                    <div class="body-bottom d-flex justify-content-center justify-content-lg-between">
                        <div class="price-box d-none d-lg-block">
                            <h5>Starting from:</h5>
                            <h1>RM 7,500</h1>
                        </div>
                        <a class="get-btn" target="_blank"
                           href="mailto:support@redtix.com?subject=Quote%20on%20a%20custom%20Rugby%20World%20Cup%20package&amp;body=Number%20of%20guests%3A%20%0D%0AMatches%20you%20would%20like%20to%20attend%3A%20%0D%0ATicket%20Category%20%28B%2C%20C%20or%20D%29%3A%20%0D%0AFlying%20from%20and%20to%3A%20%0D%0ADates%3A%20%0D%0AHotel%20Star%20Rating%203%2A%2C%204%2A%20or%205%2A%20%28optional%29%3A%20%0D%0ANumber%20of%20Rooms%3A%20%0D%0ARoom%20Type%20%28Single%2C%20Twin%20or%20Double%29%3A%20%0D%0ALocation%20%28Yokohama%2C%20Osaka%2C%20Tokyo%20etc%2E%29%3A%20">Get
                            a Quote</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "customModal"
    }
</script>

<style scoped>

</style>