<template>
    <div :class="{visible: isVisible}" class="custom-package-sticky fixed">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center get-package">
                <img class="get-package__image d-none d-md-block" src="/images/rugby2019/custom-sticky.png">
                <div class="d-flex flex-column get-package__info">
                    <span class="opening-custom text-uppercase">Get a Custom Package</span>
                    <span class="about">Match Tickets + Flights and/or Hotels</span>
                    <span class="from">From only:</span>
                    <span class="price">RM 7,500</span>
                </div>
                <a
                        class="btn btn-gradient"
                        target="_blank"
                        href="mailto:support@redtix.com?subject=Quote%20on%20a%20custom%20Rugby%20World%20Cup%20package&amp;body=Number%20of%20guests%3A%20%0D%0AMatches%20you%20would%20like%20to%20attend%3A%20%0D%0ATicket%20Category%20%28B%2C%20C%20or%20D%29%3A%20%0D%0AFlying%20from%20and%20to%3A%20%0D%0ADates%3A%20%0D%0AHotel%20Star%20Rating%203%2A%2C%204%2A%20or%205%2A%20%28optional%29%3A%20%0D%0ANumber%20of%20Rooms%3A%20%0D%0ARoom%20Type%20%28Single%2C%20Twin%20or%20Double%29%3A%20%0D%0ALocation%20%28Yokohama%2C%20Osaka%2C%20Tokyo%20etc%2E%29%3A%20">Get
                    a Quote
                </a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "custom-sticky",
        data() {
            return {
                isBottom: false
            }
        },
        computed: {
            isVisible() {
                return this.$root.customSticky && !this.isBottom
            }
        },
        mounted() {
            window.addEventListener('scroll', this.handleScroll);
        },
        methods: {
            handleScroll() {
                this.isBottom = $('.custom-package-sticky').offset() &&
                    $('.custom-package-sticky').offset().top >= ($(document).height() - 380)
            }
        },
        destroyed() {
            window.removeEventListener('scroll', this.handleScroll);
        },
    }
</script>

<style scoped>

</style>