<template>
    <div class="container">

        <section class="js-matches-filters section-matches-filters">
            <h2>
                Rugby World Cup 2019, Japan fixtures
            </h2>

            <form class="js-filters filters">
                <div class="input-group input-group-search search-input-wrapper dropdown-autocomplete">
                    <vue-single-select
                            :options="Object.values(ticketsData.countries)"
                            placeholder="Search for matches"
                            style="width: 100%;"
                            v-model="keyword"
                    ></vue-single-select>
                </div>

                <div class="input-group input-group-filters">
                    <!-- Countries Filter -->
                    <div class="dropdown filter-select" v-on-clickaway="hideCountries">
                        <button @click="getCountriesVisible()" class="btn btn-dropdown" type="button">
                            {{selectedCountry}}
                        </button>
                        <div class="select-menu" v-if="countriesVisible">
                            <div :class="{'show-all': showAllCountries}" class="buttons-wrapper">
                                <button
                                        :class="needSelectedBackground(country, selectedCountry)"
                                        :data-value="country"
                                        :key="`${country}-${index}`"
                                        @click.stop="setSelectedCountry(country)"
                                        class="dropdown-item btn btn-filter"
                                        v-for="(country, index) in ticketDataCountries">
                                    {{country}}
                                </button>
                            </div>
                            <button @click="showMoreCountries()" class="js-show-more show-more">
                                Show <span v-if="showAllCountries">less</span> <span v-else>more</span>
                            </button>
                        </div>
                    </div>

                    <!-- Groups Filter -->
                    <div class="dropdown filter-select" v-on-clickaway="hideGroups">
                        <button @click="getGroupsVisible()" class="btn btn-dropdown" type="button">
                            {{selectedGroup}}
                        </button>
                        <div class="select-menu" v-if="groupsVisible">
                            <div :class="{'show-all': showAllGroups}" class="buttons-wrapper">
                                <button
                                        :class="needSelectedBackground(group, selectedGroup)"
                                        :data-value="group"
                                        :key="`${group}-${index}`"
                                        @click.stop="setSelectedGroup(group)"
                                        class="dropdown-item btn btn-filter"
                                        v-for="(group, index) in ticketDataGroups">
                                    {{ group !== 'KNOCK OUT PHASE' ? group : 'KNOCK OUT PHASE' }}
                                </button>
                            </div>
                            <button @click="showMoreGroups()" class="js-show-more show-more">
                                Show <span v-if="showAllGroups">less</span> <span v-else>more</span>
                            </button>
                        </div>
                    </div>
                    <!-- Datepicker -->
                    <div class="filter-select-dt">
                        <date-ranger
                                :endDate="endDate"
                                :startDate="startDate"
                                @update="setDate"
                        ></date-ranger>
                        <!--                            <label class="btn-select-label">-->
                        <!--                                <input id="datepicker" class="js-dropdown-filter-datepicker btn btn-dropdown btn-select"-->
                        <!--                                       type="button"-->
                        <!--                                       name="datepicker"-->
                        <!--                                       data-min-date="20 September"-->
                        <!--                                       data-max-date="2 November">-->
                        <!--                                <span class="btn-select-arrow"></span>-->
                        <!--                            </label>-->
                    </div>

                    <!-- Cities Filter -->
                    <div class="dropdown filter-select" v-on-clickaway="hideCities">
                        <button @click="getCitiesVisible()" class="btn btn-dropdown" type="button">
                            {{ selectedCity }}
                        </button>
                        <div class="select-menu" v-if="citiesVisible">
                            <div :class="{'show-all': showAllCities}" class="buttons-wrapper">
                                <button
                                        :class="needSelectedBackground(city, selectedCity)"
                                        :data-value="city"
                                        :key="`${city}-${index}`"
                                        @click.stop="setSelectedCity(city)"
                                        class="dropdown-item btn btn-filter"
                                        v-for="(city, index) in ticketDataCities">
                                    {{ city }}
                                </button>
                            </div>
                            <button @click="showMoreCities()" class="js-show-more show-more d-none">
                                Show <span v-if="showAllCities">less</span> <span v-else>more</span>
                            </button>
                        </div>
                    </div>

                    <div class="dropdown filter-select">
                        <button @click="clearAll" class="btn btn-dropdown clear" type="button">
                            Clear All
                        </button>
                    </div>
                </div>
                <div class="input-group input-group-filters-m">
                    <button @click="mobileModalIsOpen=true" class="btn btn-filters" data-target=".modal-filters"
                            data-toggle="modal"
                            type="button">
                        Filters
                    </button>
                </div>
            </form>
            <package-detail-ticket :key="ticket.id" :ticket="ticket" v-for="ticket in matches2"></package-detail-ticket>
        </section>

        <div class="d-flex d-lg-none justify-content-center" style="display: none !important;">
            <button @click="showMatchesFullList"
                    class="js-show-more btn btn-primary btn-gradient btn-lg"
                    data-scroll-window="true"
                    data-show-more-target="matches"
                    data-show-more-text="Show Less"
                    v-if="matchesToShow === 4"
            >
                Show More
            </button>
            <button @click="showMatchesShortList"
                    class="js-show-more btn btn-primary btn-gradient btn-lg"
                    data-scroll-window="true"
                    data-show-more-target="matches"
                    data-show-more-text="Show Less"
                    v-else
            >
                Show Less
            </button>
        </div>

        <div aria-modal="true" class="modal fade modal-filters show" role="dialog" style="display: block;" tabindex="-1"
             v-if="mobileModalIsOpen">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <form class="js-form modal-content">
                    <div class="modal-header without-border">
                        <h3 class="modal-title">Filters</h3>
                        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
                        </button>
                    </div>
                    <div class="modal-body">
                        <h4 class="heading" data-target=".collapse-country" data-toggle="collapse">Teams</h4>
                        <div class="collapse show collapse-country">
                            <div class="btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(country, index) in ticketDataCountries"
                                    :key="`${country}-${index}`">
                                    <label class="btn btn-filter small" :class="{selected: selectedCountry === country}"
                                        @click="setSelectedCountry(country)">
                                        <input type="checkbox" name="country" autocomplete="off">
                                        {{ country }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-target=".collapse-pool" data-toggle="collapse">Group</h4>
                        <div class="collapse collapse-pool">
                            <div class="btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(group, index) in ticketDataGroups"
                                    :key="`${group}-${index}`">
                                    <label class="btn btn-filter small"
                                        :class="{[`pool-${getGroupClass(group)}`]: true, 'selected': selectedGroup === group}"
                                        @click="setSelectedGroup(group)">
                                        <input type="checkbox" name="group" value="Pool A" autocomplete="off">
                                        {{ group }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-target=".collapse-date" data-toggle="collapse">Date</h4>
                        <div class="collapse collapse-date">
                            <div class="btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons"
                                    v-for="(month, index) in months"
                                    :key="`${month}-${index}`">
                                    <label class="btn btn-filter small" :class="{selected: selectedMonth === month}"
                                           @click="setSelectedMonth(month)">
                                        <input type="checkbox" name="date" :value="month" autocomplete="off">
                                        {{ month }}
                                    </label>
                                </div>
                            </div>
                        </div>
                        <h4 class="heading collapsed" data-target=".collapse-city" data-toggle="collapse">City</h4>
                        <div class="collapse collapse-city">
                            <div class="js-btn-group-toggle-wrapper btn-group-toggle-wrapper">
                                <div class="btn-group-toggle" data-toggle="buttons" 
                                    v-for="(city, index) in ticketDataCities"
                                    :key="`${city}-${index}`">
                                    <label class="btn btn-filter small" :class="{selected: selectedCity === city}"
                                           @click="setSelectedCity(city)">
                                        <input type="checkbox" name="city" value="Tokyo City" autocomplete="off">
                                        {{ city }}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input @click="clearAll" class="js-reset-form reset btn btn-filter btn-fix-width" name="reset"
                               type="reset" value="Clear all">
                        <button aria-label="Close" class="apply btn btn-primary btn-gradient btn-fix-width"
                                data-dismiss="modal" type="button">Apply filter
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <div v-else></div>
    </div>
</template>

<script>
    import moment from 'moment';
    import {mixin as clickaway} from 'vue-clickaway'

    export default {
        name: "Matches",
        mixins: [clickaway],
        props: ['ticketsData', 'countriesData'],
        data() {
            return {
                keyword: null,
                matches: [],
                cities: null,
                countries: null,
                pools: null,
                matches2: [],
                matchesByCountry: '',
                selectedCountry: 'TEAM',
                selectedCity: 'CITY',
                // selectedDate: 'DATE',
                selectedGroup: 'GROUP',
                suggestions: [],
                months: [],
                mobileModalIsOpen: false,
                matchesToShow: 4,
                showCountryDropdown: false,
                showAllCountries: false,
                showAllGroups: false,
                showAllCities: false,
                ticketDataCountries: [],
                ticketDataGroups: [],
                ticketDataCities: [],
                countriesVisible: false,
                groupsVisible: false,
                citiesVisible: false,
                startDate: new Date('2019-09-20'),
                endDate: new Date('2019-11-02'),
                selectedMonth: '',
            }
        },
        methods: {
            hideCities() {
                this.citiesVisible = false;
            },

            hideGroups() {
                this.groupsVisible = false;
            },

            hideCountries() {
                this.countriesVisible = false;
            },

            setDate(value) {
                this.startDate = value.startDate;
                this.endDate = value.endDate;
                this.searchByFilters();
            },

            getCountriesVisible() {
                this.countriesVisible = !this.countriesVisible;
                this.groupsVisible = false;
                this.citiesVisible = false;
            },

            getGroupsVisible() {
                this.groupsVisible = !this.groupsVisible;
                this.countriesVisible = false;
                this.citiesVisible = false;
            },

            getCitiesVisible() {
                this.citiesVisible = !this.citiesVisible;
                this.countriesVisible = false;
                this.groupsVisible = false;
            },

            getGroupClass(value) {
                if (value && value.indexOf('Pool') != -1) {
                    let group = value.split(' ');
                    return group[1].toLowerCase();
                } else {
                    return 'other';
                }
            },

            showMoreCountries() {
                this.showAllCountries = !this.showAllCountries;
            },

            showMoreGroups() {
                this.showAllGroups = !this.showAllGroups;
            },

            showMoreCities() {
                this.showAllCities = !this.showAllCities;
            },

            getMatches() {
                this.matches = this.ticketsData.countriesData;
            },
            setSelectedMonth(month){
                this.selectedMonth = this.selectedMonth === month ? '' : month
            },
            setSelectedCountry(country) {
                if (this.selectedCountry !== country) {
                    this.selectedCountry = country;
                } else {
                    this.selectedCountry = 'TEAM';//uncheck
                }
                this.searchByFilters();
                this.countriesVisible = false;
            },

            setSelectedGroup(group) {
                if (this.selectedGroup !== group) {
                    this.selectedGroup = group;
                } else {
                    this.selectedGroup = 'GROUP';
                }
                this.groupsVisible = false;
                this.searchByFilters();
            },

            setSelectedCity(city) {
                if (this.selectedCity !== city) {
                    this.selectedCity = city;
                } else {
                    this.selectedCity = 'CITY';
                }
                this.citiesVisible = false;
                this.searchByFilters();
            },

            setMonths() {
                this.months = ['September', 'October', 'November']
            },

            clearAll() {
                this.countriesVisible = false;
                this.groupsVisible = false;
                this.citiesVisible = false;
                this.keyword = '';
                this.selectedCountry = 'TEAM';
                this.selectedGroup = 'GROUP';
                this.selectedCity = 'CITY';
                // this.selectedDate= 'DATE';
                this.startDate = new Date('2019-09-20')
                this.endDate = new Date('2019-11-02')
                // $('#datepicker').val('DATE');
                this.matches2 = this.matches;
                this.selectedMonth = '';
            },

            searchByFilters() {
                let result = [];
                this.matches2 = this.matches;
                if (!this.matches)
                    return;
                let i = 0;
                let selectedCity = (this.selectedCity === 'CITY') ? '' : this.selectedCity.toLowerCase();
                let selectedCountry = (this.selectedCountry === 'TEAM') ? '' : this.selectedCountry.toLowerCase();
                // let selectedDate = (this.selectedDate === 'DATE') ? '' : this.selectedDate;
                let selectedGroup = (this.selectedGroup === 'GROUP') ? '' : this.selectedGroup.toLowerCase();
                let dt1 = this.startDate;
                dt1.setHours(0, 0, 0, 0);
                let dt2 = this.endDate;
                dt2.setHours(0, 0, 0, 0);
                dt2 = moment(dt2).add(1, 'days');

                //$.each(this.matches, function (index, value) {
                this.matches.forEach(function (value, index) {
                    if (!(value.participant1_name && value.participant2_name && value.venue && value.group && value.date)) {
                        return
                    }

                    // let dt1=new Date(selectedDate)
                    let dtGame = new Date(value.date)
                    // let formattedSelectedDay = dt1.getDate();
                    // let formattedValueDay = dt2.getDate();
                    //
                    // let formattedSelectedMonth = dt1.getMonth();
                    // let formattedValueMonth = dt2.getMonth();

                    if ((value.participant1_name.toLowerCase().includes(selectedCountry) || value.participant2_name.toLowerCase().includes(selectedCountry))
                        && (!selectedCity || value.venue.toLowerCase().includes(selectedCity))
                        && (!selectedGroup || value.group.toLowerCase().includes(selectedGroup))
                        // && (!selectedDate || (formattedSelectedMonth === formattedValueMonth  &&  formattedSelectedDay === formattedValueDay)
                        && dtGame >= dt1 && dtGame <= dt2
                    ) {
                        result[i++] = value;
                    }
                }, this)

                this.matches2 = result;
            },

            showMatchesFullList() {
                this.matchesToShow = 10;
            },

            showMatchesShortList() {
                this.matchesToShow = 4;
            },

            onlyUnique(value, index, self) {
                return self.indexOf(value) === index;
            },

            needSelectedBackground(currentValue, selectedValue) {
                if (currentValue === selectedValue) {
                    return 'active';
                } else {
                    return '';
                }
            },

        },
        mounted() {
            this.clearAll();
            this.getMatches();
            this.setMonths();
            // $('#datepicker').on('change', function(e) {
            //     this.selectedDate = $('#datepicker').val();
            // })
            let cities = ['Japan', 'Ireland', 'New Zealand', 'Italy', 'France', 'USA', 'Australia', 'Wales', 'Russia', 'Scotland', 'South Africa', 'Namibia', 'Tonga', 'Georgia', 'Uruguay'];
            this.ticketDataCountries = Object.values(this.ticketsData.countries).filter(country => {
                return cities.indexOf(country) > -1;
            }).filter(this.onlyUnique);
            this.ticketDataGroups = this.ticketsData.groups.filter(group => {
                return group.indexOf('Pool') > -1;
            }).filter(this.onlyUnique);
            this.ticketDataCities = this.ticketsData.cities.filter(this.onlyUnique);


            // $("#datepicker").click(function(e){
            //     let elemOffset=$("#datepicker").offset();
            //     let x=elemOffset.top-20;
            //     let y=elemOffset.left;
            //     $("#ui-datepicker-div").css({'top':x,'left':y});
            // });
        },

        watch: {
            keyword: function () {
                let result = []
                this.matches2 = this.matches;
                if (!this.matches || !this.keyword)
                    return;
                let i = 0;
                let key = this.keyword.toLowerCase();
                $.each(this.matches, function (index, value) {
                    if (
                        value.participant1_name.toLowerCase().includes(key)
                        || value.participant2_name.toLowerCase().includes(key)
                        || value.venue.toLowerCase().includes(key)
                        || value.date.toLowerCase().includes(key)
                    ) {
                        result[i++] = value;
                    }
                })
                this.matches2 = result;
            },
            selectedMonth(val) {
                switch (val) {
                    case 'September':
                        this.startDate = new Date('2019-09-20');
                        this.endDate = new Date('2019-09-30');
                        break;
                    case 'October':
                        this.startDate = new Date('2019-10-01');
                        this.endDate = new Date('2019-10-31');
                        break;
                    case 'November':
                        this.startDate = new Date('2019-11-01');
                        this.endDate = new Date('2019-11-02');
                        break;
                    default:
                        this.startDate = new Date('2019-09-20');
                        this.endDate = new Date('2019-11-02');
                        break;
                }
                this.searchByFilters();
            },
            selectedDate: function () {
                this.searchByFilters();
            },
        },
    }
</script>

<style scoped>
    .btn-search {
        height: 100%;
    }

    .suggestions-show {
        display: block;
    }

    .suggestions-hide {
        display: none;
    }

    .suggestions-dropdown {
        z-index: 1000;
        overflow: auto;
        width: 50%;
    }

    @media screen and (max-width: 768px) {
        .suggestions-dropdown-wrapper {
            width: 100%;
        }
    }

    @media screen and (min-width: 768px) {
        .suggestions-dropdown-wrapper {
            width: 20%;
        }
    }

    .dropdown-autocomplete {
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0.02em;
        color: rgba(29, 29, 29, 0.65);
    }

    .list-reset li {
        background-color: red !important;
    }

    .cursor-pointer {
        border: 1px solid red !important;
        background: lightgrey;
    }
</style>