<template>
    <section class="section-videos">
        <div class="container">
            <div class="row">
                <div class="col-md-4" v-for="video in videos">
                    <a :href="video.link" class="component-video" target="_blank">
                        <div class="image">
                            <div class="img-wrapper">
                                <img :alt="video.title" :src="video.img" class="img">
                            </div>
                            <div class="duration">
                                {{ video.duration }}
                            </div>
                        </div>
                        <div class="description">
                            <h3 class="title">
                                <span>
                                    {{ video.title }}
                                </span>
                            </h3>
                            <div class="time">
                                {{ video.time }}
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
    export default {
        name: "Videos",
        data() {
            return {
                videos: {
                    video1: {
                        "link": "https://www.rugbyworldcup.com/video/387641",
                        "title": "Japan V Russia Feature",
                        "img": "images/rugby2019/videos/1.jpg",
                        "duration": "4:08",
                        "time": "13/12/2018 16:51"
                    },
                    video2: {
                        "link": "https://www.rugbyworldcup.com/video/387640",
                        "title": "2018 In Review: The Rugby World Cup qualification story",
                        "img": "images/rugby2019/videos/2.jpg",
                        "duration": "2:46",
                        "time": "13/12/2018 16:50"
                    },
                    video3: {
                        "link": "https://www.rugbyworldcup.com/video/382185",
                        "title": "World Rugby chairman Bill Beaumont reflects on thrilling Rugby World Cup 2019 Repechage",
                        "img": "images/rugby2019/videos/3.jpg",
                        "duration": "00:40",
                        "time": "24/11/2018 18:03"
                    },
                    video4: {
                        "link": "https://www.rugbyworldcup.com/video/379682",
                        "title": "Kenyan brilliance leads to an incredible try at Rugby World Cup 2019 Repechage",
                        "img": "images/rugby2019/videos/5.jpg",
                        "duration": "1:15",
                        "time": "17/11/2018 14:37"
                    },
                    video5: {
                        "link": "https://www.rugbyworldcup.com/video/378755",
                        "title": "Kurt Haupt's brilliant try for Germany",
                        "img": "images/rugby2019/videos/6.jpg",
                        "duration": "1:01",
                        "time": "11/11/2018 19:16"
                    }
                }
            }
        }
    }
</script>

<style scoped>

</style>