<template>
    <div :class="`size-${packageItem.size}`" class="d-flex flex-column justify-content-between package-wrapper">
        <div>
            <a :href="linkToPackage">
                <div :style="{ backgroundImage: `url('${imagesPath}packages/${packageItem.type}-desktop.jpg')`}"
                     class="package-item__image-desktop">
                    <div :style="{ backgroundImage: `url('${imagesPath}packages/${packageItem.type}-mobile.jpg')`}"
                         class="package-item__image-mobile">
                        <div class="package-item__date">
                            {{packageItem.dt | moment("DD MMMM")}} - {{packageItem.dt2 | moment("DD MMMM")}}
                            {{packageItem.dt | moment("YYYY")}}
                        </div>
                    </div>
                </div>
            </a>
            <div :key="feature.title" class="d-flex align-items-center package-item__features mb-2"
                 v-for="feature in packageItem.features">
                <span :class="feature.icon" class="title-icon"></span>
                <span>{{feature.title}}</span>
            </div>
        </div>

        <div class="d-flex justify-content-end">
            <div class="d-flex flex-column text-right">
                <span class="from">From</span>
                <span class="price">RM {{packageItem.price | currencyShort}}</span>
            </div>
            <button
                    @click="getPackageInfo(packageItem.type)"
                    class="btn btn-gradient-get-info btn-gradient"
                    type="button">Get More Info
            </button>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'Package',
        props: {
            packageItem: {
                type: Object,
                default: () => ({})
            },
        },
        computed: {
            ...mapGetters([
                'imagesPath',
            ]),
            linkToPackage: function () {
                return '/rugby-world-cup-2019/packagedetail/' + this.packageItem.type;
            },
        },
        methods: {
            getPackageInfo(value) {
                window.location = this.linkToPackage//"/rwc2019/packagedetail/" + value;
            }
        }
    }
</script>