<template>
    <div class="d-flex align-items-center flex-wrap">
        <package :key="packageItem.type" :package-item="packageItem" v-for="packageItem in packagesList"></package>
    </div>
</template>

<script>
    export default {
        props: ['packages'],
        name: 'Packages',
        data() {
            return {
                packagesList: [{}]
            }
        },
        mounted() {
            this.packagesList = this.packages;
        }
    }
</script>