<template>
    <div class="package-details-ticket-wrapper">
        <div :class="`pool-${getTicketGroupClass(ticket.group)}`"
             class="d-flex flex-column justify-content-center package-details-ticket__pool"> {{ticket.group}}
        </div>
        <div class="d-flex package-details-ticket__categories" v-if="showCategories">
            <div :class="`cat-${getCategory(category)}`" :key="category.type" class="category"
                 v-for="category in categories">
                Category {{category}}
            </div>
        </div>
        <!-- MATCH -->
        <div class="match__block d-flex flex-column justify-content-between">
            <div class="match__date">
                {{ticket.date | moment("DD MMMM YYYY")}},
                (GMT+9) {{ticket.date | moment("HH:mm")}}
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex flex-column justify-content-center align-items-center participant">
                    <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${ticket.participant1_flag}')`}"
                         class="match__participant-flag"></div>
                    <div class="match__participant-country">{{ticket.participant1_name}}</div>
                </div>
                <div class="vs mb-4">V</div>
                <div class="d-flex flex-column justify-content-center align-items-center participant">
                    <div :style="{ backgroundImage: `url('${imagesPath}flags/sm/${ticket.participant2_flag}')`}"
                         class="match__participant-flag"></div>
                    <div class="match__participant-country">{{ticket.participant2_name}}</div>
                </div>
            </div>
            <div class="match__stadium">{{ticket.venue}}</div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'PackageDetailTicket',
        props: {
            ticket: {
                type: Object,
                default: () => ({})
            },
            showCategories: {
                type: Boolean,
                default: false,
            },
            dataCategory: {},
        },
        data() {
            return {
                categories: this.dataCategory
            }
        },
        computed: {
            ...mapGetters([
                'imagesPath',
            ]),
        },
        methods: {
            getTicketGroupClass(value) {
                if (value && value.indexOf('Pool') != -1) {
                    let group = value.split(' ');
                    return group[1].toLowerCase();
                } else {
                    return 'other';
                }
            },
            getCategory(type) {
                return type.toLowerCase();
            },
        }
    }
</script>