<template>
    <div class="package-details-flight-wrapper">
        <div class="d-flex justify-content-between align-items-center flight__pathway">
            <div class="d-flex flex-column text-left">
                <span class="city-short-name">{{flight.original.cityAbbr}}</span>
                <span class="city-full-name">{{getFlightCityFullName(flight.original.cityAbbr)}}</span>
            </div>
            <div class="d-flex flex-column text-right">
                <span class="city-short-name">{{flight.destination.cityAbbr}}</span>
                <span class="city-full-name">{{getFlightCityFullName(flight.destination.cityAbbr)}}</span>
            </div>
        </div>
        <div class="flight__info">
            <!-- ARRIVING -->
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column text-left w-33">
                    <span class="date">{{flight.original.dt | moment("ddd, DD MMM")}}</span>
                    <span class="time">{{flight.original.dt | moment("HH:mm")}}</span>
                    <span>{{flight.original.airport}}</span>
                </div>
                <div class="direction text-center w-33">ARRIVING</div>
                <div class="d-flex flex-column text-right w-33">
                    <span class="date">{{flight.original.dt | moment("ddd, DD MMM")}}</span>
                    <span class="time">{{flight.original.dt2 | moment("HH:mm")}}</span>
                    <span>{{flight.destination.airport}}</span>
                </div>
            </div>
            <!-- RETURNING -->
            <div class="d-flex justify-content-between">
                <div class="d-flex flex-column text-left w-33">
                    <span class="date">{{flight.destination.dt | moment("ddd, DD MMM")}}</span>
                    <span class="time">{{flight.destination.dt | moment("HH:mm")}}</span>
                    <span>{{flight.destination.airport}}</span>
                </div>
                <div class="direction text-center w-33">RETURNING</div>
                <div class="d-flex flex-column text-right w-33">
                    <span class="date">{{flight.destination.dt2 | moment("ddd, DD MMM")}}</span>
                    <span class="time">{{flight.destination.dt2 | moment("HH:mm")}}</span>
                    <span>{{flight.original.airport}}</span>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {mapGetters} from 'vuex';

    export default {
        name: 'PackageDetailFlight',
        props: {
            flight: {
                type: Object,
                default: () => ({})
            }
        },
        data() {
            return {
                flightNames: {
                    KUL: 'Kuala Lumpur',
                    SIN: 'Singapore',
                    DMK: 'Bangkok',
                    CGK: 'Jakarta'
                }
            }
        },
        computed: {
            ...mapGetters([
                'imagesPath',
            ]),
        },
        methods: {
            getFlightCityFullName(cityShortName) {
                if (cityShortName == 'HND') return 'Tokyo';
                return this.flightNames[cityShortName];
            },
        }
    }
</script>